<div class="account-page">
    <div class="container" v-if="notUser">
        <div class="modal">
        <div class="modal__inner">        
        <template v-if="step==1">
            <account-aside>
                <h4 class="modal__sidebar-title-1">Reset your password</h4>
                <h3 class="modal__sidebar-title-2">Please Confirm Your Email</h3>                
            </account-aside>
            <div class="modal__content">
                <div class="modal__content-header">
                    Have an account?
                    <router-link :to="URLS_LIST.ACCOUNT_LOGIN" >Sign In</router-link>
                </div>
                <h3 class="modal__content-title">Forgot Password?</h3> 
                <p>
                    Enter your email and press the button, we will send you verification code to reset your password.
                </p>               
                <form @submit.prevent="sendEmail" novalidate name="email" class="modal__content-form">                   
                    <div class="form-row">
                        <input-text label="Email" type="email"
                            v-model="forms.email.data"
                            name="email"
                            @reset-error="fieldResetError" 
                            :error="forms.email.vaildation.email"
                        >
                        </input-text>
                    </div>
                    <button class="form-btn" :disabled="forms.email.isDisabled" type="submit">Send</button> 
                </form>  
            </div>
        </template>
        <template v-if="step==2">
            <account-aside>
                <h4 class="modal__sidebar-title-1">Reset your password</h4>
              <h3 class="modal__sidebar-title-2">Verification Code sent!</h3>
             
            </account-aside>
            <div class="modal__content">
                <div class="modal__content-header">
                    Have an account?
                    <router-link :to="URLS_LIST.ACCOUNT_LOGIN" >Sign In</router-link>
                </div>
                <h3 class="modal__content-title">Verification code sent!</h3> 
                <p>
                    Please, enter a code sent to your email address to reset your password
                </p>               
                <form @submit.prevent="sendCode" novalidate name="code" class="modal__content-form">                   
                    <div class="form-row">
                        <verification-fields v-model="formData.token" />
                    </div>
                    <button class="form-btn" type="submit">Confirm</button> 
                </form>  
            </div>
                 
        </template>
        <template v-if="step==3">
            <account-aside>
                <h4 class="modal__sidebar-title-1">Reset your password</h4>
              <h3 class="modal__sidebar-title-2">Please, create a new password for your account</h3>           
            </account-aside> 
            <div class="modal__content">
                <div class="modal__content-header">
                    Have an account?
                    <router-link :to="URLS_LIST.ACCOUNT_LOGIN" >Sign In</router-link>
                </div>
                <h3 class="modal__content-title">Please, create a new password for your account</h3>                
                <form @submit.prevent="sendPassword" novalidate name="reset" class="modal__content-form">                   
                    <div class="form-row">
                        <input-password label="Password"
                            v-model="formData.password"
                            name="password"
                            @reset-error="fieldResetError" 
                            :error="forms.reset.vaildation.password" 
                        ></input-password>
                    </div>
                    <div class="form-row">
                        <input-password label="Confirm"
                            name="password_confirmation"
                            v-model="formData.password_confirmation"
                            @reset-error="fieldResetError" 
                            :error="forms.reset.vaildation.password_confirmation"
                        ></input-password>
                    </div>
                    <div class="account__form-message state_error" v-if="forms.reset.vaildation.token">
                        {{ forms.reset.vaildation.token }}
                    </div>
                    <button class="form-btn" :disabled="forms.reset.isDisabled" type="submit">Send</button> 
                </form>  
            </div> 
        </template>
        </div>
      </div>
    </div>
</div>    