<template src="./index.html">    
</template>
<script>
import AccountAside from '@/components/account/aside';
import VerificationFields from '@/components/forms/VerificationFields';
import formsMixin from '@/mixins/forms';
import { computed } from 'vue';
//TODO main logic
export default {    
    components: {
      "account-aside": AccountAside,
      "verification-fields" : VerificationFields  
    },
    mixins: [formsMixin],
    data() {
      return {
        step: 1,
        formData: {
          token: null,
          password: null,
          password_confirmation: null,
        },
        forms: {
          reset: {
            vaildation: {},
            isDisabled: false,            
          },
          email: {
            vaildation: {},
            isDisabled: false,
            data: null,
          }
        },

      }
    },
    methods: {
      sendEmail() {
        //if(! this.forms.email.data) return;
        this.forms.email.isDisabled = true;
        this.axios.post('auth/sign-in/reset-password', {email: this.forms.email.data})
        .then((response) =>{ 
            this.forms.email.isDisabled = false;
            this.step = 2;
        })
        .catch((err) => {         
            this.forms.email.isDisabled = false;
            this.insertFormErrors('email', err.response);
        });

        
      },
      sendCode() {
        if(! this.formData.token) return;   
        this.step = 3;
      },
      sendPassword() {        
        this.forms.reset.isDisabled = true;
        this.axios.post('auth/sign-in/change-password', this.formData)
        .then((response) =>{ 
            this.forms.reset.isDisabled = false;
            this.$router.replace(this.URLS_LIST.ACCOUNT_LOGIN);
        })
        .catch((err) => {         
           this.insertFormErrors('reset', err.response);
           this.forms.reset.isDisabled = false;
        });
      }
    },
   computed:  {
    notUser() {
        if(this.$store.state.auth.isAuth && this.$store.state.auth.isLoaded) {
             this.$router.replace(this.URLS_LIST.HOME);
        }
        return true;
        
    }
  }
} 

</script>