<template>
    <div class="player__main">
        <div class="container">
          <div class="player__content">
            <header class="player__content-header">
              <h2 class="player__content-title">Coming soon</h2>
            </header>
          </div>
        </div>
    </div>
</template>