<template>
<div class="account-page">
    <div class="container">
        <div class="modal">
        <div class="modal__inner">
          <account-aside>
              <h4 class="modal__sidebar-title-1">Sign In to Your Account</h4>
    <h3 class="modal__sidebar-title-2">Welcome Back!</h3>
    Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our 
    own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! 
    Show off what you know. Learn what you don't. And be a part of the best sports community out there!
          </account-aside>
          <div class="modal__content">
            <div class="modal__content-header">
              Don’t have an account? 
              <router-link :to="URLS_LIST.ACCOUNT_SIGNUP" >Sign Up</router-link>                
            </div>
            <h3 class="modal__content-title">Sign in to your Account</h3>
            <!--<h5 class="modal__content-sub-title">with Social Network</h5>

            <div class="social-btns">
              <a href="#" class="social-btn social-btn--twitter">Sign In with Twitter</a>
              <a href="#" class="social-btn social-btn--fb">Sign In with Facebook</a>
            </div>

            <div class="modal__separator">
              <span>or login with email address</span>
            </div>-->
            <form @submit.prevent="sendForm" name="login" class="modal__content-form">
                <div class="form-row">
                  <input-text v-model="formData.user"
                    :error="forms.login.vaildation[forms.login.userKey]"
                    name="user" 
                    @reset-error="fieldResetError"                   
                    label="User Name / Email">
                    </input-text>
                </div>
                <div class="form-row">
                  <input-password  v-model="formData.password" 
                  label="Password"
                  @reset-error="fieldResetError"
                  name="password"
                  :error="forms.login.vaildation.password"
                  ></input-password>
                </div>
                <div class="form-tools">
                <input-checkbox label="Keep Me Logged In"></input-checkbox>                
                  <router-link :to="URLS_LIST.ACCOUNT_RESET_PASSWORD" class="form-link" >Forgot Password?</router-link>                  
                </div>
                <button class="form-btn" :disabled="forms.login.isDisabled" type="submit">Sign In</button> 
            </form>           
          </div>
        </div>
      </div>
    </div>
</div>    
</template>
<script>
import AccountAside from '@/components/account/aside';
import formsMixin from '@/mixins/forms';

const arrangeFormData = (data) => {
    let result = {
        password: data.password
    };
    if(data.user && (data.user.indexOf('@') !== -1)) {
        result.email = data.user;
    } else {
        result.username = data.user;
    }
    return result;
};
export default {
    mixins: [formsMixin],
    components: {
      "account-aside": AccountAside,
    },
    data() {
      return {
        formData: {
          user: null,
          password: null,
          isSave: false
        },
        forms: {
          login: {
            vaildation: {},
            isDisabled: false,
            userKey: 'username',
            proxyKeys: {
              user: ['username', 'email']
            }
          }
        },
        
      }
    },
    methods: {      
      sendForm() {
        const data = arrangeFormData(this.formData);        
        this.forms.login.userKey = (data.email) ? 'email' : 'username'; 
        this.forms.login.isDisabled = true;  
        this.axios.post('auth/sign-in', data)
        .then((response) =>{
          console.log('response', response);
          this.$store.commit('auth/setToken', response.data);
          this.$store.dispatch('auth/forceUpdate');
          this.forms.login.isDisabled = false;
          this.$router.replace(this.URLS_LIST.DASHBOARD); 
          //TODO
        })
        .catch((err) => {         
           this.insertFormErrors('login', err.response);
           this.forms.login.isDisabled = false;
        });
        ///sign-in       
      }
    }

}
</script>