<template>
    <div class="base-scale">
        <div class="base-scale__fill" :style="{ clipPath : 'inset(0 ' + rest + '0 0 round 3px)'}">            
        </div>
    </div>    
</template>
<script>
export default {
    name: 'base-scale',
    props: {       
        rest: {type: String, default: '100%'},
    },
}
</script>