<template>
    <div class="grade">
        <div class="grade__top">
            <div class="grade__top-label">{{ label }}</div>
            <div class="grade__top-val">{{ value}}</div>
        </div>        
        <base-scale :rest="scaleRest" />
        <div class="form-slider__marks-row">
            <div class="form-slider__marks-col form-slider__marks-col_left"
            v-html="markLeft">
            </div>
            <div class="form-slider__marks-col form-slider__marks-col_center"
            v-html="markCenter">
            </div>
            <div class="form-slider__marks-col form-slider__marks-col_right"
            v-html="markRight">
            </div>
        </div>
    </div>
</template>
<script>
import BaseScale from './BaseScale';
export default {
    name: 'bottom-labels-scale',
    components: {
        'base-scale': BaseScale
    },
    props: {       
        label: {type: String, default: null},        
        value: {type: [String, Number] },
        markLeft: {type: String},
        markCenter: {type: String},
        markRight: {type: String}
    },
    computed: {
        scaleRest() {           
            let val = this.value;
            if(typeof val === "string") {
                val = parseFloat(val);
            } else if(typeof this.value !== 'number') {
                return '100%';
            }
            if( isNaN(val)) return '100%';
            val = 100 - (val + 50);
            if(val > 100) val = 100;
            if(val < 0) val = 0;
            return val.toFixed() + '%';
        }
    }
}
</script>