<template>
    <div class="grade">
        <div class="grade__top">
            <div class="grade__top-label">{{ label }}</div>
            <div class="grade__top-val">{{ value}}</div>
        </div>        
        <base-scale :rest="scaleRest" />
         <div class="opt-comment" v-if="comment">
          <div class="opt-comment__wrap opt-comment__wrap_show">
                    {{ comment }}
          </div>
      </div>
    </div>
</template>
<script>
import BaseScale from './BaseScale';
export default {
    name: 'commented-scale',
    components: {
        'base-scale': BaseScale
    },
    props: {       
        label: {type: String, default: null},
        comment: {type: String, default: null},
        value: {type: [String, Number] },
    },
    computed: {
        scaleRest() {
            if(! this.value) return '100%';
            let val = this.value;
            if(typeof val === "string") {
                val = parseFloat(val);
            }
            if( isNaN(val)) return '100%';
            val = 100 - (val * 10);
            return val.toFixed() + '%';
        }
    }
}
</script>