<template>
    <div class="player__main">
        <div class="container">
          <div class="player__content player__content--fullwidth">

            <div class="player__report">
              <div class="player__report-col">

                <div class="player__content-item">
                  <h2 class="player__content-title">About Reviewer</h2>
                  <figure class="player-item player-item--indent">
                    <div class="player-item__img">
                      <img src="/assets/images/player-img-1.png" alt="">
                    </div>
                    <figcaption class="player-item__caption"><h5 class="player-item__name">Josie Hernandez</h5>
                      <div class="player-item__rank">Senior Fanalyst</div>
                    </figcaption>
                  </figure>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                </div>

                <div class="player__content-item">
                  <h2 class="player__content-title">Analytics</h2>
                  <dl class="player__content-list">
                    <dt>Strengths</dt>
                    <dd>
                      Strength, blocking, toughness, yards after reception, and efficiency.
                    </dd>
                    <dt>Weaknesses</dt>
                    <dd>Speed, route running</dd>
                    <dt>Overall Analysis</dt>
                    <dd>
                      Josh Jacobs is projected as the No. 1 running back prospect in this draft for most NFL scouts. The most impressive aspect of Jacobs is his strength. His ability to break tackles is nearly unmatched. When you couple Jacobs’ strength with his incredible patience, balance, and vision, you get a running back who is able to turn potential no gains and negative runs into miraculous runs. According to Pro Football Focus’ Mike Renner, 41% of Jacobs’ runs went for a TD or first down. Jacobs is a reliable goal-line option in the red-zone due to his knack to rush for every inch on every play. His blocking is also excellent due to his ability to push around defensive linemen twice his size and pancake linebackers. The only cons with Jacobs pertain to his speed and usage in the passing game. He lacks the speed needed to beat defenders on the outside or consistently make people miss in open space. His route tree is limited to mainly bubble screens and wheel routes, but when he was his run after the catch is above average.
                    </dd>
                  </dl>
                </div>

                <div class="player__compares">
                  <figure class="player-item player-item--indent">
                    <div class="player-item__img">
                      <img src="/assets/images/player-img-1.png" alt="">
                    </div>
                    <figcaption class="player-item__caption"><h5 class="player-item__name">Josie Hernandez</h5>
                      <div class="player-item__position">Soccer Striker</div>
                    </figcaption>
                  </figure>
                  <figure class="player-item player-item--indent">
                    <div class="player-item__img">
                      <img src="/assets/images/player-img-1.png" alt="">
                    </div>
                    <figcaption class="player-item__caption"><h5 class="player-item__name">Josie Hernandez</h5>
                      <div class="player-item__position">Soccer Striker</div>
                    </figcaption>
                  </figure>
                </div>

              </div>
              <div class="player__report-col">

                <h2 class="player__content-title">Stats</h2>

                <img src="/assets/images/stats-demo-img.png" alt="">
                <img src="/assets/images/stats-demo-img.png" alt="">
                <img src="/assets/images/stats-demo-img.png" alt="">
                <img src="/assets/images/stats-demo-img.png" alt="">
                <img src="/assets/images/stats-demo-img.png" alt="">

              </div>
            </div>

          </div>
        </div>
    </div>
</template>