<template>    
    <mcw-dialog    
        escape-key-action="close"
        scrim-click-action="close"
        aria-labelledby="my-basic-title"
        aria-describedby="my-basic-content"
        :auto-stack-buttons="true"
        :scrollable="true" 
        class=""      
        >       
        <mcw-dialog-content>
            <div>
                test content
            </div>
        </mcw-dialog-content>
    </mcw-dialog>
</template>
<script>

export default {    
}
</script>