<template src="./index.html">   
</template>
<script>
import PlayerAsideIntro from '@/components/intro/PlayerAsideIntro';
import SliderZeroCenter from '@/components/forms/SliderZeroCenter';
import SliderWithComment from '@/components/forms/SliderWithComment';
import AjaxSearchMultiSelect from '@/components/forms/AjaxSearchMultiSelect';

import { getProxyData } from './utils.js';

export default {
  components: {
    'player-aside-intro': PlayerAsideIntro,
    "slider-zero-center" : SliderZeroCenter,
    "slider-with-comment" : SliderWithComment,
    'select-many-ajax-search': AjaxSearchMultiSelect  
  },
  data: function() {
    return {
       step: 1,
       sliders: getProxyData(),
       second: {
          pot: 0,
          txt1: null,
          txt2: null,
          txt3: null,
          tags: []
       },
       test: null
    }
  },
  methods: {    
    async getSports(query) {        
        let res = await this.axios.get('sport', {params : {name: query, limit: 20}});          
        return res.data;
    },
    goToStep(val) {
      this.step = val;
    },
    saveReport() {
      //TODO
    }
  }
}
</script>