<div class="player-data">
    <div class="container">
      <div class="player-data__inner">
          <!--player banner TODO-->
        <player-aside-intro />
        <!--end player banner-->
        <template v-if="step === 1">
            <div class="player-data__content">
            <h2 class="player-data__content-title">Step1: Stats Overview</h2>

            <div class="player-data__row" v-for="item in sliders" :key="item.name">
              <slider-with-comment 
                  v-model:value="item.value"
                  v-model:comment="item.comment"
                  :label="item.label"                
              />
            </div>           

            <div class="player-data__btn">
                <button class="btn btn--continue" type="button" @click="goToStep(2)">
                    Save and Continue to Analytics Overview
                </button>
            </div>

            </div>
        </template>
        <template v-if="step === 2">
            <div class="player-data__content">
                <h2 class="player-data__content-title">Step2: Analytics Overview</h2>
    
                <h2 class="player-data__content-title player-data__content-title--2"><b>Analytics</b></h2>
    
                <div class="player-data__row player-data__row--potential">
                  <slider-zero-center 
                    v-model="second.pot"
                    label="Potential"
                    markLeft="Untapped <br/>potential"
                    markCenter="Peak <br/>potential"
                    markRight="Post <br/>speak"
                  />                  
                </div>
    
                <div class="player-data__row">
                  <h3 class="player-data__row-label">Strengths</h3>
                  <input-textarea 
                    label="Describe Player's Strengths"
                    v-model="second.txt1"
                  />                  
                </div>
    
                <div class="player-data__row">
                  <h3 class="player-data__row-label">Weaknesses</h3>
                  <input-textarea 
                    label="Describe Player's Weaknesses"
                    v-model="second.txt2"
                  /> 
                </div>    
                <div class="player-data__row">
                  <h3 class="player-data__row-label">Overall Analysis</h3>
                  <input-textarea 
                    label="Your Overall Impression of the Player"
                    v-model="second.txt3"
                  />
                </div>                
                <div class="player-data__row">
                  <h3 class="player-data__row-label">Compares to</h3>
                  <select-many-ajax-search 
                    label=""
                    v-model="second.tags"                    
                    name="tags"
                    :options="getSports"
                    :isValueObject="true"
                    formName="introduce"                    
                  />                  
                </div>    
                <div class="player-data__btns">
                  <button class="btn btn--outline" type="button" @click="goToStep(1)">Back to Stats</button>
                  <button class="btn" type="button" @click="saveReport">Send Your Scouting Report</button>
                </div>    
              </div>
        </template>
      </div>
    </div>
  </div>