<div class="account-page">
    <div class="container">
        <div class="modal">
        <div class="modal__inner">
        <template v-if="steps.current==1">
            <account-aside>
                <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
                <h3 class="modal__sidebar-title-2">Please Confirm Your Email</h3>
                Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </account-aside>
            <step-one-block @nextStep="nextStep" @updateUserData="updateUserData">

            </step-one-block>
        </template>
        <template v-if="steps.current==2">
            <account-aside>
                <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
              <h3 class="modal__sidebar-title-2">Please Confirm Your Email</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
        
            </account-aside>
            <step-two-block @nextStep="nextStep" :userData="userData">

            </step-two-block>           
        </template>
        <template v-if="steps.current==3">
            <account-aside>
                <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
              <h3 class="modal__sidebar-title-2">Comlete your Account</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
           
            </account-aside>  
            <step-three-block @nextStep="nextStep" @updateUserData="updateUserData" :userData="userData"
            >
            </step-three-block>        
        </template>
        <template v-if="steps.current==4">
            <account-aside>
                <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
              <h3 class="modal__sidebar-title-2">Comlete your Account</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            
            </account-aside>
            <step-four-block @nextStep="nextStep" @prevStep="prevStep" @updateUserData="updateUserData" :userData="userData"
            >
            </step-four-block>
        </template>
        <template v-if="steps.current==5">
            <account-aside>
                <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
                <h3 class="modal__sidebar-title-2">Comlete your Account</h3>
                Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            
            </account-aside>
            <step-five-block @nextStep="nextStep" @prevStep="prevStep" :userData="userData"
            >
            </step-five-block>
        </template>
        </div>
      </div>
    </div>
</div>    