<template src="./index.html">    
</template>
<script>
import AccountAside from '@/components/account/aside';
import StepOneBlock from './step1';
import StepTwoBlock from './step2';
import StepThreeBlock from './step3';
import StepFourBlock from './step4';
import StepFiveBlock from './step5';

import { defaultAvatar } from '@/static-data/user.js';

//TODO main logic
export default {    
    components: {
      "account-aside": AccountAside,
      "step-one-block": StepOneBlock,
      "step-two-block": StepTwoBlock,
      "step-three-block": StepThreeBlock,
      "step-four-block": StepFourBlock,
      "step-five-block": StepFiveBlock,
      
    },
    data() {
      return {
        steps: {
            current: 1,
            progress: 1,
            maxStep: 5,
        },
        userData: {
          email: null,
          username: null,
          full_name: null,
          avatar: defaultAvatar,
          phone_number: null, 
          country: null, 
          postcode: null,
          state: null,
          city: null,
          street: null,
          team_ids: [],
          sport_ids: [],
          about: '',     

        },
      }
    },
    methods: {
        nextStep() {
          if (this.steps.current < 5) {
             this.steps.current++;
          } else if (this.steps.current === 5) {
            this.$router.replace(this.URLS_LIST.DASHBOARD);
          }
        },
        prevStep() {
          if (this.steps.current > 3) {
             this.steps.current--;
          }
        },
        updateUserData(payload) {
          const keys = Object.keys(this.userData);
          keys.forEach((key) => {
            if(typeof payload[key] !== "undefined") {
               this.userData[key] = payload[key];
            }
          });
          if(! this.userData.avatar) {
              this.userData.avatar = defaultAvatar;
          }
        }
    }
}
</script>