<template>
    <div class="modal__content">
        <div class="modal__content-header">
            Have an account?
            <router-link :to="URLS_LIST.ACCOUNT_LOGIN" >Sign In</router-link>
        </div>
        <h3 class="modal__content-title">Sign Up to Fanteractive</h3>
        <h5 class="modal__content-sub-title">Let’s Create your Account</h5>
        <form @submit.prevent="sendForm" novalidate name="signup" class="modal__content-form">
            <div class="form-row">
                <input-text label="User Name"
                    v-model="formData.username"
                    :error="forms.signup.vaildation.username"
                    name="username"
                    @reset-error="fieldResetError"  
                >
                </input-text>
            </div>
            <div class="form-row">
                <input-text label="Email" type="email"
                    v-model="formData.email"
                    :error="forms.signup.vaildation.email"
                    name="email"
                    @reset-error="fieldResetError"  
                >
                </input-text>
            </div>
            <div class="form-row">
                <input-password label="Password"
                    v-model="formData.password"
                    name="password"
                    @reset-error="fieldResetError" 
                    :error="forms.signup.vaildation.password" 
                ></input-password>
            </div>
            <div class="form-row">
                <input-password label="Confirm"
                    name="password_confirmation"
                    v-model="formData.password_confirmation"
                    @reset-error="fieldResetError" 
                    :error="forms.signup.vaildation.password_confirmation"
                ></input-password>
            </div>

            <div class="form-tools">
                <input-checkbox
                    v-model="formData.agree"
                    name="agree"
                    :error="forms.signup.vaildation.agree" 
                    @reset-error="fieldResetError" 
                    label="I have read the <b>Terms and Conditions.</b>">
                </input-checkbox>
            </div>
            <button class="form-btn" :disabled="forms.signup.isDisabled" type="submit">Sign Up Now</button> 
        </form>  
    </div>
</template>
<script>
import formsMixin from '@/mixins/forms';

export default {
    mixins: [formsMixin],
    emits: ['nextStep', 'updateUserData'],
    data() {
      return {
        formData: {
          username: null,
          email: null,
          password: null,
          password_confirmation: null,
          agree: false,
        },
        forms : {
            signup: {
                vaildation: {},
                isDisabled: false,                
            }
        }
      }
    },
    methods: {
      sendForm() {
          console.log('formData', this.formData); 
          if(! this.formData.agree) { 
              this.forms.signup.vaildation.agree = "Please, accept.";
              return;              
          }        
        this.forms.signup.isDisabled = true;  
        this.axios.post('auth/sign-up', this.formData)
        .then((response) =>{
            console.log('response', response);
            this.forms.signup.isDisabled = false;
            this.$store.commit('auth/setToken', response.data);
            this.$store.dispatch('auth/forceUpdate');
            this.$emit('updateUserData', this.formData);
            this.$emit('nextStep');
        })
        .catch((err) => {         
           this.insertFormErrors('signup', err.response);
           this.forms.signup.isDisabled = false;
        });
            
      }
    }
}
</script>