<template>
  <div class="modal__content">
    <div class="modal__steps">
      <div class="modal__steps-item state-active">
        Main Information
      </div>
      <div class="modal__steps-item state-active">
        Introduce Yourself
      </div>
      <div class="modal__steps-item">
        Complete
      </div>
    </div>

    <div class="modal__intro">
      <h3 class="modal__content-title">Introduce Yourself</h3>
      <p>A short text that explains the difference between the two roles. And what is the functionality of the selected role</p>
    </div>
    <form @submit.prevent="sendForm" novalidate name="introduce" class="modal__content-form">
      <div class="form-row">       
        <select-many-ajax-search 
          label="Your Sport Rating"
          v-model="formData.sport_ids"
          :error="forms.introduce.vaildation.sport_ids"
          name="sport_ids"
          :options="getSports"
          :isValueObject="true"
          formName="introduce"
          @reset-error="fieldResetError"
        />
      </div>
      <div class="form-row">
        <select-many-ajax-search 
        label="Favorite Teams"
         v-model="formData.team_ids"
        :error="forms.introduce.vaildation.team_ids"
        name="team_ids"
        formName="introduce"
        :isValueObject="true"
        :options="getTeams"
        @reset-error="fieldResetError"
      />       
      </div> 
      <div class="form-row">
        <input-max-symbols
          v-model="formData.about"
          label="About me"
          name="about"
          formName="introduce"
          :limit="180"
          :error="forms.introduce.vaildation.about"
          @reset-error="fieldResetError" 
        />
      </div>      
      <div class="modal__btns">
        <button class="form-btn" type="button" :disabled="forms.introduce.isDisabled" @click="backToNext">Back</button> 
        <button class="form-btn" type="submit" :disabled="forms.introduce.isDisabled">Continue</button>
      </div>
    </form>
  </div>    
</template>
<script>
import formsMixin from '@/mixins/forms';
import InputMaxSymbols from '@/components/forms/InputMaxSymbols';
import AjaxSearchMultiSelect from '@/components/forms/AjaxSearchMultiSelect';
export default {
    components: { 
      'input-max-symbols':  InputMaxSymbols,     
      'select-many-ajax-search': AjaxSearchMultiSelect 
    },
    props: { 
        userData: {type: Object, default: null}
    }, 
    mixins: [formsMixin],
    emits: ['nextStep', 'prevStep','updateUserData'],
    data() {
      return {
        formData: { 
          team_ids: [],
          sport_ids: [],
          about: '',          
        },        
        forms : {
            introduce: {
                vaildation: {               
                },
                isDisabled: false,                
            }
        }
      }
    },
    mounted() {
      Object.keys(this.formData).forEach((key) => {
          if(typeof this.userData[key] !== "undefined") {
            this.formData[key] = this.userData[key];
          }
      });
    },   
    methods: {
      async getSports(query) {        
          let res = await this.axios.get('sport', {params : {name: query, limit: 20}});          
          return res.data;
      },
      async getTeams(query) {        
          let res = await this.axios.get('team', {params : {name: query, limit: 20}});          
          return res.data;
      },
      sendForm() { 
        console.log(this.formData); 
        let data = this.getDouble(this.formData);
        data.team_ids = this.extractIds(this.formData.team_ids);
        data.sport_ids = this.extractIds(this.formData.sport_ids);
        this.forms.introduce.isDisabled = true;  
        this.axios.post('auth/sign-up/introduce-yourself',data)
        .then(() =>{           
            this.forms.introduce.isDisabled = false;           
            this.$emit('updateUserData', this.formData);
            this.$emit('nextStep');
        })
        .catch((err) => {         
           this.insertFormErrors('introduce', err.response);
           this.forms.introduce.isDisabled = false;
        });
      },
      backToNext() {
          this.$emit('prevStep');
      }
    }
}
</script>