<template>
<div class="modal__content">
    <div class="modal__verification">
        <div class="modal__verification-inner">

        <div class="modal__verification-icon">
            <img src="/assets/images/verification-icon.png" alt="">
        </div>

        <h2 class="modal__content-title">Verification link sent!</h2>

        <p>We’we sent you five-digit confirmation code to email <strong v-if="userData">{{ userData.email }}</strong> Please enter it in form below</p>
        <div class="modal__content-form">
            <verification-fields v-model="code" />
        </div>
        <div class="account__form-message" v-if="msg.text"
            :class="{'state_error': this.msg.type == 'error', 'state_success': this.msg.type == 'success'}">
            {{ msg.text }}
        </div>
        <button class="form-btn" type="button" @click="sendForm">Confirm</button>        
        <div class="modal__verification-comment">
            Didn’t get a confirmation email? <br>
            Check your spam folder or <a href="javascript:void(0);" @click="resendCode" role="button" class="form-link resend-link">Resend Mail</a>
        </div>

        </div>
    </div>
</div>    
</template>
<script>

import VerificationFields from '@/components/forms/VerificationFields';
export default {
    props: { 
        userData: {type: Object, default: null}
    },
    emits: ['nextStep'],
    components: {       
        "verification-fields" : VerificationFields       
    },
    data() {
      return {
        code: null,
        isSending: false,
        msg: {
            text: null,
            type: null,
        }        
      }
    },
    methods: {        
        sendForm() {           
            if( this.code.length < 5 ) return;
            console.log(this.code);
            this.axios.post('auth/sign-up/verification', {token: this.code})
            .then((response) =>{
                console.log('response', response);
                this.$emit('nextStep');           
            })
            .catch((err) => {    console.log(err.response);    
                this.setMsg("The verification code is invalid.", "error"); 
            });
        },
        resendCode() { 
            //todo resend
            //this.setMsg("The verification code is resent.", "success");
            this.axios.post('auth/sign-up/resend')
            .then((response) =>{
                console.log('response', response);
                this.setMsg("The verification code is resent.", "success");       
            })
            .catch((err) => {    console.log(err.response);    
                this.setMsg("Some error.", "error");
            });
            return false;           
        },
        setMsg(msg, type) {
            let vm = this;
            vm.msg.text = msg;
            vm.msg.type = type;
            setTimeout(() => {
                vm.msg.text = null;
                vm.msg.type = null;
            }, 120000);
        }
    }      
}
</script>

