<template>
  <div class="modal__content">
            <div class="modal__steps">
              <div class="modal__steps-item state-active">
                Main Information
              </div>
              <div class="modal__steps-item state-active">
                Introduce Yourself
              </div>
              <div class="modal__steps-item state-active">
                Complete
              </div>
            </div>

            <div class="modal__success">
              <div class="modal__success-icon">
                <img src="/assets/images/success-icon.png" alt="">
              </div>
              <h3 class="modal__content-title">Your Fanalyst Account Is Ready!</h3>
              <p>Account <span v-if="userData">{{ userData.email }} </span> Successfully Updated! <br>
              Check if you entered the data correctly and click the Finish button.</p>
            </div>

            <figure class="modal__user"  v-if="userData">
              <div class="modal__user-img">
                <div class="avatar-wrap">
                  <img :src="userData.avatar" alt="">
                </div>
              </div>
              <figcaption class="modal__user-caption">
                <h3 class="modal__user-name">{{ userData.full_name }}</h3>
                Tier: Fanalyst
              </figcaption>
            </figure>

            <div class="modal__btns">
              <button class="form-btn" type="button" @click="backToNext">Back</button>
              <button class="form-btn" type="button" @click="finish">Finish</button>              
            </div>

          </div>    
</template>
<script>
export default {  
    props: { 
        userData: {type: Object, default: null}
    }, 
    emits: ['nextStep', 'prevStep'],
    data() {
      return {
        
      }
    },
    methods: {
      finish() {            
          this.$emit('nextStep');
      },
      backToNext() {
          this.$emit('prevStep');
      }
    }
}
</script>