<template>
<avatar-modal v-model="isAvatarModalOpen" @uploaded="updateAvatar">
    </avatar-modal>
 <div class="modal__content">
  <div class="modal__steps">
    <div class="modal__steps-item state-active">
      Main Information
    </div>
    <div class="modal__steps-item">
      Introduce Yourself
    </div>
    <div class="modal__steps-item">
      Complete
    </div>
  </div>

  <div class="modal__intro">
    <h3 class="modal__content-title">Main Information</h3>
    <p>A short text that explains the difference between the two roles. And what is the functionality of the selected role</p>
  </div>
  <div class="profile-avatar">
    <div class="profile-avatar__img" v-if="userData"><img :src="userData.avatar" alt=""></div>
    <figcaption class="profile-avatar__caption">
      <a href="javascript:void(0);" @click="isAvatarModalOpen = true" role="button">Set Profile Image</a>
    </figcaption>
  </div>
  <form @submit.prevent="sendForm" novalidate name="usermain" class="modal__content-form">
    <div class="form-row">
      <input-text label="Full Name"
          v-model="formData.full_name"
          :error="forms.usermain.vaildation.full_name"
          name="full_name"
          @reset-error="fieldResetError" 
        >
      </input-text>
    </div>
    <div class="form-row">
        <input-text label="Phone number" v-maska="['+# (###) ###-##-##', '+# (###) ##-##-##']"
          v-model="formData.phone_number"
          :error="forms.usermain.vaildation.phone_number"
          name="phone_number"
          @reset-error="fieldResetError" 
      >
      </input-text>
    </div>
    <div class="form-row" data-layout="2">
      <select-one-search label="Country"
          v-model="formData.country"
          :error="forms.usermain.vaildation.country"
          name="country"
          formName="usermain"
          :isValueObject="true"
          :options="statical.countries"
          @reset-error="fieldResetError" 
        />
      <input-text label="Zip / Postal Code"
          v-model="formData.postcode"
          :error="forms.usermain.vaildation.postcode"
          name="postcode"
          @reset-error="fieldResetError" 
      >
        </input-text>
    </div>
    <div class="form-row" data-layout="2">
      <input-text label="State"
          v-model="formData.state"
          :error="forms.usermain.vaildation.state"
          name="state"
          @reset-error="fieldResetError" 
      >
        </input-text>
      <input-text label="City"
          v-model="formData.city"
          :error="forms.usermain.vaildation.city"
          name="city"
          @reset-error="fieldResetError" 
      >
      </input-text>
    </div>
    <div class="form-row">
        <input-text label="Address" 
          v-model="formData.street"
          :error="forms.usermain.vaildation.street"
          name="street"
          @reset-error="fieldResetError" 
      >
      </input-text>
    </div>
    
    <div class="modal__btns">
      <button class="form-btn" type="submit">Continue</button>               
    </div>
  </form>    
</div>    
</template>
<script>
import formsMixin from '@/mixins/forms';
import SearchSelect from '@/components/forms/SearchSelect';
import AvatarModal from '@/components/account/avatar';

export default {
    components: {       
      'select-one-search' : SearchSelect,
      "avatar-modal" : AvatarModal, 
    },
    props: { 
        userData: {type: Object, default: null}
    },
    mixins: [formsMixin],
    emits: ['nextStep', 'updateUserData'],
    data() {
      return {
        formData: {
          'full_name': null, 
          'phone_number': null, 
          'country': null, 
          'postcode': null,
          'state': null,
          'city': null,
          'street': null      
        },        
        forms : {
            usermain: {
                vaildation: {},
                isDisabled: false,                
            }
        },
        isAvatarModalOpen: false,
        statical: {
          mainCode: 'US',
          countries: [],
          //TODO
        }
      }
    },
    mounted() {        
        this.axios.get('location/country')
        .then((response) =>{
            let countries = [];
            if(response.data) {
               const data = response.data;               
               Object.keys(data).forEach((key) => {
                 countries.push({ id: key, name: data[key]});
               });
            }
            if(! this.formData.country) {
                let mainCountry = countries.find((el) => {
                    return (el.id == this.statical.mainCode);
                });
                if(mainCountry) {
                  this.formData.country = mainCountry;
                }
            }            
            countries.sort((a, b) => {
                if(a.id == this.statical.mainCode) {
                   return -1;                  
                }
                if(b.id == this.statical.mainCode) {
                   return 1;                  
                }

                if (a.name > b.name) {
                  return 1;
                }
                if (a.name < b.name) {
                  return -1;
                }
                return 0;
            });

            this.statical.countries = countries;
            console.log('response countries', countries);                
        })
        .catch((err) => {    console.log(err.response); 
        });      
      Object.keys(this.formData).forEach((key) => {
          if(typeof this.userData[key] !== "undefined") {
            this.formData[key] = this.userData[key];
          }
      });
//         {
// 	"country": "USA",
// 	"code": "72044",
// 	"state": "AR",
// 	"locality": "Edgemont"
// }
    },
    computed: {
      zip() {
        return this.formData.postcode;
      }
    },
    watch: {
      zip() {
        if((this.extractId(this.formData.country) == this.statical.mainCode)
          && (this.formData.postcode && (this.formData.postcode.length === 5))) {
            this.checkPostCode();
        }
        console.log(this.formData.postcode);
      }
    },
    methods: {
      updateAvatar(payload) {
        this.isAvatarModalOpen = false;
        this.$emit('updateUserData', payload);
        this.$store.dispatch('auth/forceUpdate');
      },
      sendForm() {  
        let data =  this.getDouble(this.formData);
        data.phone_number = data.phone_number.replace(/\D+/g, '');
        data.country = this.extractId(this.formData.country);
        console.log('formData', data);
        this.forms.usermain.isDisabled = true;  
        this.axios.post('auth/sign-up/main-information', data)
        .then((response) =>{
            console.log('response', response);
            this.forms.usermain.isDisabled = false;            
            this.$emit('updateUserData', data);
            this.$store.dispatch('auth/forceUpdate');
            this.$emit('nextStep');            
        })
        .catch((err) => {         
           this.insertFormErrors('usermain', err.response);
           this.forms.usermain.isDisabled = false;
        });        
      },
      checkPostCode() {
        this.axios.get('location/postcode', {params : {code: this.formData.postcode}})
        .then((response) =>{
          if(response.data) {
             const res = response.data;
             if(res.locality) {
                this.formData.city = res.locality;
             }
             if(res.state) {
                this.formData.state = res.state;
             }            
          }              
        })
        .catch((err) => {    console.log(err.response); 
        });
      }

    }
}
</script>