.dashboard__user-avatar {
    max-width: 100px;
    margin: 0 auto;
}

.dashboard{
	
	&__sidebar{
		min-width: 230px;
		width: 23.5%;
		padding: 15px 0 0;
	}

	&__user{
		text-align: center;
		padding-bottom: 16px;
	}

	&__user-caption{
		padding: 8px 0 0;
	}

	&__user-name{
		color: #00293b;
		font-size: 22px;
		line-height: 1;
		font-weight: 700;
		margin-bottom: 2px;
	}

	&__user-level{
		color: #7d86a9;
		font-size: 16px;
		font-weight: 500;
	}

	&__nav{
		padding: 0 0 30px 5px;
	}

	&__nav-item{

	}

	&__nav-link{
		display: block;
		padding: 10px 0;
		//vertical-align: middle;

        &::before{
            content: '';
            height: 100%;
            display: inline-block;
            padding: 10px 0;
        }

        span, i {
            display: inline-block;
            vertical-align: middle;
        }
        
        .fan-icon {
            color: #7D86A9;
            text-align: center;
            font-size: 24px;
            padding-right: 15px;
            width: 45px;
        }

		span {
            font-size: 14px;
            font-weight: 800;
            letter-spacing: -0.19px;
            line-height: 30px;
        }

		&:hover,
		&.state-active{
			color: #417505;

            .fan-icon {
                color: #417505;
            }
		}
	}

	// &__banner{
	// 	height: 270px;
	// 	border-radius: 5px;
	// 	background-color: #001924;
	// 	padding: 19px 15px;
	// 	text-align: center;
	// 	font-size: 15px;
	// 	font-weight: 500;
	// 	letter-spacing: -0.33px;
	// 	color: #fff;
	// 	background-repeat: no-repeat;
	// 	background-size: cover;

	// 	p{
	// 		margin-bottom: 15px;
	// 	}
	// }

	// &__banner-title{
	// 	color: #ffffff;
	// 	font-family: $font-family;
	// 	font-size: 18px;
	// 	line-height: 1.5;
	// 	font-weight: 700;
	// 	letter-spacing: 0.01px;
	// 	text-transform: uppercase;
	// 	margin-bottom: 5px;
	// }

	// &__banner-btn{
	// 	line-height: 40px;
	// 	display: block;
	// 	font-family: $font-nunito;
	// 	color: #ffffff;
	// 	font-size: 16px;
	// 	font-weight: 900;
	// 	letter-spacing: 0;
	// 	text-transform: none;
	// }

}