.mdc-dialog.avatar-modal {
    z-index: 100;
    .mdc-dialog__container {        
        max-width: 600px;
        width: 100%;
    }
    .mdc-dialog__surface {
        max-width: 600px;
        width: 100%;
    }
}
.avatar-modal {
    &__cropper {
        max-height: calc(100vh - 100px);
        height: 600px;
        margin-bottom: 20px;
    }

    &__msg {
        margin-bottom: 6px;
        color: #000;
        font-size: 12px;
    }
    &__btn-wrap {
        padding-bottom: 10px;
    }
    &__load {
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 10px;
        input {
            display: none;
        }
        .btn {
            margin-right: 10px;
        }
        .name {
            font-size: 14px;
        }
    }

}

.avatar-wrap {
    @include avatar-image();
}
