.filter{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: rgba(#00131B, .49);
	opacity: 0;
	visibility: hidden;
	transition: all ease 250ms;

	&.state-active{
		visibility: visible;
		opacity: 1;
	}

	&__inner{
		width: 376px;
		background: #FFFFFF;
		box-shadow: -25px 0px 32px rgba(0, 0, 0, 0.12388);
		border-radius: 9px;
		padding: 25px 20px;
		font-family: $font-nunito;
		position: relative;
	}

	&__part{
		margin-bottom: 40px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__part-title{
		font-weight: 800;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		letter-spacing: -0.6px;
		margin-bottom: 20px;
	}

	&__tags{
		margin-bottom: 45px;
	}

	&__tags-label{
		font-weight: 700;
		font-size: 17px;
		line-height: 24px;
		color: #00293B;
		margin-bottom: 15px;
	}

	&__clear-btn{
		display: inline-block;
		position: absolute;
		right: 20px;
		top: 25px;
		background: none;
		border: none;
		font-size: 12px;
		text-transform: uppercase;
		font-family: $font-nunito;
		font-weight: 700;
		cursor: pointer;
		color: #D0021B;
	}
}