.footer {
	color: #72b9d8;
  background-color: #00293b;
  padding: 94px 0;
  font-family: $font-nunito;
  font-size: 14px;
  font-weight: 500;

  a{
  	color: #fff;

  	&:hover{
  		color: $accent-color;
  	}
  }

  &__logo{
  	margin-bottom: 15px;
  }

  &__inner{
  	display: flex;
  	justify-content: space-between;
  	align-items: flex-start;
    flex-wrap: wrap;
  }

  &__col-title{
  	color: #ffffff;
		font-size: 12px;
		font-weight: 500;
		padding: 10px 0 0;
		text-transform: uppercase;
		margin-bottom: 36px;
  }

  &__col{
    padding-right: 20px;

  	&--lg{
  		width: 300px;
  	}

  	&--md{
  		width: 160px;
  	}
  }

  &__list{
  	li{
  		margin-bottom: 20px;
  	}
  }

  &__links{
  	li{
  		margin-bottom: 10px;
  	}
  }

  &__social{
    text-align: right;
    padding-right: 5px;
    margin-top: -13px;

  	li{
  		margin-bottom: 10px;
  	}
  }

  @media only screen and (max-width: 992px) {
    padding: 50px 0;

    &__col{
      width: 50% !important;
    }

    &__social{
      margin-top: 0;
      text-align: left;
    }
  }

  @media only screen and (max-width: 575px) {
   padding: 25px 0 0;

   &__col{
    width: 100% !important;
    padding-bottom: 20px;
   }

   &__col-title{
    margin-bottom: 10px;
   }

   &__list{
    li{
      margin-bottom: 5px;
    }
   }

  }
}