.base-scale {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    
    overflow: hidden;     
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 0;
        right: 0;
        background-color: #F4F4FB;
    }

    &__fill {
        position: absolute;
        background-image: linear-gradient(90deg, #FC3C3C 0%, #F6FF00 47.85%, #417505 100%);
        height: 6px;
        top: 0px;
        bottom: 0px;
        left: 0;
        width: 100%;
    }
}
.grade {
    &__top {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2px;

        &-label {
            font-family: $font-nunito;
            font-weight: 900;
            font-size: 16px;
            line-height: 1.375;        
            color: #000000;
        }
        &-val {
            padding-left: 16px;
            font-family: $font-family;
            font-weight: 700;
            font-size: 18px;
        }
    }
    .opt-comment {
        margin-top: 14px;
    }
    .form-slider__marks-row {
        margin-top: 6px;
    }
}