.header{
	background-color: #00293b;
	color: #fff;
	padding: 17px 0 11px;

	&.user-logged{
		padding-top: 8px;
	}

	&.user-logged &__top{
		padding-bottom: 0;
	}

	&__top{
		padding-bottom: 9px;
	}

	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__alert{
		font-family: $font-nunito;
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		padding: 0 0 0 5px;
	}

	&__sign{
		display: inline-block;
		text-transform: uppercase;
		background: url('/assets/images/sign-icon.png') 0 50% no-repeat;
		padding: 0 0 0 23px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;

		&:hover{
			color: $accent-color;
		}
	}

	&__social{
		padding-left: 14px;
	}

	&__social-item{
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: 3px;
	}

	&__user{
		display: flex;
		align-items: center;
	}
	&__user-pic {
		.avatar-wrap {
			width: 46px;
		}
	}

	&__user-caption{
		padding: 0 0 0 7px;
		color: #ffffff;
		font-family: $font-nunito;
		font-size: 12px;
		font-weight: 500;
	}
	&__user-link {
		color: #ffffff;
		font-family: $font-nunito;
		font-size: 12px;
		font-weight: 500;
		display: block;	
		
		&:hover {
			color: #fff;
		}
	}

	&__user-name{
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: $font-family;
		display: block;		
	}

	@media only screen and (max-width: 992px) {
		&__logo{
			width: 150px;

			img{
				max-width: 100%;
				height: auto;
			}
		}

		&__alert{
			padding: 0;
			font-size: 12px;
		}
	}

	@media only screen and (max-width: 767.98px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 10px 0;
		z-index: 100;

		&__top,
		&__social{
			display: none;
		}

	}

}