.modal{
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	font-family: $font-nunito;

	&__inner{
		border-radius: 12px;
		overflow: hidden;
		display: flex;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.06);
		background-color: #fff;
	}

	&__logo{
		margin-bottom: 50px;
	}

	&__sidebar{
		width: 380px;
		color: #fff;
		color: #ffffff;
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #00293b url('/assets/images/modal-sidebar-bg.png') no-repeat;
		background-size: cover;
		padding: 25px;
	}

	&__sidebar-title-1{
		color: #ffffff;
		font-size: 16px;
		font-weight: 800;
		margin-bottom: 3px;
	}

	&__sidebar-title-2{
		color: #ffffff;
		font-size: 22px;
		font-weight: 800;
		margin-bottom: 10px;
	}

	&__sidebar-content{
		margin-bottom: 50px;
	}

	&__content{
		background-color: #fff;
		width: calc(100% - 380px);
		padding: 20px 80px 65px 100px;
		color: #7d86a9;
	}

	&__content-header{
		text-align: right;
		color: #9ea0a5;
		font-size: 14px;
		margin-bottom: 30px;

		a{
			font-weight: 700;
			color: $accent-color;
			display: inline-block;
			margin-left: 5px;
		}
	}

	&__content-title{
		color: #00293b;
		font-size: 24px;
		line-height: 1.16;
		font-weight: 800;
		letter-spacing: -0.06px;
		margin-bottom: 5px;
	}

	&__content-form {
		margin-top: 20px;
	}

	&__content-sub-title{
		color: #7d86a9;
		font-size: 14px;
		line-height: 20px;
		font-weight: 300;
		letter-spacing: -0.05px;
		margin-bottom: 15px;
	}

	&__separator{
		text-align: center;
		color: #7d86a9;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: -0.05px;
		line-height: 20px;
		position: relative;
		margin: 15px 0;

		&::before{
			background-color: #e3e3e3;
			height: 1px;
			width: 100%;
			top: 50%;
			position: absolute;
			display: block;
			content: '';
		}
		span{
			display: inline-block;
			background-color: #fff;
			padding: 0 15px;
			position: relative;
			z-index: 10;
		}
	}

	&__verification{
		color: #7d86a9;
		font-size: 14px;
		text-align: center;
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__verification-fields{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0 25px;
	}

	&__verification-field{
		width: 59px;
		height: 67px;
		font-family: $font-nunito;
		border: 1px solid #7d86a9;
		text-align: center;
		color: #00293b;
		font-size: 28px;
		font-weight: 400;
		letter-spacing: -0.35px;
		border-radius: 3px;
		margin: 0 10px;
	}

	&__verification-icon{
		margin-bottom: 35px;
	}

	&__verification-comment{
		padding-top: 10px;
	}

	&__steps{
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 20px;
		position: relative;

		&::before{
			height: 1px;
			background-color: #e2e4ec;
			display: block;
			position: absolute;
			top: 21px;
			left: 28px;
			right: 20px;
			content: '';
		}
	}

	&__steps-item{
		text-align: center;
		color: #00293b;
		font-size: 10px;
		line-height: 1;
		font-weight: 800;
		position: relative;
		z-index: 10;
		letter-spacing: -0.3px;

		&::before{
			width: 18px;
			height: 18px;
			border: 2px solid rgba(#7d86a9, .22);
			background-color: #ffffff;
			display: block;
			border-radius: 50%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
			z-index: 10;
			position: relative;
			content: '';
		}

		&.state-active::before{
			border-color: #5fc521;
			background-image: url('/assets/images/checkbox-icon.png');
			background-position: 50%;
			background-repeat: no-repeat;
		}
	}

	&__intro{
		text-align: center;
		margin-bottom: 30px;
	}

	&__btns{
		display: flex;
		align-items: center;
		justify-content: space-between;

		.form-btn{
			width: calc(50% - 5px);
		}
	}

	&__success{
		text-align: center;
	}

	&__success-icon{
		margin-bottom: 20px;
	}

	&__user{
		text-align: center;
		margin-bottom: 25px;
	}

	&__user-name{
		color: #00293b;
		font-size: 22px;
		font-weight: 800;
		margin-bottom: 2px;
	}

	&__user-caption{
		color: #7d86a9;
		font-size: 16px;
		line-height: 1;
		font-weight: 500;
	}
	&__user-img {
		max-width: 100px;
		margin: 0 auto;
		
	}

	@media only screen and (max-width: 992px) {
		&__content{
			padding: 25px;
			width: calc(100% - 300px);
		}

		&__sidebar{
			width: 300px;
		}
	}

	@media only screen and (max-width: 767.98px) {
		&__verification-field{
			width: 40px;
			height: 40px;
			font-size: 20px;
			margin: 0 5px;
		}

		&__inner{
			display: block;
		}

		&__content,
		&__sidebar{
			width: 100%;
		}

		&__logo,
		&__sidebar-content{
			margin-bottom: 25px;
		}

	}
}

.social-btn{
	height: 40px;
	line-height: 38px;
	border-radius: 3px;
	border: 1px solid transparent;
	background-color: #ffffff;
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	margin: 0px 0 12px;

	&::before{
		display: inline-block;
		background-repeat: no-repeat;
		background-position: 50%;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		margin-right: 10px;
		content: '';
	}

	&--twitter{
		border-color: #03a9f4;
		color: #03a9f4;

		&::before{
			background-image: url('/assets/images/twiter-login-icon.png');
		}
	}

	&--fb{
		border-color: #3b5cb4;
		color: #3b5cb4;

		&::before{
			background-image: url('/assets/images/fb-login-icon.png');
		}
	}
}