.nav{

	&,
	&__list{
		display: flex;
		align-items: center;
	}

	&__list{
		padding-top: 2px;
	}

	&__list-item{
		margin-left: 18px;
	}

	&__list-link{
		color: #fff;
		padding-bottom: 2px;
		color: #ffffff;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		overflow: hidden;

		&::before{
			position: absolute;
			bottom: 0;
			left: 100%;
			width: 26px;
			height: 2px;
			background-color: $accent-color;
			transition: all ease 400ms;
			content: '';
		}

		&:hover{
			color: #fff;

			&::before{
				transition: all ease 150ms;
				left: 0;
			}
		}
	}

	@media only screen and (max-width: 992px) {
		&__list-item{
			margin-left: 12px;
		}
		&__list-link{
			font-size: 14px;
		}
	}

	@media only screen and (max-width: 767.98px) {
		display: none;
	}
}

.navTrue .nav-toggle-btn span { left: 10px; right: 10px; }
.navTrue .nav-toggle-btn span.line1 { -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 19px; }
.navTrue .nav-toggle-btn span.line2 { opacity: 0; }
.navTrue .nav-toggle-btn span.line3 { -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 19px; }

.nav-toggle-btn{
	display: none;

	@media only screen and (max-width: 767.98px) {
		display: block;
		top: 50%;
		margin-top: -20px;
		right: 15px;
		width: 44px;
		height: 28px;
		position: absolute;
		border: none;
		background: none;

		span {
			display: block;
			position: absolute;
			height: 2px;
			left: 8px;
			right: 8px;
			background-color: #fff;
			transition: all ease 250ms;
		}

		span.line1 { top: 11px; }
		span.line2 { top: 19px; }
		span.line3 { top: 27px; }
	}
}

.navTrue .mob-nav{
	bottom: 0;
}

.mob-nav{
	background-color: #00293b;
	color: #fff;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	bottom: 100%;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 75px 25px 25px;
	transition: all ease 750ms;

	&__list{
		margin-bottom: 20px;
	}

	&__list-item{
		margin: 10px 0;
	}

	&__list-link{
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
		position: relative;
		display: inline-block;
		overflow: hidden;
		padding-bottom: 4px;

		&::before{
			position: absolute;
			bottom: 0;
			left: 100%;
			width: 26px;
			height: 2px;
			background-color: $accent-color;
			transition: all ease 400ms;
			content: '';
		}

		&:hover{
			color: #fff;

			&::before{
				transition: all ease 150ms;
				left: 0;
			}
		}
	}

	&__sign{
		margin-bottom: 15px;
	}

	&__social{
		padding: 7px 0 0;

		a{
			margin: 0 5px;
			display: inline-block;
		}
	}
}