<template>
	<div>
		<!-- Dashboard -->
    <div class="dashboard">
      <div class="container">
        <div class="dashboard__inner">
         <dashboard-aside />
         <router-view></router-view>
        </div>
      </div>
    </div>
    <!-- Dashboard END -->
	</div>
</template>
<script>
import DashboardAside from '@/components/dashboard/aside';

export default {
  name: "dashboard-main-page",
  components: {
    "dashboard-aside": DashboardAside
  },
  
}
</script>