<template>
     <!-- Player content -->
      <div class="player__main">
        <div class="container">
          <div class="player__content player__content--fullwidth">

            <header class="player__content-header">
              <h2 class="player__content-title">Latest Scouting Reports</h2>

              <div class="player__filter">
                <div class="player__filter-label">FILTERS <span>(3 Applied)</span></div>
                <button class="player__filter-toggle-btn"></button>
              </div>
            </header>

            <table class="dashboard__table">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Tier</th>
                  <th>Posted Date</th>
                  <th>Average</th>
                  <th>Median</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <router-link :to="{ name: URLS_LIST.PLAYER_REPORT, params: { player_id: '1', report_id: '1' }}">
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                    </router-link>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <router-link :to="{ name: URLS_LIST.PLAYER_REPORT, params: { player_id: '1', report_id: '1' }}">
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                    </router-link>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <router-link :to="{ name: URLS_LIST.PLAYER_REPORT, params: { player_id: '1', report_id: '1' }}">
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                    </router-link>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <router-link :to="{ name: URLS_LIST.PLAYER_REPORT, params: { player_id: '1', report_id: '1' }}">
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                    </router-link>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <router-link :to="{ name: URLS_LIST.PLAYER_REPORT, params: { player_id: '1', report_id: '1' }}">
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                    </router-link>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <router-link :to="{ name: URLS_LIST.PLAYER_REPORT, params: { player_id: '1', report_id: '1' }}">
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                    </router-link>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
              </tbody>
            </table>

            <div class="table-controls">
              <div>
                Showing 10-20 of 112
              </div>

              <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>…</span>
                <a href="#">10</a>
                <a href="#">&raquo;</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Player content END -->
</template>