<template>
<aside class="modal__sidebar">
<div class="modal__logo">
    <img src="/assets/images/modal-logo.png" alt="">
</div>
<div class="modal__sidebar-content">
    <slot></slot>    
</div>
<div class="modal__copy">
    © {{ new Date().getFullYear() }} Fanteractive.com
</div>
</aside>
</template>
<script>
export default {
    name: 'account-aside'
}
</script>