<template>    
    <mcw-dialog    
        escape-key-action="close"
        scrim-click-action="close"
        aria-labelledby="avatar-upload"
        aria-describedby="avatar-upload"
        :auto-stack-buttons="true"
        :scrollable="true" 
        class="avatar-modal"                  
        >       
        <mcw-dialog-content>                        
               <cropper 
                    class="avatar-modal__cropper"  
                    ref="cropper"                  
                    :src="image"
                    :stencil-props="{
                        aspectRatio: 1/1,
                        movable: true,
                        resizable: false
                    }"
                    :stencil-size="{
                        width: 300,
                        height: 300
                    }" 
                    :stencil-component="$options.components.CircleStencil"
                />
                <div class="avatar-modal__msg" v-if="msg">{{ msg }}</div>
                <div class="avatar-modal__btn-wrap">
                   <label class="avatar-modal__load">
                        <span class="btn">Load image</span> 
                        <span class="name" v-if="fileName">{{ fileName }}</span>
                        <span class="name" v-else>No selected file.</span>
                        <input type="file" name="file" @change="loadImage($event)" accept="image/jpeg,image/png">
                   </label> 
                   <button type="button" class="btn" @click="uploadImage">Save</button>                   
                </div>            
        </mcw-dialog-content>
    </mcw-dialog>
</template>
<script>
import { Cropper, CircleStencil } from 'vue-advanced-cropper';
//TODO
export default { 
    emits: ['uploaded'],
    components: {
        "cropper": Cropper,        
        CircleStencil
    },
    data() {
        return {           
           image: null,
           msg: null,
           fileName: null,
           fileType: null
        }
    },
    methods: {
		reset() {
			this.image = null;  
            this.msg = null;
            this.fileName = null;
            this.fileType = null;          
		},
		loadImage(event) {			
			const input = event.target;			
			if (input.files && input.files[0]) { 
                const file =input.files[0]; 	
				const reader = new FileReader();				
				reader.onload = (e) => {					
					this.image = e.target.result;
                    this.fileType = (file.type === "image/png") ? "image/png" : "image/jpeg";
                    this.fileName = file.name;
				};				
				reader.readAsDataURL(file);
			}
		},
        uploadImage() {
			const { canvas } = this.$refs.cropper.getResult();
            //TODO
			if (canvas) {
				const form = new FormData();
				canvas.toBlob(blob => { 
					//form.append('thumbnail', blob);
                    form.append('thumbnail', blob, this.fileName);                    
                    this.axios.post('file/thumbnail', form,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then((response) =>{                       
                        const data = response.data;
                        if(data.url) {
                            this.reset();
                            this.$emit('uploaded', {avatar: data.url});  
                        } else {
                             this.msg = "OOPS! Some error."
                        }
                        //console.log('response', response); 
                        //TODO                      
                    })
                    .catch((err) => {
                        //console.log('upload', err.response);   
                        if(err.response && err.response.data)  {
                            let msg = (err.response.data.message) ? err.response.data.message : 'OOPS! Some error.';
                            if(err.response.data.errors && err.response.data.errors.thumbnail) {
                                msg = err.response.data.errors.thumbnail[0];
                            }
                            this.msg = msg
                        }                   
                    });
				}, this.fileType);
			}
		},
	},      
}

</script>