<template>
  <div>
    <div class="page-content">
      <div class="container">
        <div class="page-content__inner compare">

          <div class="page-content__header">
            <h1 class="page-content__title">Compare Players</h1>
          </div>

          <div class="compare__wrapper-scroll">

            <div class="compare__wrapper">
              <div class="compare__players">
                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/player-img.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Harry Kane <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/player-img-2.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Serge Aurier <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/player-img-3.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Matt Doherty <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/player-img-4.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Giovani Lo Celso <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Overall<button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Country</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Team </h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item logo"><img src="/assets/images/game-logo-small.png" alt=""> St. Louis Cardinals</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/game-logo-small.png" alt=""> St. Louis Cardinals</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/game-logo-small.png" alt=""> St. Louis Cardinals</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/game-logo-small.png" alt=""> St. Louis Cardinals</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Position</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">Center (C)</div>

                    <div class="compare-accordion__item-item">Center (C)</div>

                    <div class="compare-accordion__item-item">Center (C)</div>

                    <div class="compare-accordion__item-item">Center (C)</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Age</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">24</div>

                    <div class="compare-accordion__item-item">24</div>

                    <div class="compare-accordion__item-item">24</div>

                    <div class="compare-accordion__item-item">24</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">height</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">6 Feet 3 inches (190 cm)</div>

                    <div class="compare-accordion__item-item">6 Feet 3 inches (190 cm)</div>

                    <div class="compare-accordion__item-item">6 Feet 3 inches (190 cm)</div>

                    <div class="compare-accordion__item-item">6 Feet 3 inches (190 cm)</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Weight</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">230 lbs (104 kg)</div>

                    <div class="compare-accordion__item-item">230 lbs (104 kg)</div>

                    <div class="compare-accordion__item-item">230 lbs (104 kg)</div>

                    <div class="compare-accordion__item-item">230 lbs (104 kg)</div>
                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Total Stats<button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Average</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Median</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Your Grade</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Potential</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Scouting Reports</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Performance <span>(Average)</span><button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Speed</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Press</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Agility</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Recovery</h5>

                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Play Recognition</h5>

                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Tackling</h5>

                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">7.9</div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                      <div class="statistics__bar"><div style="width:65%;"></div></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <h5 class="compare-accordion__item-name">Strengths</h5>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <h5 class="compare-accordion__item-name">Weaknesses</h5>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <h5 class="compare-accordion__item-name">Overall Analysis</h5>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total"></div>
                        <a href="#" class="my-articles__item-comments">23</a>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
