<template>
  <div>
    <div class="page-content">
      <div class="container">
        <div class="page-content__inner compare">

          <div class="page-content__header">
            <h1 class="page-content__title">Compare Stadiums</h1>
          </div>

          <div class="compare__wrapper-scroll">

            <div class="compare__wrapper">
              <div class="compare__players">
                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/team-icon5.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Manchester United
                      Football Club <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/team-icon5.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Manchester United
                      Football Club <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/team-icon5.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Manchester United
                      Football Club <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/team-icon5.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Manchester United
                      Football Club <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Overall<button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Country</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Nickname </h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">The Red Devils</div>

                    <div class="compare-accordion__item-item">The Red Devils</div>

                    <div class="compare-accordion__item-item">The Red Devils</div>

                    <div class="compare-accordion__item-item">The Red Devils</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">League</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">Premier League</div>

                    <div class="compare-accordion__item-item">Premier League</div>

                    <div class="compare-accordion__item-item">Premier League</div>

                    <div class="compare-accordion__item-item">Premier League</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Capacity</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">30,343</div>

                    <div class="compare-accordion__item-item">30,343</div>

                    <div class="compare-accordion__item-item">30,343</div>

                    <div class="compare-accordion__item-item">30,343</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Founded</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">1978</div>

                    <div class="compare-accordion__item-item">1978</div>

                    <div class="compare-accordion__item-item">1978</div>

                    <div class="compare-accordion__item-item">1978</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Home</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <figure class="home__item">
                        <div class="home__item-img">
                          <img src="assets/images/stadium-small.png" alt="">
                        </div>
                        <figcaption class="home__item-caption">
                          Old Trafford
                        </figcaption>
                      </figure>
                    </div>

                    <div class="compare-accordion__item-item">
                      <figure class="home__item">
                        <div class="home__item-img">
                          <img src="assets/images/stadium-small.png" alt="">
                        </div>
                        <figcaption class="home__item-caption">
                          Old Trafford
                        </figcaption>
                      </figure>
                    </div>

                    <div class="compare-accordion__item-item">
                      <figure class="home__item">
                        <div class="home__item-img">
                          <img src="assets/images/stadium-small.png" alt="">
                        </div>
                        <figcaption class="home__item-caption">
                          Old Trafford
                        </figcaption>
                      </figure>
                    </div>

                    <div class="compare-accordion__item-item">
                      <figure class="home__item">
                        <div class="home__item-img">
                          <img src="assets/images/stadium-small.png" alt="">
                        </div>
                        <figcaption class="home__item-caption">
                          Old Trafford
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Total Stats<button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Scouting Reports</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Avarage</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Median</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Your Grade</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Potential</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>
                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Offense <span>(Average)</span><button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Quarterbacks</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Running Backs</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Protection & Blocking</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Receiving</h5>

                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Defense <span>(Average)</span><button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Defensive Line</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Linebackers</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Defensive Backs</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Special Teams And Coaching <span>(Average)</span><button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Defensive Line</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Linebackers</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Defensive Backs</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Overall Team <span>(Average)</span><button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Overall Team Grade</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Expected Wins</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">84</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">84</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">84</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">84</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Expected Losses</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">84</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">84</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">84</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">84</span></div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
