<template>
  <div>
    <div class="page-content">
      <div class="container">
        <div class="page-content__inner compare">

          <div class="page-content__header">
            <h1 class="page-content__title">Compare Stadiums</h1>
          </div>

          <div class="compare__wrapper-scroll">

            <div class="compare__wrapper">
              <div class="compare__players">
                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/stadium-img.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Aggie Memorial
                      Stadium <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/stadium-img.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Aggie Memorial
                      Stadium <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/stadium-img.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Aggie Memorial
                      Stadium <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

                <figure class="player-item">
                  <div class="player-item__img">
                    <img src="/assets/images/stadium-img.png" alt="">
                  </div>
                  <figcaption class="player-item__caption">
                    <h5 class="player-item__name">
                      Aggie Memorial
                      Stadium <button><img src="/assets/images/player-close.svg" alt=""></button>
                    </h5>
                  </figcaption>
                </figure>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Overall<button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Country</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/flag-engl.png" alt=""> England</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Team </h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item logo"><img src="/assets/images/game-logo-small.png" alt=""> St. Louis Cardinals</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/game-logo-small.png" alt=""> St. Louis Cardinals</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/game-logo-small.png" alt=""> St. Louis Cardinals</div>

                    <div class="compare-accordion__item-item logo"><img src="/assets/images/game-logo-small.png" alt=""> St. Louis Cardinals</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Location</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">Stewart St & Payne St, Las Cruces, NM 88003</div>

                    <div class="compare-accordion__item-item">San Antonio, Texas</div>

                    <div class="compare-accordion__item-item">207 Lanier Dr. Statesboro, Georgia 30458</div>

                    <div class="compare-accordion__item-item">100 Ficklen Drive, Greenville, North Carolina 27858</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Capacity</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">30,343</div>

                    <div class="compare-accordion__item-item">64,000</div>

                    <div class="compare-accordion__item-item">25,000</div>

                    <div class="compare-accordion__item-item">25,000</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">opened</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">1978</div>

                    <div class="compare-accordion__item-item">1978</div>

                    <div class="compare-accordion__item-item">1978</div>

                    <div class="compare-accordion__item-item">1978</div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Surface</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">S5-M Synthetic Turf</div>

                    <div class="compare-accordion__item-item">S5-M Synthetic Turf</div>

                    <div class="compare-accordion__item-item">S5-M Synthetic Turf</div>

                    <div class="compare-accordion__item-item">S5-M Synthetic Turf</div>
                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Total Stats<button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Scouting Reports</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Avarage</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Median</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span><img src="assets/images/shape.svg" alt=""></div>

                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Your Grade</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><span class="score-item">9.2</span></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>

                    <div class="compare-accordion__item-item"><button class="add-btn">ADD</button></div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">Potential</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>

                    <div class="compare-accordion__item-item"><div class="compare-potential"><img src="assets/images/peak-img.png" alt="">Post Peak</div></div>
                  </div>
                </div>

              </div>

              <div class="compare-accordion__item">
                <div class="compare-accordion__item-title">
                  Ratings survey <span>(Average)</span><button class="accordion__item-btn"><img src="assets/images/arrow-accordion.png" alt=""></button>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">GAME DAY ATMOSPHERE</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>
                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">FOOD & BEVERAGE</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">AMENITIES/SPECIAL FEATURES</h5>

                  <div class="compare-accordion__item-content">
                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">PRE-GAME OPTIONS</h5>

                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">PRICES</h5>

                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">CHARACTER/AMBIANCE</h5>

                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

                <div class="compare-accordion__item-row">
                  <h5 class="compare-accordion__item-name">WOW FACTOR</h5>

                  <div class="compare-accordion__item-content">

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                    <div class="compare-accordion__item-item">
                      <div class="compare-accordion__item-statistics">
                        <div class="statistics__total">9.2</div>
                      </div>
                      <div class="rating__bar"><img src="assets/images/range-img.png" alt=""></div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
