<template>
	<div>
		<!-- Dashboard -->
    <div class="dashboard">
      <div class="container">
        <div class="dashboard__inner">
          <aside class="dashboard__sidebar">

            <!-- Dashboard user -->
            <figure class="dashboard__user">
              <img src="/assets/images/dashboard-user-img.png" alt="">
              <figcaption class="dashboard__user-caption">
                <h4 class="dashboard__user-name">Josie Hernandez</h4>
                <div class="dashboard__user-level">Tier: Fanalyst</div>
              </figcaption>
            </figure>
            <!-- Dashboard user END -->

            <!-- Dashboard Nav -->
            <nav class="dashboard__nav">
              <ul class="dashboard__nav-list">
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--dashboard">
                    <span><img src="/assets/images/dashboard-icon.png" alt="" class="svg"></span>
                    My Fanalyst Dashboard
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--scouting">
                    <span><img src="/assets/images/player-icon.png" alt="" class="svg"></span>
                    Player Scouting
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--fanalyses">
                    <span><img src="/assets/images/game-icon.png" alt="" class="svg"></span>
                    Game Fanalyses
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--team">
                    <span><img src="/assets/images/team-icon.png" alt="" class="svg"></span>
                    My Team Ratings
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--stadium">
                    <span><img src="/assets/images/stadium-icon.png" alt="" class="svg"></span>
                    My Stadium Ratings
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--articles state-active">
                    <span><img src="/assets/images/articles-icon.png" alt="" class="svg"></span>
                    My Articles
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--profile">
                    <span><img src="/assets/images/settings-icon.png" alt="" class="svg"></span>
                    Profile Settings
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--logout">
                    <span><img src="/assets/images/logout-icon.png" alt="" class="svg"></span>
                    Logout
                  </a>
                </li>
              </ul>
            </nav>
            <!-- Dashboard Nav END-->

            <!-- Dashboard Banner -->
            <div class="dashboard__banner" style="background-image: url(/assets/images/dash-banner-bg.png);">
              <h5 class="dashboard__banner-title">Are you an athlete trying to get to the next level?</h5>
              <p>Upgrade to a Player account where your skills can be included in the Fanteractive Players database.</p>
              <a href="#" class="btn dashboard__banner-btn">Upgrade</a>
            </div>
            <!-- Dashboard Banner END -->

          </aside>
          <main class="dashboard__content dashboard__content--transparent">

            <header class="dashboard__content-header">
              <h1 class="dashboard__content-title">My Articles</h1>

              <a href="#" class="dashboard__submit-btn">Submit new Article</a>
            </header>

            <!-- Articles -->
            <div class="my-articles">

              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->

            </div>
            <!-- Articles END -->

            <a href="#" class="load-more-btn"> Load more Articles</a>

          </main>
        </div>
      </div>
    </div>
    <!-- Dashboard END -->
	</div>
</template>