<template>
	<div>
		<!-- Dashboard -->
    <div class="dashboard">
      <div class="container">
        <div class="dashboard__inner">
          <aside class="dashboard__sidebar">

            <!-- Dashboard user -->
            <figure class="dashboard__user">
              <img src="/assets/images/dashboard-user-img.png" alt="">
              <figcaption class="dashboard__user-caption">
                <h4 class="dashboard__user-name">Josie Hernandez</h4>
                <div class="dashboard__user-level">Tier: Fanalyst</div>
              </figcaption>
            </figure>
            <!-- Dashboard user END -->

            <!-- Dashboard Nav -->
            <nav class="dashboard__nav">
              <ul class="dashboard__nav-list">
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--dashboard">
                    <span><img src="/assets/images/dashboard-icon.png" alt="" class="svg"></span>
                    My Fanalyst Dashboard
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--scouting">
                    <span><img src="/assets/images/player-icon.png" alt="" class="svg"></span>
                    Player Scouting
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--fanalyses">
                    <span><img src="/assets/images/game-icon.png" alt="" class="svg"></span>
                    Game Fanalyses
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--team">
                    <span><img src="/assets/images/team-icon.png" alt="" class="svg"></span>
                    My Team Ratings
                  </a>
                </li>
                <li class="dashboard__na
                v-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--stadium">
                    <span><img src="/assets/images/stadium-icon.png" alt="" class="svg"></span>
                    My Stadium Ratings
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--articles">
                    <span><img src="/assets/images/articles-icon.png" alt="" class="svg"></span>
                    My Articles
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--profile">
                    <span><img src="/assets/images/settings-icon.png" alt="" class="svg"></span>
                    Profile Settings
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--logout">
                    <span><img src="/assets/images/logout-icon.png" alt="" class="svg"></span>
                    Logout
                  </a>
                </li>
              </ul>
            </nav>
            <!-- Dashboard Nav END-->

            <!-- Dashboard Banner -->
            <div class="dashboard__banner" style="background-image: url(/assets/images/dash-banner-bg.png);">
              <h5 class="dashboard__banner-title">Are you an athlete trying to get to the next level?</h5>
              <p>Upgrade to a Player account where your skills can be included in the Fanteractive Players database.</p>
              <a href="#" class="btn dashboard__banner-btn">Upgrade</a>
            </div>
            <!-- Dashboard Banner END -->

          </aside>
          <main class="dashboard__content dashboard__content--transparent">
            <header class="dashboard__content-header">
              <h1 class="dashboard__content-title">Welcome back Josie!</h1>
            </header>

            <div class="dashboard__reviews">
              <figure class="dashboard__item dashboard__review">
                <div class="dashboard__review-icon">
                  <img src="/assets/images/review-icon-1.png" alt="">
                </div>
                <figcaption class="dashboard__review-caption">
                  <div class="dashboard__review-num">123</div>
                  Scouting Reps
                </figcaption>
              </figure>
              <figure class="dashboard__item dashboard__review">
                <div class="dashboard__review-icon">
                  <img src="/assets/images/review-icon-2.png" alt="">
                </div>
                <figcaption class="dashboard__review-caption">
                  <div class="dashboard__review-num">13</div>
                  Post-Game Grades
                </figcaption>
              </figure>
              <figure class="dashboard__item dashboard__review">
                <div class="dashboard__review-icon">
                  <img src="/assets/images/review-icon-3.png" alt="">
                </div>
                <figcaption class="dashboard__review-caption">
                  <div class="dashboard__review-num">13</div>
                  Game Previews
                </figcaption>
              </figure>
            </div>

            <div class="dashboard__about">
              <div class="dashboard__item dashboard__about-item dashboard__about-item--info" style="background-image: url(/assets/images/about-info-bg.png);">
                <h3 class="dashboard__about-title">About Me</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
              </div>
              <div class="dashboard__item dashboard__about-item">
                <h3 class="dashboard__about-title">My Awards</h3>

                <div class="dashboard__awards">
                  <div class="dashboard__award" data-qty="X3"><img src="/assets/images/review-icon-4.png" alt=""></div>
                  <div class="dashboard__award" data-qty="X2"><img src="/assets/images/review-icon-5.png" alt=""></div>
                  <div class="dashboard__award"><img src="/assets/images/review-icon-6.png" alt=""></div>
                  <div class="dashboard__award"><img src="/assets/images/review-icon-7.png" alt=""></div>
                  <div class="dashboard__award"><img src="/assets/images/review-icon-8.png" alt=""></div>
                </div>

              </div>
            </div>

            <div class="dashboard__item">
              <h3 class="dashboard__title">My Interest &amp; Knowledge</h3>
            </div>

            <div class="dashboard__item">
              <h3 class="dashboard__title">My Favorite Team</h3>

              <div class="dashboard__teams">
                <figure class="dashboard__team">
                  <div class="dashboard__team-logo">
                    <img src="/assets/images/d-team-logo-1.png" alt="">
                  </div>
                  <figcaption class="dashboard__team-name">
                    St. Louis Cardinals
                  </figcaption>
                </figure>
                <figure class="dashboard__team">
                  <div class="dashboard__team-logo">
                    <img src="/assets/images/d-team-logo-2.png" alt="">
                  </div>
                  <figcaption class="dashboard__team-name">
                    Arizona Cardinals
                  </figcaption>
                </figure>
                <figure class="dashboard__team">
                  <div class="dashboard__team-logo">
                    <img src="/assets/images/d-team-logo-3.png" alt="">
                  </div>
                  <figcaption class="dashboard__team-name">
                    Los Angeles Clippers
                  </figcaption>
                </figure>
                <figure class="dashboard__team">
                  <div class="dashboard__team-logo">
                    <img src="/assets/images/d-team-logo-4.png" alt="">
                  </div>
                  <figcaption class="dashboard__team-name">
                    New York Yankees
                  </figcaption>
                </figure>
                <figure class="dashboard__team">
                  <div class="dashboard__team-logo">
                    <img src="/assets/images/d-team-logo-5.png" alt="">
                  </div>
                  <figcaption class="dashboard__team-name">
                    Jacksonville Jaguars
                  </figcaption>
                </figure>
                <figure class="dashboard__team">
                  <div class="dashboard__team-logo">
                    <img src="/assets/images/d-team-logo-6.png" alt="">
                  </div>
                  <figcaption class="dashboard__team-name">
                    Dallas Cowboys
                  </figcaption>
                </figure>
              </div>
            </div>

            <div class="dashboard__item">
              <h3 class="dashboard__title">My Latest Analysis</h3>
              <table class="dashboard__table dashboard__table--scouting">
                <tbody>
                  <tr>
                    <td>
                      <figure class="player-item">
                        <div class="player-item__img">
                          <img src="/assets/images/player-img.png" alt="">
                          <div class="player-item__flag"><img src="/assets/images/england-flag.png" alt=""></div>
                        </div>
                        <figcaption class="player-item__caption">
                          <h5 class="player-item__name">Harry Kane</h5>
                          <div class="player-item__position">Soccer Striker</div>
                        </figcaption>
                      </figure>
                    </td>
                    <td>FIFA</td>
                    <td>
                      <figure class="team-item">
                        <div class="team-item__img">
                          <img src="/assets/images/team-logo-1.png" alt="">
                        </div>
                        <figcaption class="team-item__caption">
                          <h5 class="team-item__name">Tottenham Hotspur</h5>
                        </figcaption>
                      </figure>
                    </td>
                    <td>30 Sep 2019 </td>
                    <td><span class="score-item">9.2</span></td>
                  </tr>
                  <tr>
                    <td>
                      <figure class="player-item">
                        <div class="player-item__img">
                          <img src="/assets/images/player-img-1.png" alt="">
                          <div class="player-item__flag"></div>
                        </div>
                        <figcaption class="player-item__caption">
                          <h5 class="player-item__name">Harry Kane</h5>
                          <div class="player-item__position">Soccer Striker</div>
                        </figcaption>
                      </figure>
                    </td>
                    <td>FIFA</td>
                    <td>
                      <figure class="team-item">
                        <div class="team-item__img">
                          <img src="/assets/images/team-logo-2.png" alt="">
                        </div>
                        <figcaption class="team-item__caption">
                          <h5 class="team-item__name">Tottenham Hotspur</h5>
                        </figcaption>
                      </figure>
                    </td>
                    <td>30 Sep 2019 </td>
                    <td><span class="score-item">9.2</span></td>
                  </tr>
                  <tr>
                    <td>
                      <figure class="player-item">
                        <div class="player-item__img">
                          <img src="/assets/images/player-img-1.png" alt="">
                          <div class="player-item__flag"></div>
                        </div>
                        <figcaption class="player-item__caption">
                          <h5 class="player-item__name">Harry Kane</h5>
                          <div class="player-item__position">Soccer Striker</div>
                        </figcaption>
                      </figure>
                    </td>
                    <td>FIFA</td>
                    <td>
                      <figure class="team-item">
                        <div class="team-item__img">
                          <img src="/assets/images/team-logo-3.png" alt="">
                        </div>
                        <figcaption class="team-item__caption">
                          <h5 class="team-item__name">Tottenham Hotspur</h5>
                        </figcaption>
                      </figure>
                    </td>
                    <td>30 Sep 2019 </td>
                    <td><span class="score-item">9.2</span></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </main>
        </div>
      </div>
    </div>
    <!-- Dashboard END -->
	</div>
</template>