<template>
	<div>
		<!-- Dashboard -->
    <div class="dashboard">
      <div class="container">
        <div class="dashboard__inner">
          <aside class="dashboard__sidebar">

            <!-- Dashboard user -->
            <figure class="dashboard__user">
              <img src="/assets/images/dashboard-user-img.png" alt="">
              <figcaption class="dashboard__user-caption">
                <h4 class="dashboard__user-name">Josie Hernandez</h4>
                <div class="dashboard__user-level">Tier: Fanalyst</div>
              </figcaption>
            </figure>
            <!-- Dashboard user END -->

            <!-- Dashboard Nav -->
            <nav class="dashboard__nav">
              <ul class="dashboard__nav-list">
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--dashboard">
                    <span><img src="/assets/images/dashboard-icon.png" alt="" class="svg"></span>
                    My Fanalyst Dashboard
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--scouting">
                    <span><img src="/assets/images/player-icon.png" alt="" class="svg"></span>
                    Player Scouting
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--fanalyses">
                    <span><img src="/assets/images/game-icon.png" alt="" class="svg"></span>
                    Game Fanalyses
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--team">
                    <span><img src="/assets/images/team-icon.png" alt="" class="svg"></span>
                    My Team Ratings
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--stadium">
                    <span><img src="/assets/images/stadium-icon.png" alt="" class="svg"></span>
                    My Stadium Ratings
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--articles state-active">
                    <span><img src="/assets/images/articles-icon.png" alt="" class="svg"></span>
                    My Articles
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--profile">
                    <span><img src="/assets/images/settings-icon.png" alt="" class="svg"></span>
                    Profile Settings
                  </a>
                </li>
                <li class="dashboard__nav-item">
                  <a href="#" class="dashboard__nav-link dashboard__nav-link--logout">
                    <span><img src="/assets/images/logout-icon.png" alt="" class="svg"></span>
                    Logout
                  </a>
                </li>
              </ul>
            </nav>
            <!-- Dashboard Nav END-->

            <!-- Dashboard Banner -->
            <div class="dashboard__banner" style="background-image: url(/assets/images/dash-banner-bg.png);">
              <h5 class="dashboard__banner-title">Are you an athlete trying to get to the next level?</h5>
              <p>Upgrade to a Player account where your skills can be included in the Fanteractive Players database.</p>
              <a href="#" class="btn dashboard__banner-btn">Upgrade</a>
            </div>
            <!-- Dashboard Banner END -->

          </aside>
          <main class="dashboard__content dashboard__content--transparent">

            <!-- Single Article content -->
            <article class="article">

              <figure class="article__banner">
                <div class="article__banner-img">
                  <img src="/assets/images/article-banner-img.png" alt="">
                </div>
                <figcaption class="article__banner-caption">
                  <div class="article__tags">
                    <a href="#">FOOTBALL</a>
                    <a href="#">FIFA</a>
                    <a href="#">Milan</a>
                  </div>
                  <h1 class="article__title">Ibrahimovic double defeats Cagliari as Milan restore three-point lead at the top</h1>

                  <div class="article__info">
                    <time class="article__time">9 May 2020</time>
                    <span class="article__views">216</span>
                    <span class="article__comments">23</span>
                  </div>
                </figcaption>
              </figure>

              <div class="article__content">
                <div class="article__details">
                  <div class="article__details-author">
                    By <img src="/assets/images/article-author-img.png" width="24"> <a href="#">Josie Hernandez</a>
                  </div>
                  <div class="article__details-share">
                    Share:
                    <a href="#" class="article__details-share-item"><img src="/assets/images/icons8-facebook.svg"></a>
                    <a href="#" class="article__details-share-item"><img src="/assets/images/icons8-twitter_squared.svg"></a>
                  </div>
                </div>

                <div class="article__content-text">
                  <h3>Zlatan Ibrahimovic scored twice on his first Serie A start since returning from injury to help Milan restore their three-point lead at the top with a 2-0 win at Cagliari.</h3>

                  <p>The 39-year-old forward has been absent since picking up a thigh injury in Milan’s win at Napoli on 22 November. He returned as a substitute against Torino in the Coppa Italia last week, but was fit enough to start in Sardinia and wasted no time in getting back among the goals.</p>

                  <p>Ibrahimovic won a penalty in the seventh minute after latching on to Brahim Díaz’s through ball and going down under Charalampos Lykogiannis’ challenge. The evergreen Swede converted the spot kick to earn an early lead for Milan, who were missing Hakan Calhanoglu and Theo Hernández after positive Covid-19 tests.</p>

                  <p>Davide Calabria went close with two efforts from distance in the first half, drawing a fine save from Alessio Cragno before hitting the post with his second attempt. Ibrahimovic doubled Milan’s lead in the second half after running on to Calabria’s pass. The striker was initially flagged offside, but the VAR overturned the decision and awarded the goal.</p>

                  <p>Ibrahimovic’s double takes his Serie A goal tally to 12 for the season from just seven starts. It is little wonder that Milan are reportedly prepared to extend his contract beyond his 40th birthday in October. Victory moves Milan three points clear of Internazionale, who had pulled level on points with their 2-0 win over Juventus on Sunday.</p>

                  <p><img src="/assets/images/article-content-img.png" alt=""></p>

                  <p>“We think about giving our best every match, the season has been like this,” the Milan manager, Stefano Pioli, said afterwards. “I always ask my players for attention, we must all be ready, [and] we were. We faced a test of strength, we deservedly won.”</p>

                  <p>Pioli also confirmed the imminent signing of Mario Mandzukic, who is set to arrive from Qatari club Al-Duhail. Ibrahimovic said of the Croatian’s arrival: “I’m happy, we now have two [forwards] that scare our opponents.”</p>

                  <p>“We are doing well, we are almost halfway through the season. Now, the most difficult games are starting,” said Ibrahimovic, who was supported in attack by two 21-year-olds in Díaz and Jens Petter Hauge. “Young people motivate me, they challenge me,” he added. “I don’t give up and show that I can run like them.”</p>

                  <p>The only disappointing aspect to an otherwise comfortable night was the late dismissal of substitute Alexis Saelemaekers, for two yellow cards picked up in quick succession. The Belgian now faces a suspension along with defender Alessio Romagnoli, who was booked in Sardinia.</p>

                  <p>Milan now have a 10-point lead over Juventus as they seek their first scudetto since the 2010-11 season. Cagliari are now without a win in their last 11 league games and stay in 17th, just one point above the relegation zone.</p>
                </div>

                <figure class="article__author">
                  <div class="article__author-img">
                    <img src="/assets/images/article-author-img.png">
                  </div>
                  <div class="article__author-caption">
                    <div class="article__author-title">About AUTHOR</div>

                    <div class="article__author-name">Josie Hernandez</div>
                    <div class="article__author-level">Tier: Fanalyst</div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </figure>

                <a href="#" class="load-more-btn">View more comment  (23)</a>
              </div>

            </article>
            <!-- Single Article content END -->

            <h2 class="dashboard__content-title">Related Articles</h2>

            <!-- Articles -->
            <div class="my-articles">
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
            </div>
            <!-- Articles END -->

          </main>
        </div>
      </div>
    </div>
    <!-- Dashboard END -->
	</div>
</template>