<template>
  <div>
    <div class="page-content">
      <div class="container">
        <div class="page-content__inner">

          <div class="page-content__header">
            <h1 class="page-content__title">Games</h1>
            <button class="page-content__filter-toggle-btn"><b>FILTERS</b> (3 Applied)</button>
          </div>

          <table class="dashboard__table dashboard__table--games">
            <thead>
              <tr>
                <th>HomeTeam</th>
                <th>Score</th>
                <th>Guest Team</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-1.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Arizona Cardinals
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-info">
                    <div class="game-info__league">League: USFL</div>
                    <div class="game-info__scores"><span>- : -</span></div>
                    <div class="game-info__place">Signal Iduna Park</div>
                    <div class="game-info__date">May 16, 2020   12:30 PM ET</div>
                  </div>
                </td>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-2.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Los Angeles Rams
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-action-btns">
                    <button class="btn btn--outline btn--buy">Buy ticket</button>
                    <button class="btn btn--preview">Preview Game</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-1.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Arizona Cardinals
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-info">
                    <div class="game-info__league">League: USFL</div>
                    <div class="game-info__scores"><span>2 : 5</span></div>
                    <div class="game-info__place">Signal Iduna Park</div>
                    <div class="game-info__date">May 16, 2020   12:30 PM ET</div>
                  </div>
                </td>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-2.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Los Angeles Rams
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-action-btns">
                    <button class="btn btn--post">Preview Game</button>
                  </div>
                </td>
              </tr>
               <tr>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-1.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Arizona Cardinals
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-info">
                    <div class="game-info__league">League: USFL</div>
                    <div class="game-info__scores"><span>- : -</span></div>
                    <div class="game-info__place">Signal Iduna Park</div>
                    <div class="game-info__date">May 16, 2020   12:30 PM ET</div>
                  </div>
                </td>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-2.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Los Angeles Rams
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-action-btns">
                    <button class="btn btn--outline btn--buy">Buy ticket</button>
                    <button class="btn btn--preview">Preview Game</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-1.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Arizona Cardinals
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-info">
                    <div class="game-info__league">League: USFL</div>
                    <div class="game-info__scores"><span>2 : 5</span></div>
                    <div class="game-info__place">Signal Iduna Park</div>
                    <div class="game-info__date">May 16, 2020   12:30 PM ET</div>
                  </div>
                </td>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-2.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Los Angeles Rams
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-action-btns">
                    <button class="btn btn--post">Preview Game</button>
                  </div>
                </td>
              </tr>
               <tr>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-1.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Arizona Cardinals
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-info">
                    <div class="game-info__league">League: USFL</div>
                    <div class="game-info__scores"><span>- : -</span></div>
                    <div class="game-info__place">Signal Iduna Park</div>
                    <div class="game-info__date">May 16, 2020   12:30 PM ET</div>
                  </div>
                </td>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-2.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Los Angeles Rams
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-action-btns">
                    <button class="btn btn--outline btn--buy">Buy ticket</button>
                    <button class="btn btn--preview">Preview Game</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-1.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Arizona Cardinals
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-info">
                    <div class="game-info__league">League: USFL</div>
                    <div class="game-info__scores"><span>2 : 5</span></div>
                    <div class="game-info__place">Signal Iduna Park</div>
                    <div class="game-info__date">May 16, 2020   12:30 PM ET</div>
                  </div>
                </td>
                <td>
                  <figure class="game-item">
                    <div class="game-item__img">
                      <img src="/assets/images/game-item-logo-2.png" alt="">
                    </div>
                    <figcaption class="game-item__caption">
                      Los Angeles Rams
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="game-action-btns">
                    <button class="btn btn--post">Preview Game</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="table-controls">
            <div>
              Showing 10-20 of 112
            </div>

            <div class="pagination">
              <a href="#">&lt;</a>
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <span>…</span>
              <a href="#">10</a>
              <a href="#">&raquo;</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="filter state-active1">
      <div class="filter__inner">

        <button class="filter__clear-btn">Clear All</button>

        <div class="filter__tags">
          <div class="filter__tags-label">Selected Filter</div>
          <div class="filter__tags-content">
            <a href="#" class="tag">Soccer</a>
            <a href="#" class="tag">FIFA</a>
            <a href="#" class="tag">Active</a>
          </div>
        </div>

        <div class="filter__part">
          <h3 class="filter__part-title">Search by Name</h3>
          <div class="form-row search-inp-wrap">
            <input-text placeholder="Enter Player Name or Surename"></input-text>
          </div>
        </div>

        <div class="filter__part">
          <h3 class="filter__part-title">Advanced Filter</h3>
          <div class="form-row">
            <input-text placeholder="Sport"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="League"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="Position"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="Team"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="Status"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="Country"></input-text>
          </div>
          <div class="form-row">
            <div class="form-checkbox">
              <input type="checkbox" id="agree">
              <label for="agree" class="form-checkbox__label">Show only players that I did not report on</label>
            </div>
          </div>

          <button class="form-btn">Apply Filter</button>
        </div>

      </div>
    </div>
  </div>
</template>