<template>
    <div>
      <!-- Banner -->
      <div class="banner">
        <div class="container">
          <div class="banner__inner">
            <div class="banner__content">
              <h2 class="banner__title">Getting Started with Fanteractive</h2>
              <p>Have you ever wondered if your favorite team’s General Manager actually cares what his fans think? Should they bench that star player in favor of someone else who is performing better? Should . . . </p>

              <a href="#" class="banner__btn btn">Learn More</a>
            </div>
            <div class="latest-act">
              <h3 class="latest-act__title">LATEST FANAGER'S ACTIVITY</h3>
              <ul class="latest-act__list">
                <li class="latest-act__list-item">
                  <div class="latest-act__list-img"><img src="/assets/images/latest-icon-1.png" alt=""></div>
                  <div class="latest-act__list-caption">
                    <div class="latest-act__list-data">21 Oct, 2020 • Reiminkl <span>added analysis for</span> Team</div>
                    <h4 class="latest-act__list-title"><a href="#">Cleveland Browns</a></h4>
                  </div>
                </li>
                <li class="latest-act__list-item">
                  <div class="latest-act__list-img"><img src="/assets/images/latest-icon-2.png" alt=""></div>
                  <div class="latest-act__list-caption">
                    <div class="latest-act__list-data">Reiminkl <span>added analysis for</span> Player</div>
                    <h4 class="latest-act__list-title"><a href="#">Blake Burton</a></h4>
                  </div>
                </li>
                <li class="latest-act__list-item">
                  <div class="latest-act__list-img"><img src="/assets/images/latest-icon-3.png" alt=""></div>
                  <div class="latest-act__list-caption">
                    <div class="latest-act__list-data">Reiminkl <span>added analysis for</span> GAME</div>
                    <h4 class="latest-act__list-title"><a href="#">Arizona Cardinals vs Los Angeles Rams</a></h4>
                  </div>
                </li>
                <li class="latest-act__list-item">
                  <div class="latest-act__list-img"><img src="/assets/images/latest-icon-4.png" alt=""></div>
                  <div class="latest-act__list-caption">
                    <div class="latest-act__list-data">Reiminkl <span>added analysis for</span> Stadium</div>
                    <h4 class="latest-act__list-title"><a href="#">Aggie Memorial Stadium (NMSU)</a></h4>
                  </div>
                </li>
                <li class="latest-act__list-item">
                  <div class="latest-act__list-img"><img src="/assets/images/latest-icon-5.png" alt=""></div>
                  <div class="latest-act__list-caption">
                    <div class="latest-act__list-data">Reiminkl <span>added analysis for</span> Player</div>
                    <h4 class="latest-act__list-title"><a href="#">Harry Kane</a></h4>
                  </div>
                </li>
              </ul>
              <a href="#" class="latest-act__btn btn btn--outline">more FANAGER'S ACTIVITY</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner END -->

      <!-- Recent tabs -->
      <div class="recent-tabs">
        <div class="container">
          <ul class="recent-tabs__nav">
            <li class="recent-tabs__nav-item state-active">Recent Players Grades</li>
            <li class="recent-tabs__nav-item">Recent Games Reviews</li>
            <li class="recent-tabs__nav-item">Recent Team Grades</li>
            <li class="recent-tabs__nav-item">Recent Stadium Grades</li>
          </ul>

          <div class="recent-tabs__content">

            <div class="recent-tabs__content-item">
              <div class="recent-carousel">
                <swiper
                  :slides-per-view="4"
                  :space-between="0"
                  :navigation="{
                    nextEl : '.swiper-button-next',
                    prevEl : '.swiper-button-prev'
                  }"
                  @swiper="onSwiper"
                  @slideChange="onSlideChange"
                >
                  <swiper-slide>
                    <figure class="recent-carousel__item">
                      <div class="recent-carousel__item-img">
                        <img src="/assets/images/players-item-1.png" alt="">
                        <div class="recent-carousel__item-icons">
                          <img src="/assets/images/logo_team.png" alt="">
                          <img src="/assets/images/england-flag.png" alt="">
                        </div>
                      </div>
                      <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                        <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                        <div class="recent-carousel__item-category">soccer Striker</div>
                      </figcaption>
                    </figure>
                  </swiper-slide>
                  <swiper-slide>
                    <figure class="recent-carousel__item">
                      <div class="recent-carousel__item-img">
                        <img src="/assets/images/players-item-2.png" alt="">
                        <div class="recent-carousel__item-icons">
                          <img src="/assets/images/logo_team.png" alt="">
                          <img src="/assets/images/england-flag.png" alt="">
                        </div>
                      </div>
                      <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                        <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                        <div class="recent-carousel__item-category">soccer Striker</div>
                      </figcaption>
                    </figure>
                  </swiper-slide>
                  <swiper-slide>
                    <figure class="recent-carousel__item">
                      <div class="recent-carousel__item-img">
                        <img src="/assets/images/players-item-3.png" alt="">
                        <div class="recent-carousel__item-icons">
                          <img src="/assets/images/logo_team.png" alt="">
                          <img src="/assets/images/england-flag.png" alt="">
                        </div>
                      </div>
                      <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                        <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                        <div class="recent-carousel__item-category">soccer Striker</div>
                      </figcaption>
                    </figure>
                  </swiper-slide>
                  <swiper-slide>
                    <figure class="recent-carousel__item">
                      <div class="recent-carousel__item-img">
                        <img src="/assets/images/players-item-4.png" alt="">
                        <div class="recent-carousel__item-icons">
                          <img src="/assets/images/logo_team.png" alt="">
                          <img src="/assets/images/england-flag.png" alt="">
                        </div>
                      </div>
                      <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                        <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                        <div class="recent-carousel__item-category">soccer Striker</div>
                      </figcaption>
                    </figure>
                  </swiper-slide>
                  <swiper-slide>
                    <figure class="recent-carousel__item">
                      <div class="recent-carousel__item-img">
                        <img src="/assets/images/players-item-1.png" alt="">
                        <div class="recent-carousel__item-icons">
                          <img src="/assets/images/logo_team.png" alt="">
                          <img src="/assets/images/england-flag.png" alt="">
                        </div>
                      </div>
                      <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                        <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                        <div class="recent-carousel__item-category">soccer Striker</div>
                      </figcaption>
                    </figure>
                  </swiper-slide>
                  <swiper-slide>
                    <figure class="recent-carousel__item">
                      <div class="recent-carousel__item-img">
                        <img src="/assets/images/players-item-2.png" alt="">
                        <div class="recent-carousel__item-icons">
                          <img src="/assets/images/logo_team.png" alt="">
                          <img src="/assets/images/england-flag.png" alt="">
                        </div>
                      </div>
                      <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                        <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                        <div class="recent-carousel__item-category">soccer Striker</div>
                      </figcaption>
                    </figure>
                  </swiper-slide>
                  <swiper-slide>
                    <figure class="recent-carousel__item">
                      <div class="recent-carousel__item-img">
                        <img src="/assets/images/players-item-3.png" alt="">
                        <div class="recent-carousel__item-icons">
                          <img src="/assets/images/logo_team.png" alt="">
                          <img src="/assets/images/england-flag.png" alt="">
                        </div>
                      </div>
                      <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                        <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                        <div class="recent-carousel__item-category">soccer Striker</div>
                      </figcaption>
                    </figure>
                  </swiper-slide>
                  <swiper-slide>
                    <figure class="recent-carousel__item">
                      <div class="recent-carousel__item-img">
                        <img src="/assets/images/players-item-4.png" alt="">
                        <div class="recent-carousel__item-icons">
                          <img src="/assets/images/logo_team.png" alt="">
                          <img src="/assets/images/england-flag.png" alt="">
                        </div>
                      </div>
                      <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                        <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                        <div class="recent-carousel__item-category">soccer Striker</div>
                      </figcaption>
                    </figure>
                  </swiper-slide>
                  <slot name="container-end">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </slot>
                </swiper>
              </div>
            </div>
            <div class="recent-tabs__content-item">
              <div class="recent-carousel carousel" data-items="4" data-items-desc="4" data-items-desk-sm="3" data-items-tab="2">
                <figure class="recent-carousel__item recent-carousel__item--game">
                  <div class="recent-carousel__item-teams">
                    <div>Arizona Cardinals</div>
                    <div>Los Angeles Rams</div>
                  </div>

                  <div class="recent-carousel__item-score">
                    <img src="/assets/images/score-logo-1.png" alt="" class="recent-carousel__item-score-img">
                    2:5
                    <img src="/assets/images/score-logo-2.png" alt="" class="recent-carousel__item-score-img">
                  </div>

                  <div class="recent-carousel__item-address">Signal Iduna Park; Strobelallee 50, <br>44139 Dortmund, Germany</div>
                  <div class="recent-carousel__item-date">May 16, 2020 &nbsp; 12:30 PM ET</div>
                </figure>
                <figure class="recent-carousel__item recent-carousel__item--game">
                  <div class="recent-carousel__item-teams">
                    <div>Arizona Cardinals</div>
                    <div>Los Angeles Rams</div>
                  </div>

                  <div class="recent-carousel__item-score">
                    <img src="/assets/images/score-logo-1.png" alt="" class="recent-carousel__item-score-img">
                    2:5
                    <img src="/assets/images/score-logo-2.png" alt="" class="recent-carousel__item-score-img">
                  </div>

                  <div class="recent-carousel__item-address">Signal Iduna Park; Strobelallee 50, <br>44139 Dortmund, Germany</div>
                  <div class="recent-carousel__item-date">May 16, 2020 &nbsp; 12:30 PM ET</div>
                </figure>
                <figure class="recent-carousel__item recent-carousel__item--game">
                  <div class="recent-carousel__item-teams">
                    <div>Arizona Cardinals</div>
                    <div>Los Angeles Rams</div>
                  </div>

                  <div class="recent-carousel__item-score">
                    <img src="/assets/images/score-logo-1.png" alt="" class="recent-carousel__item-score-img">
                    2:5
                    <img src="/assets/images/score-logo-2.png" alt="" class="recent-carousel__item-score-img">
                  </div>

                  <div class="recent-carousel__item-address">Signal Iduna Park; Strobelallee 50, <br>44139 Dortmund, Germany</div>
                  <div class="recent-carousel__item-date">May 16, 2020 &nbsp; 12:30 PM ET</div>
                </figure>
                <figure class="recent-carousel__item recent-carousel__item--game">
                  <div class="recent-carousel__item-teams">
                    <div>Arizona Cardinals</div>
                    <div>Los Angeles Rams</div>
                  </div>

                  <div class="recent-carousel__item-score">
                    <img src="/assets/images/score-logo-1.png" alt="" class="recent-carousel__item-score-img">
                    2:5
                    <img src="/assets/images/score-logo-2.png" alt="" class="recent-carousel__item-score-img">
                  </div>

                  <div class="recent-carousel__item-address">Signal Iduna Park; Strobelallee 50, <br>44139 Dortmund, Germany</div>
                  <div class="recent-carousel__item-date">May 16, 2020 &nbsp; 12:30 PM ET</div>
                </figure>
                <figure class="recent-carousel__item recent-carousel__item--game">
                  <div class="recent-carousel__item-teams">
                    <div>Arizona Cardinals</div>
                    <div>Los Angeles Rams</div>
                  </div>

                  <div class="recent-carousel__item-score">
                    <img src="/assets/images/score-logo-1.png" alt="" class="recent-carousel__item-score-img">
                    2:5
                    <img src="/assets/images/score-logo-2.png" alt="" class="recent-carousel__item-score-img">
                  </div>

                  <div class="recent-carousel__item-address">Signal Iduna Park; Strobelallee 50, <br>44139 Dortmund, Germany</div>
                  <div class="recent-carousel__item-date">May 16, 2020 &nbsp; 12:30 PM ET</div>
                </figure>
                <figure class="recent-carousel__item recent-carousel__item--game">
                  <div class="recent-carousel__item-teams">
                    <div>Arizona Cardinals</div>
                    <div>Los Angeles Rams</div>
                  </div>

                  <div class="recent-carousel__item-score">
                    <img src="/assets/images/score-logo-1.png" alt="" class="recent-carousel__item-score-img">
                    2:5
                    <img src="/assets/images/score-logo-2.png" alt="" class="recent-carousel__item-score-img">
                  </div>

                  <div class="recent-carousel__item-address">Signal Iduna Park; Strobelallee 50, <br>44139 Dortmund, Germany</div>
                  <div class="recent-carousel__item-date">May 16, 2020 &nbsp; 12:30 PM ET</div>
                </figure>
                <figure class="recent-carousel__item recent-carousel__item--game">
                  <div class="recent-carousel__item-teams">
                    <div>Arizona Cardinals</div>
                    <div>Los Angeles Rams</div>
                  </div>

                  <div class="recent-carousel__item-score">
                    <img src="/assets/images/score-logo-1.png" alt="" class="recent-carousel__item-score-img">
                    2:5
                    <img src="/assets/images/score-logo-2.png" alt="" class="recent-carousel__item-score-img">
                  </div>

                  <div class="recent-carousel__item-address">Signal Iduna Park; Strobelallee 50, <br>44139 Dortmund, Germany</div>
                  <div class="recent-carousel__item-date">May 16, 2020 &nbsp; 12:30 PM ET</div>
                </figure>
                <figure class="recent-carousel__item recent-carousel__item--game">
                  <div class="recent-carousel__item-teams">
                    <div>Arizona Cardinals</div>
                    <div>Los Angeles Rams</div>
                  </div>

                  <div class="recent-carousel__item-score">
                    <img src="/assets/images/score-logo-1.png" alt="" class="recent-carousel__item-score-img">
                    2:5
                    <img src="/assets/images/score-logo-2.png" alt="" class="recent-carousel__item-score-img">
                  </div>

                  <div class="recent-carousel__item-address">Signal Iduna Park; Strobelallee 50, <br>44139 Dortmund, Germany</div>
                  <div class="recent-carousel__item-date">May 16, 2020 &nbsp; 12:30 PM ET</div>
                </figure>
              </div>
            </div>
            <div class="recent-tabs__content-item">
              <div class="recent-carousel carousel" data-items="4" data-items-desc="4" data-items-desk-sm="3" data-items-tab="2">
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/team-icon-1.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/team-icon-2.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/team-icon-3.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/team-icon-4.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/team-icon-1.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/team-icon-2.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/team-icon-3.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/team-icon-4.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="recent-tabs__content-item">
              <div class="recent-carousel carousel" data-items="4" data-items-desc="4" data-items-desk-sm="3" data-items-tab="2">
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/stadium-item-1.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/logo_team.png" alt="">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/stadium-item-2.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/logo_team.png" alt="">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/stadium-item-3.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/logo_team.png" alt="">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/stadium-item-4.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/logo_team.png" alt="">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/stadium-item-1.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/logo_team.png" alt="">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/stadium-item-2.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/logo_team.png" alt="">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/stadium-item-3.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/logo_team.png" alt="">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
                <figure class="recent-carousel__item">
                  <div class="recent-carousel__item-img">
                    <img src="/assets/images/stadium-item-4.png" alt="">
                    <div class="recent-carousel__item-icons">
                      <img src="/assets/images/logo_team.png" alt="">
                      <img src="/assets/images/england-flag.png" alt="">
                    </div>
                  </div>
                  <figcaption class="recent-carousel__item-caption" data-rating="9.2">
                    <h4 class="recent-carousel__item-name"><a href="#">Harry Kane</a></h4>
                    <div class="recent-carousel__item-category">soccer Striker</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Recent tabs END-->

      <!-- Articles -->
      <div class="articles">
        <div class="container">
          <h3 class="articles__title">Latest Fanalyst Articles</h3>
          <div class="articles__caption">
            <p>Read featured articles submitted from our Fanager <br>community</p>
          </div>

          <div class="articles__inner">
            <figure class="articles__item">
              <div class="articles__item-img"><img src="/assets/images/article-img-1.png" alt=""></div>
              <figcaption class="articles__item-caption">
                <h3 class="articles__item-name">How to Scout Offensive Skill Players</h3>
                <p>By Brent Foshee, Fanteractive Scouting Contributor   Finally aware of, and forced to address, the long term consequences</p>

                <a href="#" class="articles__item-link">Fanterative.com</a>
              </figcaption>
            </figure>
            <figure class="articles__item">
              <div class="articles__item-img"><img src="/assets/images/article-img-2.png" alt=""></div>
              <figcaption class="articles__item-caption">
                <h3 class="articles__item-name">How to Scout Offensive Skill Players</h3>
                <p>By Brent Foshee, Fanteractive Scouting Contributor   Finally aware of, and forced to address, the long term consequences</p>

                <a href="#" class="articles__item-link">Read more</a>
              </figcaption>
            </figure>
            <figure class="articles__item">
              <div class="articles__item-img"><img src="/assets/images/article-img-3.png" alt=""></div>
              <figcaption class="articles__item-caption">
                <h3 class="articles__item-name">How to Scout Offensive Skill Players</h3>
                <p>By Brent Foshee, Fanteractive Scouting Contributor   Finally aware of, and forced to address, the long term consequences</p>

                <a href="#" class="articles__item-link">Fanterative.com</a>
              </figcaption>
            </figure>
            <figure class="articles__item">
              <div class="articles__item-img"><img src="/assets/images/article-img-4.png" alt=""></div>
              <figcaption class="articles__item-caption">
                <h3 class="articles__item-name">How to Scout Offensive Skill Players</h3>
                <p>By Brent Foshee, Fanteractive Scouting Contributor   Finally aware of, and forced to address, the long term consequences</p>

                <a href="#" class="articles__item-link">Read more</a>
              </figcaption>
            </figure>
            <figure class="articles__item">
              <div class="articles__item-img"><img src="/assets/images/article-img-5.png" alt=""></div>
              <figcaption class="articles__item-caption">
                <h3 class="articles__item-name">How to Scout Offensive Skill Players</h3>
                <p>By Brent Foshee, Fanteractive Scouting Contributor   Finally aware of, and forced to address, the long term consequences</p>

                <a href="#" class="articles__item-link">Fanterative.com</a>
              </figcaption>
            </figure>
            <figure class="articles__item">
              <div class="articles__item-img"><img src="/assets/images/article-img-6.png" alt=""></div>
              <figcaption class="articles__item-caption">
                <h3 class="articles__item-name">How to Scout Offensive Skill Players</h3>
                <p>By Brent Foshee, Fanteractive Scouting Contributor   Finally aware of, and forced to address, the long term consequences</p>

                <a href="#" class="articles__item-link">Read more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <!-- Articles END -->
    </div>
</template>

<script>

  import 'swiper/swiper.scss';

  import SwiperCore, { Navigation} from 'swiper';
  import { Swiper, SwiperSlide } from 'swiper/vue';

  // install Swiper components
  SwiperCore.use([Navigation]);

  // Import Swiper styles
  export default {
    components: {
      Swiper,
      SwiperSlide,
    },
    methods: {
      onSwiper(swiper) {
        console.log(swiper)
      },
      onSlideChange() {
        console.log('slide change')
      },
    },
  };
</script>