<template>
  <div>
    <div class="container">
      <p>&nbsp;</p>

      <div class="modal js-sign-in">
        <div class="modal__inner">
          <aside class="modal__sidebar">

            <div class="modal__logo">
              <img src="/assets/images/modal-logo.png" alt="">
            </div>

            <div class="modal__sidebar-content">
              <h4 class="modal__sidebar-title-1">Sign In to Your Account</h4>
              <h3 class="modal__sidebar-title-2">Welcome Back!</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </div>

            <div class="modal__copy">
              © 2020 Fanteractive.com
            </div>

          </aside>
          <div class="modal__content">
            <div class="modal__content-header">
              Don’t have an account? <a href="#">Sign Up</a>
            </div>
            <h3 class="modal__content-title">Sign in to your Account</h3>
            <h5 class="modal__content-sub-title">with Social Network</h5>

            <div class="social-btns">
              <a href="#" class="social-btn social-btn--twitter">Sign In with Twitter</a>
              <a href="#" class="social-btn social-btn--fb">Sign In with Facebook</a>
            </div>

            <div class="modal__separator">
              <span>or login with email address</span>
            </div>

            <div class="form-row">
              <input-text placeholder="User Name / Email"></input-text>
            </div>

            <div class="form-row">
              <input-password placeholder="Password"></input-password>
            </div>

            <div class="form-tools">
              <input-checkbox placeholder="Keep Me Logged In"></input-checkbox>

              <a href="#" class="form-link">Forgot Password?</a>
            </div>

            <btn-submit text="Sign In"></btn-submit>

          </div>
        </div>
      </div>

      <p>&nbsp;</p>

      <div class="modal js-sign-up">
        <div class="modal__inner">
          <aside class="modal__sidebar">

            <div class="modal__logo">
              <img src="/assets/images/modal-logo.png" alt="">
            </div>

            <div class="modal__sidebar-content">
              <h4 class="modal__sidebar-title-1">Create an Account</h4>
              <h3 class="modal__sidebar-title-2">Let get Started</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </div>

            <div class="modal__copy">
              © 2020 Fanteractive.com
            </div>

          </aside>
          <div class="modal__content">
            <div class="modal__content-header">
              Have an account? <a href="#">Sign In</a>
            </div>
            <h3 class="modal__content-title">Sign Up to Fanteractive</h3>
            <h5 class="modal__content-sub-title">Let’s Create your Account</h5>

            <div class="form-row">
              <input-text placeholder='User Name'></input-text>
            </div>

            <div class="form-row">
              <input-email placeholder="Email"></input-email>
            </div>

            <div class="form-row">
              <input-password placeholder="Password"></input-password>
            </div>

            <div class="form-row">
              <input-password placeholder="Confirm"></input-password>
            </div>

            <div class="form-tools">
              <input-checkbox placeholder='I have read the <b>Terms and Conditions.</b>'></input-checkbox>
            </div>

            <btn-submit text="Sign Up Now"></btn-submit>

          </div>
        </div>
      </div>

      <p>&nbsp;</p>
      <div class="modal js-verification">
        <div class="modal__inner">
          <aside class="modal__sidebar">

            <div class="modal__logo">
              <img src="/assets/images/modal-logo.png" alt="">
            </div>

            <div class="modal__sidebar-content">
              <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
              <h3 class="modal__sidebar-title-2">Please Confirm Your Email</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </div>

            <div class="modal__copy">
              © 2020 Fanteractive.com
            </div>

          </aside>
          <div class="modal__content">

            <div class="modal__verification">
              <div class="modal__verification-inner">

                <div class="modal__verification-icon">
                  <img src="/assets/images/verification-icon.png" alt="">
                </div>

                <h2 class="modal__content-title">Verification link sent!</h2>

                <p>We’we sent you five-digit confirmation code to email <strong>johnjonson197@gmail.com</strong> Please enter it in form below</p>

                <verification-fields></verification-fields>

                <btn-submit text="Confirm"></btn-submit>

                <div class="modal__verification-comment">
                  Didn’t get a confirmation email? <br>
                  Check your spam folder or <a href="#" class="form-link resend-link">Resend Mail</a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="modal js-complete-1">
        <div class="modal__inner">
          <aside class="modal__sidebar">

            <div class="modal__logo">
              <img src="/assets/images/modal-logo.png" alt="">
            </div>

            <div class="modal__sidebar-content">
              <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
              <h3 class="modal__sidebar-title-2">Comlete your Account</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </div>

            <div class="modal__copy">
              © 2020 Fanteractive.com
            </div>

          </aside>
          <div class="modal__content">

            <div class="modal__steps">
              <div class="modal__steps-item state-active">
                Main Information
              </div>
              <div class="modal__steps-item">
                Introduce Yourself
              </div>
              <div class="modal__steps-item">
                Complete
              </div>
            </div>

            <div class="modal__intro">
              <h3 class="modal__content-title">Main Information</h3>
              <p>A short text that explains the difference between the two roles. And what is the functionality of the selected role</p>
            </div>

            <div class="profile-avatar">
              <div class="profile-avatar__img"><img src="/assets/images/icons-user.png" alt=""></div>
              <figcaption class="profile-avatar__caption">
                <a href="#">Set Profile Image</a>
              </figcaption>
            </div>

            <div class="form-row">
              <input-text placeholder="Full Name"></input-text>
            </div>

            <div class="form-row" data-layout="2">
              <input-text placeholder="Country"></input-text>
              <input-text placeholder="Zip / Postal Code"></input-text>
            </div>

            <div class="form-row" data-layout="2">
              <input-text placeholder="State"></input-text>
              <input-text placeholder="City"></input-text>
            </div>

            <div class="modal__btns">
              <btn-submit type="outline" text="Back"></btn-submit>
              <btn-submit type="disabled" text="Continue"></btn-submit>
            </div>

          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="modal js-complete-1-2">
        <div class="modal__inner">
          <aside class="modal__sidebar">

            <div class="modal__logo">
              <img src="/assets/images/modal-logo.png" alt="">
            </div>

            <div class="modal__sidebar-content">
              <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
              <h3 class="modal__sidebar-title-2">Comlete your Account</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </div>

            <div class="modal__copy">
              © 2020 Fanteractive.com
            </div>

          </aside>
          <div class="modal__content">

            <div class="modal__steps">
              <div class="modal__steps-item state-active">
                Main Information
              </div>
              <div class="modal__steps-item">
                Introduce Yourself
              </div>
              <div class="modal__steps-item">
                Complete
              </div>
            </div>

            <div class="modal__intro">
              <h3 class="modal__content-title">Main Information</h3>
              <p>A short text that explains the difference between the two roles. And what is the functionality of the selected role</p>
            </div>

            <div class="profile-avatar">
              <div class="profile-avatar__img">
                <img src="/assets/images/avatar.png" alt="">
              </div>
            </div>

            <div class="form-row">
              <input-text placeholder="Full Name" value="Josie Hernandez"></input-text>
            </div>

            <div class="form-row">
              <input-text placeholder="Phone Number" value="(202) 555 – 0156"></input-text>
            </div>

            <div class="form-row" data-layout="2">
              <input-text placeholder="Country"></input-text>
              <input-text placeholder="Zip / Postal Code"></input-text>
            </div>

            <div class="form-row" data-layout="2">
              <input-text placeholder="State"></input-text>
              <input-text placeholder="City"></input-text>
            </div>

            <div class="modal__btns">
              <btn-submit type="outline" text="Back"></btn-submit>
              <btn-submit text="Continue"></btn-submit>
            </div>

          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="modal js-complete-2">
        <div class="modal__inner">
          <aside class="modal__sidebar">

            <div class="modal__logo">
              <img src="/assets/images/modal-logo.png" alt="">
            </div>

            <div class="modal__sidebar-content">
              <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
              <h3 class="modal__sidebar-title-2">Comlete your Account</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </div>

            <div class="modal__copy">
              © 2020 Fanteractive.com
            </div>

          </aside>
          <div class="modal__content">

            <div class="modal__steps">
              <div class="modal__steps-item state-active">
                Main Information
              </div>
              <div class="modal__steps-item state-active">
                Introduce Yourself
              </div>
              <div class="modal__steps-item">
                Complete
              </div>
            </div>

            <div class="modal__intro">
              <h3 class="modal__content-title">Introduce Yourself</h3>
              <p>A short text that explains the difference between the two roles. And what is the functionality of the selected role</p>
            </div>

            <div class="form-row">
              <div class="form-control">
                <select class="form-inp js-select" multiple="multiple">
                  <option>orange</option>
                  <option>white</option>
                  <option>purple</option>
                </select>
                <label class="form-label"><span>Favorite Sports</span></label>
              </div>
            </div>

            <div class="form-row">
              <div class="form-control">
                <select class="form-inp js-select" multiple="multiple">
                  <option>orange</option>
                  <option>white</option>
                  <option>purple</option>
                </select>
                <label class="form-label"><span>Favorite Teams</span></label>
              </div>
            </div>

            <div class="form-row">
              <div class="form-control">
                <select class="form-inp js-select" multiple="multiple">
                  <option>orange</option>
                  <option>white</option>
                  <option>purple</option>
                </select>
                <label class="form-label"><span>Knowledge/Experience</span></label>
              </div>
            </div>

            <div class="form-row">
              <div class="area-wrap">
                <input-area placeholder="About me" value="Thank you for joining Fanteractive - the ultimate sports fan community on the internet! You are now on your want to becoming a full-fledged “Fanager” - or “Fan-Manager.” We are all used to team “General Managers” who run the show for your favorite teams. But here at Fanteractive, Fanagers are in charge!"></input-area>

                <div class="area-counter state-full"><span class="area-counter__current">171</span> / <span class="area-counter__total">180</span></div>
              </div>
            </div>

            <div class="modal__btns">
              <btn-submit type="outline" text="Back"></btn-submit>
              <btn-submit text="Continue"></btn-submit>
            </div>

          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="modal js-complete-3">
        <div class="modal__inner">
          <aside class="modal__sidebar">

            <div class="modal__logo">
              <img src="/assets/images/modal-logo.png" alt="">
            </div>

            <div class="modal__sidebar-content">
              <h4 class="modal__sidebar-title-1">Thank you for Signing Up</h4>
              <h3 class="modal__sidebar-title-2">Comlete your Account</h3>
              Fanteractive is the place where fans come to Fanteract! We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </div>

            <div class="modal__copy">
              © 2020 Fanteractive.com
            </div>

          </aside>
          <div class="modal__content">
            <div class="modal__steps">
              <div class="modal__steps-item state-active">
                Main Information
              </div>
              <div class="modal__steps-item state-active">
                Introduce Yourself
              </div>
              <div class="modal__steps-item state-active">
                Complete
              </div>
            </div>

            <div class="modal__success">
              <div class="modal__success-icon">
                <img src="/assets/images/success-icon.png" alt="">
              </div>
              <h3 class="modal__content-title">Your Fanalyst Account Is Ready!</h3>
              <p>Account johnjonson1987@gmail.com Successfully Updated! <br>Check if you entered the data correctly and click the Finish button.</p>
            </div>

            <figure class="modal__user">
              <div class="modal__user-img">
                <img src="/assets/images/modal-user-img.png" alt="">
              </div>
              <figcaption class="modal__user-caption">
                <h3 class="modal__user-name">Josie Hernandez</h3>
                Tier: Fanalyst
              </figcaption>
            </figure>

            <div class="modal__btns">
              <btn-submit type="outline" text="Back"></btn-submit>
              <btn-submit text="Finish"></btn-submit>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>