<template>
	<div>

    <div class="player-data">

      <div class="container">
        <div class="player-data__inner">
          <aside class="player-data__sidebar">
            <figure class="player-data__avatar">
              <h3 class="player-data__avatar-title">New Scouting Report for:</h3>
              <div class="player-data__avatar-img">
                <img src="/assets/images/user-avatar-lg.png" alt="">
              </div>
              <figcaption class="player-data__avatar-caption">
                <div class="player-data__avatar-flags">
                  <img src="/assets/images/england-flag.png" alt="">
                  <img src="/assets/images/england-flag.png" alt="">
                </div>

                <div class="player-data__first-name">D'ERNEST</div>
                <div class="player-data__last-name">JOHNSON</div>

                <div class="player-data__activity"><img src="/assets/images/sport-type-icon.svg" alt=""> Football • Running Back</div>
              </figcaption>
            </figure>

            <div class="player-data__copyright">
              <p>Fanteractive is the place where fans come to "Fanteract!" We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!</p>
              © 2020 Fanteractive.com
            </div>
          </aside>
          <div class="player-data__content">
            <h2 class="player-data__content-title">Step1: Stats Overview</h2>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Power Moves:</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Acceleration:</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Block Shedding</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Penetration</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Motor</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Speed</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action state-active"></button>
              </div>

              <div class="player-data__field state-active">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Durability</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Size</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Character</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Technique</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Intangibles</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Consistency</h3>
              <div class="player-data__score">
                <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
                <div class="player-data__score-val">8.0</div>
                <button class="player-data__score-action"></button>
              </div>

              <div class="player-data__field">
                <input-area placeholder="Write Your Comment" value=""></input-area>
              </div>
            </div>

            <div class="player-data__btn">
              <button class="btn btn--continue">Save and Continue to Analytics Overview</button>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="player-data">

      <div class="container">
        <div class="player-data__inner">
          <aside class="player-data__sidebar">
            <figure class="player-data__avatar">
              <h3 class="player-data__avatar-title">New Scouting Report for:</h3>
              <div class="player-data__avatar-img">
                <img src="/assets/images/user-avatar-lg.png" alt="">
              </div>
              <figcaption class="player-data__avatar-caption">
                <div class="player-data__avatar-flags">
                  <img src="/assets/images/england-flag.png" alt="">
                  <img src="/assets/images/england-flag.png" alt="">
                </div>

                <div class="player-data__first-name">D'ERNEST</div>
                <div class="player-data__last-name">JOHNSON</div>

                <div class="player-data__activity"><img src="/assets/images/sport-type-icon.svg" alt=""> Football • Running Back</div>
              </figcaption>
            </figure>

            <div class="player-data__copyright">
              <p>Fanteractive is the place where fans come to "Fanteract!" We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!</p>
              © 2020 Fanteractive.com
            </div>
          </aside>
          <div class="player-data__content">
            <h2 class="player-data__content-title">Step2: Analytics Overview</h2>

            <h2 class="player-data__content-title player-data__content-title--2"><b>Analytics</b></h2>

            <div class="player-data__row player-data__row--potential">
              <h3 class="player-data__row-label">Potential</h3>
              <div class="player-data__score-val">39</div>

              <div class="player-data__score-slider"><img src="/assets/images/score-slider.png" alt=""></div>
              <div class="player-data__score-labels">
                <div>Untapped potential</div>
                <div>peak potential</div>
                <div>post <br>peak</div>
              </div>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Strengths</h3>
              <input-area placeholder="Describe Player's Strengths" value=""></input-area>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Weaknesses</h3>
              <input-area placeholder="Describe Player's Weaknesses" value=""></input-area>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Overall Analysis</h3>
              <input-area placeholder="Your Overall Impression of the Player" value=""></input-area>
            </div>

            <div class="player-data__row">
              <h3 class="player-data__row-label">Compares to</h3>
              <div class="article__tags">
                <a href="#">FOOTBALL</a>
                <a href="#">FIFA</a>
                <a href="#">Milan</a>
              </div>
            </div>

            <div class="player-data__btns">
              <button class="btn btn--outline">Back to Stats</button>
              <button class="btn">Send Your Scouting Report</button>
            </div>

          </div>
        </div>
      </div>

    </div>

	</div>
</template>