<template>
	<div>
    <div class="player">

      <!-- Banner -->
      <div class="player__banner">
        <div class="container">
          <div class="player__banner-inner">
            <div class="player__banner-img">
              <img src="/assets/images/player-main-img.png" alt="">
            </div>
            <figcaption class="player__banner-caption">
              <div class="player__main-info">

                <div class="player__name-wrap">
                  <h2 class="player__name"><small>D'ERNEST</small> JOHNSON</h2>
                  <div class="player__flags">
                    <img src="/assets/images/player-flag-1.png" width="31" alt="">
                    <img src="/assets/images/player-flag-2.png" width="31" alt="">
                  </div>
                </div>

                <div class="player__activity">Football • Running Back</div>

                <a href="#" class="btn player__report-btn">Issue A New Scouting Report</a>

                <!-- Nav -->
                <nav class="player__nav">
                  <ul class="player__nav-list">
                    <li class="player__nav-item state-active"><a href="#" class="player__nav-link">Summary</a></li>
                    <li class="player__nav-item"><a href="#" class="player__nav-link">Detail Reports</a></li>
                    <li class="player__nav-item"><a href="#" class="player__nav-link">Game Performance</a></li>
                  </ul>
                </nav>
                <!-- Nav END -->

              </div>
              <dl class="player__details">
                <dt>Position</dt>
                <dd>Center (C)</dd>
                <dt>height</dt>
                <dd>6 Feet 3 inches (190 cm)</dd>
                <dt>Weight</dt>
                <dd>230 lbs (104 kg)</dd>
                <dt>Age</dt>
                <dd>24</dd>
              </dl>
            </figcaption>
          </div>
        </div>
      </div>
      <!-- Banner END -->

      <!-- Player content -->
      <div class="player__main">
        <div class="container">
          <div class="player__main-inner">
            <aside class="player__sidebar">
              <dl class="player__data">

                <dt>Avarage Stats total</dt>
                <dd class="average-item">9.2</dd>

                <dt>Median Stats total</dt>
                <dd class="mediana-item">8.9</dd>

                <dt>75 Percentile Stats  total</dt>
                <dd class="percentage-75-item">7.1</dd>

                <dt>95 Precentile Stats  total</dt>
                <dd class="percentage-95-item">8.2</dd>

                <dt>TOTAL Reviews</dt>
                <dd>126</dd>

              </dl>
            </aside>

            <div class="player__content">

              <header class="player__content-header">
                <h2 class="player__content-title">Statistics</h2>

                <div class="form-control-wrap">
                  Show:
                  <select class="form-inp form-inp--sm">
                    <option>Avarage</option>
                    <option>Avarage</option>
                    <option>Avarage</option>
                  </select>
                </div>
              </header>

              <!-- Statistics -->
              <div class="statistics">
                <div class="statistics__data-y">
                  <div>0</div>
                  <div>2</div>
                  <div>4</div>
                  <div>6</div>
                  <div>8</div>
                  <div>10</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Power Moves</div>
                  <div class="statistics__bar"><div style="width: 65%;"></div></div>
                  <div class="statistics__total">8.0</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Finesse Moves</div>
                  <div class="statistics__bar"><div style="width: 25%;"></div></div>
                  <div class="statistics__total">5.2</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Acceleration</div>
                  <div class="statistics__bar"><div style="width: 35%;"></div></div>
                  <div class="statistics__total">6.7</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Block Shedding</div>
                  <div class="statistics__bar"><div style="width: 45%;"></div></div>
                  <div class="statistics__total">2.1</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Tackling</div>
                  <div class="statistics__bar"><div style="width: 85%;"></div></div>
                  <div class="statistics__total">5.2</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Penetration</div>
                  <div class="statistics__bar"><div style="width: 95%;"></div></div>
                  <div class="statistics__total">9.0</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Motor</div>
                  <div class="statistics__bar"><div style="width: 99%;"></div></div>
                  <div class="statistics__total">6.6</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Speed</div>
                  <div class="statistics__bar"><div style="width: 22%;"></div></div>
                  <div class="statistics__total">10.0</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Durability</div>
                  <div class="statistics__bar"><div style="width: 26%;"></div></div>
                  <div class="statistics__total">7.0</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Size</div>
                  <div class="statistics__bar"><div style="width: 29%;"></div></div>
                  <div class="statistics__total">9.0</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Character</div>
                  <div class="statistics__bar"><div style="width: 15%;"></div></div>
                  <div class="statistics__total">3.4</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Technique</div>
                  <div class="statistics__bar"><div style="width: 10%;"></div></div>
                  <div class="statistics__total">2.0</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Intangibles</div>
                  <div class="statistics__bar"><div style="width: 5%;"></div></div>
                  <div class="statistics__total">1.0</div>
                </div>
                <div class="statistics__item">
                  <div class="statistics__label">Consistency</div>
                  <div class="statistics__bar"><div style="width: 7%;"></div></div>
                  <div class="statistics__total">7.0</div>
                </div>
              </div>
              <!-- Statistics END -->

            </div>
          </div>
        </div>
      </div>
      <!-- Player content END -->

    </div>
	</div>
</template>