<template>
	<div>
    <div class="player">

      <!-- Banner -->
      <div class="player__banner">
        <div class="container">
          <div class="player__banner-inner">
            <div class="player__banner-img">
              <img src="/assets/images/player-main-img.png" alt="">
            </div>
            <figcaption class="player__banner-caption">
              <div class="player__main-info">

                <div class="player__name-wrap">
                  <h2 class="player__name"><small>D'ERNEST</small> JOHNSON</h2>
                  <div class="player__flags">
                    <img src="/assets/images/player-flag-1.png" width="31" alt="">
                    <img src="/assets/images/player-flag-2.png" width="31" alt="">
                  </div>
                </div>

                <div class="player__activity">Football • Running Back</div>

                <a href="#" class="btn player__report-btn">Issue A New Scouting Report</a>

                <!-- Nav -->
                <nav class="player__nav">
                  <ul class="player__nav-list">
                    <li class="player__nav-item"><a href="#" class="player__nav-link">Summary</a></li>
                    <li class="player__nav-item state-active"><a href="#" class="player__nav-link">Detail Reports</a></li>
                    <li class="player__nav-item"><a href="#" class="player__nav-link">Game Performance</a></li>
                  </ul>
                </nav>
                <!-- Nav END -->

              </div>
              <dl class="player__details">
                <dt>Position</dt>
                <dd>Center (C)</dd>
                <dt>height</dt>
                <dd>6 Feet 3 inches (190 cm)</dd>
                <dt>Weight</dt>
                <dd>230 lbs (104 kg)</dd>
                <dt>Age</dt>
                <dd>24</dd>
              </dl>
            </figcaption>
          </div>
        </div>
      </div>
      <!-- Banner END -->

      <!-- Player content -->
      <div class="player__main">
        <div class="container">
          <div class="player__content">

            <header class="player__content-header">
              <h2 class="player__content-title">Latest Scouting Reports</h2>

              <div class="player__filter">
                <div class="player__filter-label">FILTERS <span>(3 Applied)</span></div>
                <button class="player__filter-toggle-btn"></button>
              </div>
            </header>

            <table class="dashboard__table">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Tier</th>
                  <th>Posted Date</th>
                  <th>Average</th>
                  <th>Median</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
                <tr>
                  <td>
                    <figure class="player-item">
                      <div class="player-item__img">
                        <img src="/assets/images/player-img-1.png" alt="">
                        <div class="player-item__flag"></div>
                      </div>
                      <figcaption class="player-item__caption">
                        <h5 class="player-item__name">Harry Kane</h5>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <div class="rank">Spectator</div>
                  </td>
                  <td>30 Sep 2019 </td>
                  <td><span class="score-item">9.2</span></td>
                  <td><span class="score-item">9.2</span></td>
                </tr>
              </tbody>
            </table>

            <div class="table-controls">
              <div>
                Showing 10-20 of 112
              </div>

              <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>…</span>
                <a href="#">10</a>
                <a href="#">&raquo;</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Player content END -->

    </div>
	</div>
</template>