<template>
  <div>
    <div class="page-content">
      <div class="container">
        <div class="page-content__inner">

          <div class="page-content__header">
            <h1 class="page-content__title">Teams</h1>
            <button class="page-content__filter-toggle-btn"><b>FILTERS</b> (3 Applied)</button>
          </div>

          <table class="dashboard__table dashboard__table--scouting">
            <thead>
              <tr>
                <th>Team</th>
                <th>Home</th>
                <th>Stadium</th>
                <th>Average stat</th>
                <th>Median stat</th>
                <th>Your Grade</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <figure class="player-item">
                    <div class="player-item__img">
                      <img src="/assets/images/team-item-logo.png" alt="">
                      <div class="player-item__flag"></div>
                    </div>
                    <figcaption class="player-item__caption">
                      <h5 class="player-item__name">Harry Kane</h5>
                      <div class="player-item__position">Soccer Striker</div>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="country-item">
                    <img src="/assets/images/country-flag-icon.png" alt="">
                    Phoenix AZ
                  </div>
                </td>
                <td>Aggie Memorial Stadium (NMSU)</td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><button class="actions-btn"></button></td>
              </tr>
              <tr>
                <td>
                  <figure class="player-item">
                    <div class="player-item__img">
                      <img src="/assets/images/team-item-logo.png" alt="">
                      <div class="player-item__flag"></div>
                    </div>
                    <figcaption class="player-item__caption">
                      <h5 class="player-item__name">Harry Kane</h5>
                      <div class="player-item__position">Soccer Striker</div>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="country-item">
                    <img src="/assets/images/country-flag-icon.png" alt="">
                    Phoenix AZ
                  </div>
                </td>
                <td>Aggie Memorial Stadium (NMSU)</td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><button class="actions-btn"></button></td>
              </tr>
              <tr>
                <td>
                  <figure class="player-item">
                    <div class="player-item__img">
                      <img src="/assets/images/team-item-logo.png" alt="">
                      <div class="player-item__flag"></div>
                    </div>
                    <figcaption class="player-item__caption">
                      <h5 class="player-item__name">Harry Kane</h5>
                      <div class="player-item__position">Soccer Striker</div>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="country-item">
                    <img src="/assets/images/country-flag-icon.png" alt="">
                    Phoenix AZ
                  </div>
                </td>
                <td>Aggie Memorial Stadium (NMSU)</td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><button class="actions-btn"></button></td>
              </tr>
              <tr>
                <td>
                  <figure class="player-item">
                    <div class="player-item__img">
                      <img src="/assets/images/team-item-logo.png" alt="">
                      <div class="player-item__flag"></div>
                    </div>
                    <figcaption class="player-item__caption">
                      <h5 class="player-item__name">Harry Kane</h5>
                      <div class="player-item__position">Soccer Striker</div>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="country-item">
                    <img src="/assets/images/country-flag-icon.png" alt="">
                    Phoenix AZ
                  </div>
                </td>
                <td>Aggie Memorial Stadium (NMSU)</td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><button class="actions-btn"></button></td>
              </tr>
              <tr>
                <td>
                  <figure class="player-item">
                    <div class="player-item__img">
                      <img src="/assets/images/team-item-logo.png" alt="">
                      <div class="player-item__flag"></div>
                    </div>
                    <figcaption class="player-item__caption">
                      <h5 class="player-item__name">Harry Kane</h5>
                      <div class="player-item__position">Soccer Striker</div>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="country-item">
                    <img src="/assets/images/country-flag-icon.png" alt="">
                    Phoenix AZ
                  </div>
                </td>
                <td>Aggie Memorial Stadium (NMSU)</td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><button class="actions-btn"></button></td>
              </tr>
              <tr>
                <td>
                  <figure class="player-item">
                    <div class="player-item__img">
                      <img src="/assets/images/team-item-logo.png" alt="">
                      <div class="player-item__flag"></div>
                    </div>
                    <figcaption class="player-item__caption">
                      <h5 class="player-item__name">Harry Kane</h5>
                      <div class="player-item__position">Soccer Striker</div>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="country-item">
                    <img src="/assets/images/country-flag-icon.png" alt="">
                    Phoenix AZ
                  </div>
                </td>
                <td>Aggie Memorial Stadium (NMSU)</td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><span class="score-item">9.2</span></td>
                <td><button class="actions-btn"></button></td>
              </tr>
            </tbody>
          </table>

          <div class="table-controls">
            <div>
              Showing 10-20 of 112
            </div>

            <div class="pagination">
              <a href="#">&lt;</a>
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <span>…</span>
              <a href="#">10</a>
              <a href="#">&raquo;</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="filter state-active">
      <div class="filter__inner">

        <button class="filter__clear-btn">Clear All</button>

        <div class="filter__tags">
          <div class="filter__tags-label">Selected Filter</div>
          <div class="filter__tags-content">
            <a href="#" class="tag">Soccer</a>
            <a href="#" class="tag">FIFA</a>
            <a href="#" class="tag">Active</a>
          </div>
        </div>

        <div class="filter__part">
          <h3 class="filter__part-title">Search by Name</h3>
          <div class="form-row search-inp-wrap">
            <input-text placeholder="Enter Player Name or Surename"></input-text>
          </div>
        </div>

        <div class="filter__part">
          <h3 class="filter__part-title">Advanced Filter</h3>
          <div class="form-row">
            <input-text placeholder="Sport"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="League"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="Position"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="Team"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="Status"></input-text>
          </div>
          <div class="form-row">
            <input-text placeholder="Country"></input-text>
          </div>
          <div class="form-row">
            <div class="form-checkbox">
              <input type="checkbox" id="agree">
              <label for="agree" class="form-checkbox__label">Show only players that I did not report on</label>
            </div>
          </div>

          <button class="form-btn">Apply Filter</button>
        </div>

      </div>
    </div>
  </div>
</template>