<template>
    <div class="container">
        Avatar tests
       
        <div>
           <button @click="isOpenModal= !isOpenModal" type="button">Open modal</button>
          <avatar-modal v-model="isOpenModal" @uploaded="getPayload">
           </avatar-modal>
        </div>
        <div>
            {{ digit }}
        </div>
        <div>
            <slider-zero-center 
            v-model="digit"
            label="Potential"
            markLeft="Untapped <br/>potential"
            markCenter="Peak <br/>potential"
            markRight="Post <br/>speak"
            />
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>
            <slider-with-comment 
                v-model:value="sval"
                v-model:comment="scomment"
                label="Durability"                
            />
        </div>
        <br/>
        <br/>
        {{ scomment }}
        <br/>
        <br/>
        <div>
            <commented-scale 
                label="Durability"
                :value="sval"
                :comment="scomment"
            />
        </div>
        <br/>
        <br/>
        <div>
            <bottom-labels-scale 
                :value="digit"
                label="Potential"
                markLeft="Untapped <br/>potential"
                markCenter="Peak <br/>potential"
                markRight="Post <br/>speak"
            />
        </div>
        <br/>
        <br/>
    </div>
</template>
<script>
//TODO inside modals
import AvatarModal from '@/components/account/avatar';
import SliderZeroCenter from '@/components/forms/SliderZeroCenter';
import SliderWithComment from '@/components/forms/SliderWithComment';
import CommentedScale from '@/components/grades/CommentedScale';
import BottomLabelsScale from '@/components/grades/BottomLabelsScale';
//"verification-fields"
export default {
    components: {
        "avatar-modal" : AvatarModal,
        "slider-zero-center" : SliderZeroCenter,
        "slider-with-comment" : SliderWithComment, 
        "commented-scale": CommentedScale,
        "bottom-labels-scale": BottomLabelsScale     
    },
    data() {
        return {           
            isOpenModal: false,
            code: null,
            digit: 0,
            sval: 0,
            scomment: null
        }
    },
    methods: {
        getPayload(payload) {
            console.log(payload);
            this.isOpenModal = false;
        }        
    }    
}
</script>
<style lang="scss">
</style>