.account {
    &-page {
        padding: 125px 0;
        min-height: 100vh;
    }
    &__form-message {
        font-size: 14px; 
        padding-bottom: 8px;       
        &.state_error {
            color: $error-color;
        }
        &.state_success {
            color: $accent-color;
        }
    }
}
.modal__verification-field {
    &:focus {
        border-color: $accent-color;
    }
}
.profile-avatar__img {
    img {
        max-width: 70px;
        width: 100%;
    } 
}
