.articles{
	background: $accent-color url('/assets/images/news-bg@2x.png') 50% no-repeat;
	background-size: 110% auto;
	padding: 32px 0 25px;

	&__title{
		color: #ffffff;
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 3px;
	}

	&__caption{
		color: #ffffff;
		font-family: $font-nunito;
		font-size: 18px;
		font-weight: 500;
	}

	&__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item{
		display: flex;
		align-items: flex-start;
		width: calc(50% - 10px);
		background-color: #fff;
		box-shadow: 0 2px 21px rgba(0, 0, 0, 0.14);
		border-radius: 5px;
		background-color: #ffffff;
		color: #000000;
		font-family: $font-nunito;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 10px;
	}

	&__item-img{
		line-height: 0;

		img{
			border-radius: 5px 0 0 5px;
		}
	}

	&__item-caption{
		padding: 17px 13px 10px;

		p{
			margin-bottom: 5px;
		}
	}

	&__item-name{
		color: #000000;
		font-size: 17px;
		font-weight: 700;
		line-height: 19px;
		text-transform: uppercase;
		font-family: $font-family;
		margin-bottom: 8px;
	}

	&__item-link{
		color: $accent-color;
		font-size: 12px;
		font-weight: 700;
		font-style: italic;
	}

	@media only screen and (max-width: 767.98px) {
		padding: 25px 0;

		&__item{
			width: calc(100% - 10px);
		}

		&__title{
			font-size: 18px;
		}

		&__caption{
			font-size: 16px;
			font-weight: 400;
			br{
				display: none;
			}
		}
	}

	@media only screen and (max-width: 479px) {
		&__item{
			font-size: 12px;
			line-height: 1.3;
			font-weight: 400;
		}

		&__item-name{
			font-size: 14px;
			font-weight: 500;
		}

		&__item-caption{
			padding: 10px;
		}
	}
}


// Single Article
.article{
	background: #FFFFFF;
	border-radius: 5px;
	margin-bottom: 40px;

	&__banner{
		position: relative;
	}

	&__banner-caption{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		color: #fff;
		padding: 0 23px 25px;
	}

	&__banner-img{
		position: relative;
		line-height: 0;

		img{
			max-width: 100%;
			height: auto;
			border-radius: 5px 5px 0 0;
		}

		&::after{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: .2;
			content: '';
		}
	}

	&__tags{
		margin-bottom: 10px;

		a{
			line-height: 18px;
			border-radius: 2px;
			display: inline-block;
			font-size: 12px;
			text-transform: uppercase;
			color: #fff;
			padding: 0 5px;
			margin-right: 7px;
			background-color: $accent-color;
			border: 1px solid $accent-color;
		}
	}

	&__title{
		font-size: 34px;
		line-height: 1.14;
		margin-bottom: 15px;
	}

	&__info{
		>*{
			margin-right: 25px;
			background-repeat: no-repeat;
			background-position: 0 0;
			padding-left: 24px;
		}
	}

	&__time{
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0C3.5912 0 0 3.5912 0 8C0 12.4088 3.5912 16 8 16C12.4088 16 16 12.4088 16 8C16 3.5912 12.4088 0 8 0ZM8 1.6C11.5441 1.6 14.4 4.4559 14.4 8C14.4 11.5441 11.5441 14.4 8 14.4C4.4559 14.4 1.6 11.5441 1.6 8C1.6 4.4559 4.4559 1.6 8 1.6ZM7.2 3.2V8.33125L10.6344 11.7656L11.7656 10.6344L8.8 7.66875V3.2H7.2Z' fill='white'/%3E%3C/svg%3E%0A");
	}

	&__views{
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0C2.45455 0 0 7 0 7C0 7 2.45455 14 9 14C15.5455 14 18 7 18 7C18 7 15.5455 0 9 0ZM9 1.75C13.3364 1.75 15.4643 5.5125 16.2006 7C15.4643 8.4875 13.3364 12.25 9 12.25C4.66364 12.25 2.53572 8.4875 1.79936 7C2.53572 5.5125 4.74545 1.75 9 1.75ZM9 3.5C7.2 3.5 5.72727 5.075 5.72727 7C5.72727 8.925 7.2 10.5 9 10.5C10.8 10.5 12.2727 8.925 12.2727 7C12.2727 5.075 10.8 3.5 9 3.5ZM9 5.25C9.9 5.25 10.6364 6.0375 10.6364 7C10.6364 7.9625 9.9 8.75 9 8.75C8.1 8.75 7.36364 7.9625 7.36364 7C7.36364 6.0375 8.1 5.25 9 5.25Z' fill='white'/%3E%3C/svg%3E%0A");
		background-position: 0 2px;
	}

	&__comments{
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0C3.63889 0 0 3.20278 0 7.25333C0 11.3039 3.63889 14.5067 8 14.5067C8.27693 14.5067 8.53213 14.4507 8.8 14.4248V17L10.0328 16.2035C11.7626 15.0851 15.508 12.1819 15.9547 8.01519C15.983 7.76731 16 7.51344 16 7.25333C16 3.20278 12.3611 0 8 0ZM8 1.61185C11.5925 1.61185 14.4 4.18273 14.4 7.25333C14.4 7.44724 14.3881 7.64068 14.3656 7.83574V7.83889L14.3641 7.84204C14.0876 10.4215 12.038 12.4474 10.4 13.7684V12.5501L9.44219 12.7453C8.97367 12.8406 8.49226 12.8948 8 12.8948C4.40751 12.8948 1.6 10.3239 1.6 7.25333C1.6 4.18273 4.40751 1.61185 8 1.61185ZM4 6.44741V8.05926H5.6V6.44741H4ZM7.2 6.44741V8.05926H8.8V6.44741H7.2ZM10.4 6.44741V8.05926H12V6.44741H10.4Z' fill='white'/%3E%3C/svg%3E%0A");
		background-position: 0 0px;
	}

	&__content{
		padding: 25px;
	}

	&__details{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 0 20px;
		border-bottom: 1px solid rgba(#00293B, .19);
		margin-bottom: 15px;
	}

	&__details-author{
		vertical-align: middle;
		color: #7D86A9;

		a{
			color: #00293B;
		}

		img{
			vertical-align: middle;
			margin: 0 5px;
		}
	}

	&__details-share,
	&__details-share-item{
		color: #7D86A9;
		vertical-align: middle;
	}

	&__details-share-item{
		margin-left: 10px;
	}

	&__content-text{
		line-height: 24px;

		img{
			max-width: 100%;
			height: auto;
		}

		h3{
			font-size: 22px;
			line-height: 33px;
			color: #000000;
			margin-bottom: 20px;
		}
	}

	&__author{
		border-top: 1px solid rgba(#00293B, .19);
		border-bottom: 1px solid rgba(#00293B, .19);
		display: flex;
		padding: 28px 0 25px;
		margin-bottom: 20px;
	}

	&__author-title{
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&__author-caption{
		padding: 0 0 0 20px;
	}

	&__author-name{
		font-size: 22px;
		line-height: 1.1;
		margin-bottom: 2px;
	}

	&__author-level{
		color: #7D86A9;
		margin-bottom: 10px;
	}

}