.banner{
	background: url('/assets/images/banner-bg.png') 50% no-repeat;
	background-size: cover;
	height: 475px;
	padding: 7px 0;

	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title{
		font-weight: 900;
		font-size: 40px;
		color: #fff;
		margin-bottom: 18px;
	}

	&__content{
		font-family: $font-nunito;
		color: #fff;
		font-size: 18px;
		line-height: 1.4;
		font-weight: 500;
		max-width: 380px;
		padding: 34px 0 0;
	}

	&__btn{
		display: block;
		width: 167px;
		text-align: center;
	}

	@media only screen and (max-width: 767.98px) {
		height: auto;
		padding: 50px 0 15px;

		&__inner{
			display: block;
		}

		&__content{
			padding-top: 15px;
			padding-bottom: 15px;
			max-width: 100%;
			font-size: 16px;
		}

		&__title{
			margin-bottom: 10px;
			font-size: 30px;
			line-height: 1.3;
		}
	}

	@media only screen and (max-width: 479px) {
		&__title{
			font-size: 24px;
		}
	}
}