.compare{
    padding-bottom: 40px;
    &__wrapper{
        //display: inline-block;
        //width: auto;
        //padding-top: 65px;
        //position: relative;

        &-scroll{
            //overflow: auto;
            //padding-right: 0;
            //width: 100%;

            /* width */
            &::-webkit-scrollbar {
                //width: 11px;
                height: 11px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #E9EBF2;
                border-radius: 7px;
                margin: 100px;
                position: absolute;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #707C91;
                border-radius: 7px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        }
    }

    &__players{
        position: sticky;
        top: 0;
        display: flex;
        padding-top: 26px;
        border-bottom: 1px solid #DFE1EC;
        background: #fff;
        button{
            background: none;
        }

        .player-item{
            min-width: 228px;
        }
    }

    &-accordion{

        &__item{

            &:last-child{
                margin-bottom: 50px;
            }

            &-title{
                font-weight: 800;
                font-size: 20px;
                line-height: 27px;
                color: #00293B;
                padding: 21px 0 18px;
                border-bottom: 1px solid #DFE1EC;
                display: flex;
                align-items: center;

                button{
                    background: none;
                    line-height: 0;
                }

                span{
                    font-weight: 500;
                }
            }

            &-row{
                padding-top: 14px;
                padding-bottom: 12px;
                border-bottom: 1px solid #DFE1EC;
            }

            &-name{
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 11px;
                color: #7E818A;
                text-transform: uppercase;
            }

            &-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-item{
                min-width: 228px;
                padding-right: 20px;

                &.logo{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 12px;
                    }
                }

                .add-btn{
                    width: auto;
                    padding-left: 24px;
                    background-position: 0 50%;
                    color: #8F9FB3;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 18px;
                }

                .score-item{
                    margin-right: 8px;
                }

                .statistics__bar{
                    margin: 8px 0 4px;
                }
            }

            &-statistics{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .compare-accordion__item-name{
                    margin-bottom: 0;
                }
            }
        }

        &-name{
            color: #7E818A;
            font-weight: 900;
            font-size: 13px;
            line-height: 18px;
        }
    }

    &-potential{
        display: flex;
        align-items: center;
        img{
            margin-right: 6px;
        }
    }
}

.home__item{
    display: flex;
    align-items: center;
    &-img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        margin-right: 8px;
        img{
            max-width: 100%;
        }
    }
}
