.dashboard{
	background-color: #f1f1f1;
	padding: 30px 0;
	font-family: $font-nunito;

	&__inner{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__sidebar{
		min-width: 230px;
		width: 23.5%;
		padding: 15px 0 0;
	}

	&__content{
		width: calc(76.5% - 20px);
		border-radius: 5px;
		background-color: #ffffff;
		padding: 20px 20px 30px;

		&--transparent{
			background: none;
		}
	}

	&__user{
		text-align: center;
		padding-bottom: 16px;
	}

	&__user-caption{
		padding: 8px 0 0;
	}

	&__user-name{
		color: #00293b;
		font-size: 22px;
		line-height: 1;
		font-weight: 700;
		margin-bottom: 2px;
	}

	&__user-level{
		color: #7d86a9;
		font-size: 16px;
		font-weight: 500;
	}

	&__nav{
		padding: 0 0 30px 5px;
	}

	&__nav-item{

	}

	/*
	&__nav-link{
		display: block;
		font-size: 14px;
		font-weight: 800;
		letter-spacing: -0.19px;
		line-height: 30px;
		padding: 10px 0;
		vertical-align: middle;

		span{
			display: inline-block;
			width: 40px;
			text-align: center;
			margin-right: 6px;
		}

		svg,
		img{
			vertical-align: middle;
		}

		&:hover,
		&.state-active{
			color: #417505;
		}
	}
*/
	&__banner{
		height: 270px;
		border-radius: 5px;
		background-color: #001924;
		padding: 19px 15px;
		text-align: center;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: -0.33px;
		color: #fff;
		background-repeat: no-repeat;
		background-size: cover;

		p{
			margin-bottom: 15px;
		}
	}

	&__banner-title{
		color: #ffffff;
		font-family: $font-family;
		font-size: 18px;
		line-height: 1.5;
		font-weight: 700;
		letter-spacing: 0.01px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&__banner-btn{
		line-height: 40px;
		display: block;
		font-family: $font-nunito;
		color: #ffffff;
		font-size: 16px;
		font-weight: 900;
		letter-spacing: 0;
		text-transform: none;
	}

	&__item{
		border-radius: 15px;
		background-color: #fff;
		box-shadow: 0 2px 9px rgba(0,0,0,.12);
		padding: 25px;
		margin-bottom: 20px;
	}

	&__reviews{
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}

	&__review{
		width: calc(33.3% - 20px);
		margin-left: 10px;
		margin-right: 10px;
		padding: 23px 10px;
		display: flex;
		align-items: center;
	}

	&__review-icon{
		background-color: #EDEEF3;
		width: 52px;
		height: 52px;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 10px 0 0;

		img{
			max-width: 100%;
			height: auto;
		}
	}

	&__review-num{
		font-size: 22px;
		font-weight: 600;
		line-height: 1;
		margin: 0;
	}

	// Dashboard content
	&__content-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__content-title{
		color: #000000;
		font-size: 24px;
		font-weight: 800;
		letter-spacing: -0.52px;
	}

	&__submit-btn{
		line-height: 40px;
		background: #5fc422 url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='20' height='20' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 20 20'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EShape%3C/title%3E%3Cpath d='M9,5v4h-4v2h4v4h2v-4h4v-2h-4v-4zM10,2c4.43012,0 8,3.56988 8,8c0,4.43012 -3.56988,8 -8,8c-4.43012,0 -8,-3.56988 -8,-8c0,-4.43012 3.56988,-8 8,-8zM10,0c-5.511,0 -10,4.489 -10,10c0,5.511 4.489,10 10,10c5.511,0 10,-4.489 10,-10c0,-5.511 -4.489,-10 -10,-10z' fill='%23ffffff' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 10px 50% no-repeat;
		display: inline-block;
		color: #ffffff;
		font-size: 16px;
		font-weight: 800;
		padding: 0 20px 0 38px;
		border-radius: 2px;

		&:hover{
			color: #fff;
			background-color: $accent-dark;
		}
	}

	&__table--stadium .player-item__img img,
	&__table--team .player-item__img img{
		border-radius: 0;
	}

	&__table{
		width: 100%;
		border-collapse: separate;
    border-spacing: 0 11px;

		thead{
			border-radius: 3px;
			background-color: #edf1f9;
		}


		th{
			background-color: #edf1f9;
			color: #00293b;
			font-size: 12px;
			font-weight: 900;
			text-align: left;
			padding: 6px 10px 7px;

			&:first-child{
				border-radius: 3px 0 0 3px;
			}

			&:last-child{
				border-radius: 0 3px 3px 0px;
			}
		}

		tbody tr{
			border: 1px solid #cbd5ea;
			border-radius: 6px;
			margin-top: 11px;
		}

		td{
			padding: 6px 10px 7px;
			text-align: left;
			vertical-align: middle;
			font-size: 12px;
			font-weight: 500;
			border: 1px solid #cbd5ea;
			border-left: none;
			border-right: none;

			&:first-child{
				border-left: 1px solid #cbd5ea;
				border-radius: 6px 0 0 6px;
			}

			&:last-child{
				border-right: 1px solid #cbd5ea;
				border-radius: 0 6px 6px 0px;
			}
		}

	}

	&__about{
		display: flex;
		margin-left: -10px;
		margin-right: -10px;
	}

	&__about-item{
		width: calc(50% - 20px);
		margin-left: 10px;
		margin-right: 10px;

		&--info{
			background-color: transparent;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50%;
		}
	}

	&__about-title{
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	&__awards{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&__award{
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #EDEEF3;
		margin: 0 6px 10px 6px;

		img{
			max-width: 100%;
			height: auto;
		}

		&[data-qty]{
			&::after{
				display: block;
				width: 19px;
				height: 19px;
				text-align: center;
				line-height: 19px;
				background-color: #fff;
				box-shadow: 0 2px 6px rgba(0,0,0,.13);
				content: attr(data-qty);
				position: absolute;
				bottom: 0;
				right: 0;
				border-radius: 50%;
				font-size: 9px;
			}
		}
	}

	&__title{
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__teams{
		display: flex;
		text-align: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-left: -5px;
		margin-right: -5px;
	}

	&__team{
		width: 88px;
		margin: 10px 5px;
	}

	&__team-logo{
		display: flex;
		height: 88px;
		justify-content: center;
		align-items: center;
		background-color: #EDEEF3;
		border-radius: 7px;
	}

	&__team-name{
		padding: 15px 0 0;
	}

	@media only screen and (max-width: 992px) {

		&__content-title{
			font-size: 18px;
		}

		&__submit-btn{
			font-size: 14px;
			line-height: 34px;
		}
	}

	@media only screen and (max-width: 767.98px) {
		padding-top: 5px;

		&__inner{
			display: block;
		}

		&__sidebar{
			width: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__nav{
			order: 2;
		}

		&__user{
			order: 3;
		}

		&__banner{
			height: auto;
			padding: 20px;
			order: 1;
			width: 100%;
			margin-bottom: 20px;
		}

		&__content{
			width: 100%;
		}

		&__team{
			width: calc(20% - 10px);
		}
	}

	@media only screen and (max-width: 575px) {
		&__about,
		&__reviews{
			display: block;
			margin: 0;
		}

		&__about-item,
		&__review{
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		&__team{
			width: calc(33.3% - 10px);
		}
	}

	@media only screen and (max-width: 479px) {
		&__user{
			order: 1;
			width: 100%;
		}

		&__nav{
			order: 2;
			padding-bottom: 10px;
		}

		&__banner{
			order: 3;
		}

		&__content-header{
			display: block;
		}

		&__content-title{
			margin-bottom: 10px;
		}

	}

}


.player-item{
	display: flex;
	align-items: center;

	&--indent{
		margin-bottom: 10px;
	}

	&__caption{
		padding: 0 0 0 15px;
	}

	&__name{
		color: #00293b;
		font-size: 16px;
		font-weight: 800;
	}

	&__img{
		position: relative;

		img{
			border-radius: 50%;
		}
	}

	&__flag{
		position: absolute;
		bottom: 7px;
		right: 0px;
		width: 15px;
		height: 15px;

		img{
			max-width: 100%;
			height: auto;
		}
	}

	&__position{
		color: #7d86a9;
	}

	&__rank{
		background: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.34665 9.6399e-05C7.26626 0.00189066 7.18685 0.0182125 7.11227 0.0482735L0.445607 2.71494C0.214523 2.79619 0.0465961 2.9976 0.00824018 3.23953C-0.0301157 3.48146 0.0672762 3.72494 0.261899 3.87368C0.456521 4.02241 0.717031 4.05245 0.940399 3.95192L7.35967 1.38421L13.7789 3.95192C14.0023 4.05245 14.2628 4.02241 14.4574 3.87368C14.6521 3.72494 14.7495 3.48146 14.7111 3.23953C14.6727 2.9976 14.5048 2.79619 14.2737 2.71494L7.60707 0.0482735C7.52435 0.0149624 7.4358 -0.00141976 7.34665 9.6399e-05ZM7.34665 2.0001C7.26626 2.00189 7.18685 2.01821 7.11227 2.04827L0.445607 4.71494C0.214523 4.79619 0.0465961 4.9976 0.00824018 5.23953C-0.0301157 5.48146 0.0672762 5.72494 0.261899 5.87368C0.456521 6.02241 0.717031 6.05245 0.940399 5.95192L7.35967 3.38421L13.7789 5.95192C14.0023 6.05245 14.2628 6.02241 14.4574 5.87368C14.6521 5.72494 14.7495 5.48146 14.7111 5.23953C14.6727 4.9976 14.5048 4.79619 14.2737 4.71494L7.60707 2.04827C7.52435 2.01496 7.4358 1.99858 7.34665 2.0001ZM7.11227 4.04827C7.18685 4.01821 7.26626 4.00189 7.34665 4.0001C7.4358 3.99858 7.52435 4.01496 7.60707 4.04827L14.2737 6.71494C14.5048 6.79619 14.6727 6.9976 14.7111 7.23953C14.7495 7.48146 14.6521 7.72494 14.4574 7.87368C14.2628 8.02241 14.0023 8.05245 13.7789 7.95192L7.35967 5.38421L0.940399 7.95192C0.717031 8.05245 0.456521 8.02241 0.261899 7.87368C0.0672762 7.72494 -0.0301157 7.48146 0.00824018 7.23953C0.0465961 6.9976 0.214523 6.79619 0.445607 6.71494L7.11227 4.04827Z' fill='%238F9FB3'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
		padding: 0 0 0 25px;
		font-size: 14px;
		letter-spacing: -0.30625px;
	}

	@media only screen and (max-width: 992px) {
		&__name{
			font-weight: 400;
			font-size: 14px;
		}
	}
}

.team-item{
	display: flex;
	align-items: center;

	&__caption{
		padding: 0 0 0 15px;
	}

	&__name{
		font-size: 12px;
		font-weight: 500;
		max-width: 90px;
	}

	&__img{
	}
}

.score-item{
	font-family: $font-family;
	color: #00293b;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}

.game-item{
	padding: 10px 0;
	text-align: center;

	&__img{
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;

		img{
			max-width: 100%;
			height: auto;
		}
	}

	&__caption{
		color: #00293b;
		font-size: 16px;
		line-height: 1;
		padding: 5px 0 0;
		font-weight: 800;
	}

	@media only screen and (max-width: 767.98px) {
		&__caption{
			font-weight: 400;
			font-size: 14px;
		}
	}
}

.game-info{
	text-align: center;
	font-size: 12px;
	color: #00293b;
	font-weight: 600;
	padding: 5px 0;

	&__league{
		color: #00293b;
		font-weight: 700;
		line-height: 1;
		position: relative;
		z-index: 10;
	}

	&__scores{
		vertical-align: middle;
		color: #00293b;
		font-family: $font-family;
		font-size: 36px;
		line-height: 50px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;

		span{
			position: relative;
			z-index: 10;
			display: inline-block;
		}

		&::before{
			width: 80px;
			height: 68px;
			background: url(/assets/images/game-vs-icon.png) 50% no-repeat;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -34px 0 0 -40px;
			content: '';
		}
	}

	&__place,
	&__date{
		margin: 2px 0;

		&::before{
			display: inline-block;
			vertical-align: middle;
			content: '';
		}
	}

	&__place{
		&::before{
			width: 15px;
			height: 18px;
			margin-right: 2px;
			background: url('/assets/images/place_icon.png') 0 50% no-repeat;
		}
	}

	&__date{
		&::before{
			width: 11px;
			height: 12px;
			margin-right: 5px;
			background: url('/assets/images/date_icon.png') 0 50% no-repeat;
		}
	}
}

.game-action-btns{
	.btn{
		margin: 8px 0;
		width: 100%;
		display: block;
	}
}