.latest-act{
	width: 427px;
	min-height: 449px;
	border-radius: 8px;
	background-color: #ffffff;
	padding: 9px 11px;

	&__title{
		color: #5ec422;
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 10px;
		margin-bottom: 10px;
	}

	&__list{
		border-bottom: 1px solid rgba(#979797, .14);

		a:hover{
			color: $accent-color;
		}
	}

	&__list-item{
		border-top: 1px solid rgba(#979797, .14);
		display: flex;
		align-items: center;
		padding: 6px 7px;
	}

	&__list-img{
		margin: 2px 0 0;
	}

	&__list-caption{
		padding: 0 0 0 12px;
		color: #00293b;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;

		span{
			color: #adb6d4;
		}
	}

	&__list-title{
		padding: 2px 0 0;
		font-size: 16px;
		font-weight: 700;
		line-height: 19px;
		text-transform: uppercase;
		color: #00293b;
	}

	&__btn{
		margin-top: 8px;
		display: block;
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	@media only screen and (max-width: 767.98px) {
		width: auto;
		margin-top: 15px;

		&__title{
			font-size: 20px;
		}
	}

	@media only screen and (max-width: 479px) {
		&__title{
			font-size: 18px;
		}
	}
}