.my-articles{
	display: flex;
	flex-wrap: wrap;
	padding: 17px 0 0;
	margin-left: -10px;
	margin-right: -10px;

	&__item{
		width: calc(50% - 20px);
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
		background: #FFFFFF;
		box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.121569);
		border-radius: 5px;
	}

	&__item-img{
		img{
			max-width: 100%;
			border-radius: 5px 5px 0 0;
		}
	}

	&__item-caption{
		padding: 22px 20px 30px;
	}

	&__item-title{
		font-size: 20px;
		line-height: 1.1;
		font-weight: 500;
		margin-bottom: 15px;
	}

	&__item-details{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
	}

	&__item-author{
		color: #7D86A9;
		font-size: 14px;
		line-height: 1.2;

		a{
			color: #00293B;

			&:hover{
				color: $accent-color;
			}
		}
	}

	&__item-category{
		font-size: 12px;
		text-transform: uppercase;

		&,
		a{
			color: $accent-color;
		}
	}

	&__item-info{
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 13px;
		line-height: 1.2;

		a,
		&{
			color: #7D86A9;
		}
	}

	&__item-time{
		background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0C3.5912 0 0 3.5912 0 8C0 12.4088 3.5912 16 8 16C12.4088 16 16 12.4088 16 8C16 3.5912 12.4088 0 8 0ZM8 1.6C11.5441 1.6 14.4 4.4559 14.4 8C14.4 11.5441 11.5441 14.4 8 14.4C4.4559 14.4 1.6 11.5441 1.6 8C1.6 4.4559 4.4559 1.6 8 1.6ZM7.2 3.2V8.33125L10.6344 11.7656L11.7656 10.6344L8.8 7.66875V3.2H7.2Z' fill='%237D86A9'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
	}

	&__item-share{
		background: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 0C11.8606 0 10.6667 1.19391 10.6667 2.66667C10.6672 2.83391 10.6835 3.00073 10.7153 3.16493L4.39062 6.85417C3.9089 6.44608 3.29801 6.22215 2.66667 6.22222C1.19391 6.22222 0 7.41613 0 8.88889C0 10.3616 1.19391 11.5556 2.66667 11.5556C3.29703 11.5543 3.90658 11.3298 4.38715 10.9219L10.7153 14.6128C10.6835 14.777 10.6672 14.9439 10.6667 15.1111C10.6667 16.5839 11.8606 17.7778 13.3333 17.7778C14.8061 17.7778 16 16.5839 16 15.1111C16 13.6384 14.8061 12.4444 13.3333 12.4444C12.7024 12.4453 12.0921 12.6698 11.6111 13.0781L5.28472 9.38715C5.31652 9.22296 5.33279 9.05613 5.33333 8.88889C5.33279 8.72164 5.31652 8.55482 5.28472 8.39062L11.6094 4.70139C12.0911 5.10947 12.702 5.3334 13.3333 5.33333C14.8061 5.33333 16 4.13943 16 2.66667C16 1.19391 14.8061 0 13.3333 0Z' fill='%237D86A9'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
	}

	&__item-comments{
		background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0C3.63889 0 0 3.17923 0 7.2C0 11.2208 3.63889 14.4 8 14.4C8.27693 14.4 8.53213 14.3444 8.8 14.3188V16.875L10.0328 16.0844C11.7626 14.9742 15.508 12.0923 15.9547 7.95625C15.983 7.7102 16 7.4582 16 7.2C16 3.17923 12.3611 0 8 0ZM8 1.6C11.5925 1.6 14.4 4.15197 14.4 7.2C14.4 7.39248 14.3881 7.5845 14.3656 7.77812V7.78125L14.3641 7.78437C14.0876 10.3448 12.038 12.3559 10.4 13.6672V12.4578L9.44219 12.6516C8.97367 12.7461 8.49226 12.8 8 12.8C4.40751 12.8 1.6 10.248 1.6 7.2C1.6 4.15197 4.40751 1.6 8 1.6ZM4 6.4V8H5.6V6.4H4ZM7.2 6.4V8H8.8V6.4H7.2ZM10.4 6.4V8H12V6.4H10.4Z' fill='%237D86A9'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
	}

	&__item-time,
	&__item-share,
	&__item-comments{
		display: inline-block;
		padding: 2px 0 1px 20px;
	}

	&__item-share,
	&__item-comments{
		&:hover{
			color: $accent-color;
		}
	}

	&__item-comments{
		margin-left: 13px;
	}

}