.player{
	background-color: #F1F1F1;

	&__banner{
		background: url('/assets/images/player-banner-bg.png') 50% no-repeat;
		background-size: cover;
		height: 253px;
		display: flex;
		align-items: flex-end;
		color: #fff;
		font-family: $font-nunito;
	}

	&__banner-inner{
		display: flex;
		align-items: flex-end;
	}

	&__banner-img{
		line-height: 0;
		width: 220px;
		margin-right: 20px;
	}

	&__banner-caption{
		display: flex;
		align-items: flex-end;
	}

	&__name-wrap{
		display: flex;
		align-items: flex-end;
	}

	&__name{
		font-size: 42px;
		font-weight: 800;
		line-height: 1.1;

		small{
			display: block;
			font-weight: 400;
			font-size: 18px;
			letter-spacing: -0.39375px;
		}
	}

	&__flags{
		padding: 0 0 4px 10px;

		img{
			margin-right: 5px;
		}
	}

	&__activity{
		margin-bottom: 15px;
	}

	&__report-btn{
		border-radius: 3px;
		font-size: 14px;
		text-transform: none;
		font-weight: 400;
		background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0V21H9.50774C10.6946 22.474 12.51 23.4231 14.5385 23.4231C18.0923 23.4231 21 20.5154 21 16.9615C21 13.9658 18.9314 11.4374 16.1538 10.7145V5.31941L10.8344 0H0ZM1.61538 1.61538H9.69231V6.46154H14.5385V10.5C14.1457 10.5 13.7624 10.5409 13.3884 10.6088L11.538 8.4508L8.07535 12.4893L5.92045 9.97468L5.30679 9.25849L2.61711 12.3978L3.84285 13.4484L5.30679 11.7415L8.07692 14.9723L8.31513 15.2515C8.16417 15.7973 8.07692 16.3695 8.07692 16.9615C8.07692 17.818 8.24882 18.6349 8.55491 19.3846H1.61538V1.61538ZM13.3963 4.84615L11.3077 2.75751V4.84615H13.3963ZM14.5385 12.1154C17.2038 12.1154 19.3846 14.2962 19.3846 16.9615C19.3846 19.6269 17.2038 21.8077 14.5385 21.8077C11.8731 21.8077 9.69231 19.6269 9.69231 16.9615C9.69231 14.2962 11.8731 12.1154 14.5385 12.1154ZM13.7308 16.1538V13.7308H15.3462V16.1538H17.7692V17.7692H15.3462V20.1923H13.7308V17.7692H11.3077V16.1538H13.7308Z' fill='white'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: 15px 50%;
		padding-left: 45px;
	}

	&__nav{
		padding: 27px 0 0;
	}

	&__nav-list{
		display: flex;
	}

	&__nav-item{
		margin-right: 7px;
	}

	&__nav-link{
		display: block;
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		line-height: 47px;
		padding: 0 30px;
		text-align: center;
		letter-spacing: -0.35px;
		border-radius: 3px 3px 0 0;
		background-color: #00293B;
	}

	&__nav-item:hover &__nav-link,
	&__nav-item.state-active &__nav-link{
		background-color: #F1F1F1;
		color: #000;
	}

	&__details{
		padding: 0 0 16px 35px;

		dt{
			font-family: $font-family;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			color: #BEC9B3;
			margin-bottom: 5px;
		}

		dd{
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 12px;

			&:last-child{
				margin-bottom: 0;
			}
		}

	}

	&__main{
		padding: 30px 0 40px;
		display: flex;
	}

	&__main-inner{
		display: flex;
	}

	&__sidebar{
		width: 220px;
		margin-right: 20px;
	}

	&__content{
		background: #FFFFFF;
		box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.121804);
		border-radius: 15px;
		width: calc(100% - 40px);
		padding: 30px;

		&--fullwidth{
			width: 100%;
		}
	}

	&__report{
		display: flex;
		flex-wrap: wrap;

		&-col:first-child{
			width: 60%;
			padding-right: 20px;
		}
		&-col:last-child{
			width: 40%;
		}
	}

	&__data{

		dt{
			background-color: #00293B;
			border-radius: 7px 7px 0 0;
			line-height: 36px;
			text-align: center;
			padding: 0 20px;
			font-family: $font-family;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 700;
			color: #fff;
		}

		dd{
			background: #FFFFFF;
			box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.121804);
			border-radius: 0 0 7px 7px;
			margin-bottom: 20px;
			text-align: center;
			line-height: 62px;
			font-size: 42px;
			letter-spacing: -0.91875px;
			color: #000000;
			background-position: 0 -20px;
			background-repeat: no-repeat;
		}

		.average-item{
			background-image: url("data:image/svg+xml,%3Csvg width='98' height='76' viewBox='0 0 98 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.020066' d='M-2.41734 26.4248L10.1202 22.1077L36.5417 68.6938L26.401 72.1855L21.1229 62.2475L13.8093 64.7657L15.7072 75.8677L5.32064 79.4441L-2.41734 26.4248ZM17.8138 56.0311L8.48388 37.5202L12.5283 57.8511L17.8138 56.0311ZM18.8262 19.11L28.2294 15.8722L45.2154 47.8334L38.5545 12.317L48.5108 8.88879L56.5561 61.8023L44.9404 65.8019L18.8262 19.11ZM81.9298 53.8904C77.0131 55.5833 72.995 55.2941 69.8756 53.0226C66.7561 50.7511 64.2511 46.8702 62.3606 41.3799L56.6046 24.6631C54.6718 19.0499 54.3243 14.3803 55.562 10.6543C56.8407 6.91427 60.1842 4.11311 65.5926 2.25086C70.7961 0.459154 74.9619 0.445477 78.0901 2.20983C81.2183 3.97419 83.5795 7.17131 85.1737 11.8012L86.2741 14.9971L75.5188 18.7004L74.1221 14.6441C73.4449 12.6774 72.7117 11.28 71.9224 10.4519C71.119 9.58275 69.9388 9.41624 68.3819 9.95234C66.784 10.5025 65.9296 11.4154 65.8189 12.691C65.7491 13.9524 66.0528 15.5665 66.73 17.5332L74.6657 40.5802C75.3429 42.5469 76.1658 44.0051 77.1344 44.9548C78.1299 45.8494 79.4061 46.0287 80.9631 45.4926C83.8312 44.505 84.5245 41.8602 83.0432 37.5581L81.0328 31.7195L76.5463 33.2643L74.3243 26.8112L88.7057 21.8593L97.5937 47.6719L90.3416 50.169L88.3091 46.2629C87.8667 50.0358 85.7403 52.5783 81.9298 53.8904Z' fill='black'/%3E%3C/svg%3E%0A");
		}

		.mediana-item{
			background-image: url("data:image/svg+xml,%3Csvg width='102' height='75' viewBox='0 0 102 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.020066' d='M-8.74759 29.6044L3.05248 25.5413L18.4896 52.605L14.4223 21.6264L25.7922 17.7114L43.7938 67.1967L35.9885 69.8843L23.6604 37.0755L29.2895 72.1909L22.3447 74.5822L4.7079 43.3263L15.4613 76.9524L7.53315 79.6823L-8.74759 29.6044ZM32.5051 15.4L54.8761 7.69704L57.4579 15.195L46.088 19.11L50.3415 31.4632L59.0072 28.4793L61.6313 36.1002L52.9656 39.084L58.0868 53.957L69.5796 49.9998L72.1402 57.4363L49.6463 65.1815L32.5051 15.4ZM58.6491 6.3979L71.2481 2.0597C75.5502 0.578365 79.0934 -0.0458452 81.8776 0.187071C84.6617 0.419986 86.9405 1.51438 88.7139 3.47025C90.5142 5.37103 92.0703 8.22665 93.3823 12.0371L99.6039 30.1059C100.93 33.9574 101.476 37.2066 101.242 39.8538C101.048 42.4868 99.9336 44.7727 97.8971 46.7113C95.9017 48.6358 92.7733 50.3317 88.5122 51.7989L75.7902 56.1795L58.6491 6.3979ZM85.8881 44.1781C87.486 43.6278 88.5762 43.0004 89.1585 42.2958C89.7677 41.5361 90.0266 40.6907 89.9352 39.7598C89.8296 38.7878 89.4806 37.4414 88.8881 35.7206L81.4179 14.0257C80.8677 12.4277 80.3286 11.2614 79.8006 10.5266C79.2995 9.73669 78.5891 9.27091 77.6696 9.12924C76.791 8.97345 75.5527 9.17067 73.9548 9.72088L72.2954 10.2922L84.1673 44.7706L85.8881 44.1781Z' fill='black'/%3E%3C/svg%3E%0A");
		}

		.percentage-75-item{
			background-image: url("data:image/svg+xml,%3Csvg width='115' height='82' viewBox='0 0 115 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.020066' d='M2.98725 36.1144L-10.5951 40.7912L-13.2827 32.9859L10.3174 24.8598L12.7511 31.9275L16.6419 78.3658L6.62411 81.8152L2.98725 36.1144ZM44.2825 69.8796C40.7589 71.0928 37.8431 71.4094 35.5351 70.8292C33.213 70.208 31.3228 68.9111 29.8644 66.9384C28.4061 64.9657 27.0914 62.279 25.9205 58.8783L35.8153 55.4712C36.817 58.3803 37.7477 60.3513 38.6075 61.3843C39.4942 62.3622 40.6341 62.6114 42.0272 62.1317C43.1334 61.7508 43.8054 61.1069 44.0432 60.2001C44.3077 59.2383 44.2687 58.0601 43.9261 56.6657C43.5693 55.2303 42.9324 53.181 42.0154 50.5178C41.0561 47.7317 40.0632 45.7133 39.0368 44.4627C37.9962 43.171 36.718 42.7862 35.202 43.3082C33.1124 44.0277 32.3233 45.9952 32.8346 49.2105L23.9846 52.2579L15.0238 23.2392L38.2552 15.24L41.2179 23.8442L26.222 29.0077L29.2029 39.4618C29.4279 38.6511 30.1798 37.7734 31.4586 36.829C32.7643 35.8294 34.1752 35.0686 35.6912 34.5466C39.0509 33.3898 42.0914 33.9011 44.8125 36.0806C47.5746 38.246 49.8304 41.869 51.5798 46.9495C52.9483 50.9239 53.7357 54.3421 53.9421 57.2041C54.1343 60.0252 53.5081 62.5324 52.0634 64.7255C50.6046 66.8777 48.011 68.5957 44.2825 69.8796ZM65.1929 37.5875C61.0547 39.0124 57.7173 38.9699 55.1809 37.4601C52.6445 35.9503 50.5933 32.9214 49.0274 28.3735L48.2655 26.161C46.6854 21.572 46.4102 17.9775 47.4397 15.3773C48.5103 12.763 51.1761 10.7223 55.4372 9.25502C59.6984 7.7878 63.0555 7.75469 65.5086 9.1557C67.9476 10.5157 69.9501 13.4697 71.5161 18.0177L72.3625 20.476C73.9144 24.983 74.1558 28.6121 73.0866 31.3635C72.0033 34.0738 69.3721 36.1485 65.1929 37.5875ZM76.7846 1.97329L82.3158 0.0687191L84.2152 55.0984L78.6225 57.0242L76.7846 1.97329ZM62.992 31.1958C64.0163 30.8431 64.6826 30.3158 64.9909 29.6138C65.2992 28.9119 65.3525 28.0686 65.151 27.0839C64.9353 26.0582 64.5171 24.644 63.8963 22.8412L63.3673 21.3047C62.7324 19.461 62.2054 18.1301 61.7862 17.312C61.3529 16.4529 60.8128 15.8826 60.166 15.6012C59.5601 15.3057 58.7245 15.3414 57.6592 15.7082C56.5939 16.075 55.8931 16.5684 55.5566 17.1884C55.2611 17.7943 55.207 18.5691 55.3945 19.5128C55.5679 20.4155 55.9649 21.7683 56.5857 23.5711L57.157 25.2305C58.0599 27.8527 58.8997 29.6259 59.6762 30.5501C60.4527 31.4743 61.558 31.6896 62.992 31.1958ZM105.563 47.8167C101.424 49.2416 98.0871 49.1991 95.5506 47.6893C93.0552 46.1654 91.0245 43.1295 89.4585 38.5815L88.6967 36.369C87.1166 31.7801 86.8413 28.1855 87.8709 25.5854C88.9414 22.9711 91.5868 20.9374 95.8069 19.4842C100.068 18.017 103.425 17.9839 105.878 19.3849C108.317 20.7449 110.32 23.6989 111.886 28.2469L112.711 30.6438C114.263 35.1507 114.504 38.7799 113.435 41.5312C112.366 44.2825 109.742 46.3777 105.563 47.8167ZM103.362 41.425C104.386 41.0723 105.052 40.545 105.361 39.843C105.669 39.1411 105.722 38.2978 105.521 37.3131C105.305 36.2874 104.894 34.8937 104.287 33.1319L103.716 31.4725C103.081 29.6287 102.554 28.2978 102.135 27.4797C101.716 26.6616 101.183 26.1119 100.536 25.8305C99.9298 25.5349 99.0942 25.5706 98.0289 25.9374C96.9637 26.3042 96.2628 26.7976 95.9263 27.4176C95.6308 28.0235 95.5767 28.7983 95.7642 29.742C95.9376 30.6448 96.3346 31.9975 96.9554 33.8003L97.5267 35.4597C98.4296 38.0819 99.2694 39.8552 100.046 40.7794C100.822 41.7036 101.928 41.9188 103.362 41.425Z' fill='black'/%3E%3C/svg%3E%0A");
		}

		.percentage-95-item{
			background-image: url("data:image/svg+xml,%3Csvg width='128' height='83' viewBox='0 0 128 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.020066' d='M26.1147 80.8235C21.4848 82.4177 17.8472 82.5015 15.202 81.075C12.5837 79.5934 10.5268 76.681 9.03131 72.3379L8.75621 71.539L18.3438 68.2377C19.1056 70.4502 19.819 71.9232 20.484 72.6567C21.19 73.376 22.1986 73.51 23.5097 73.0585C24.4521 72.734 25.0294 72.2144 25.2416 71.4997C25.4948 70.7709 25.4705 69.7023 25.1688 68.2937C24.8672 66.8852 24.2437 64.8084 23.2985 62.0632L21.7748 57.6382C21.5385 58.682 20.9313 59.6473 19.9534 60.534C18.9754 61.4207 17.7694 62.1109 16.3354 62.6047C12.7298 63.8462 9.58695 63.3701 6.90677 61.1765C4.26755 58.9688 2.19317 55.673 0.683622 51.2889C-1.19274 45.8396 -1.56646 41.2936 -0.437559 37.6509C0.718209 33.9532 3.69298 31.279 8.48676 29.6284C13.1986 28.0059 17.1404 28.2069 20.3123 30.2312C23.47 32.2145 25.9095 35.7055 27.6307 40.7041L34.0216 59.2647C35.8697 64.6321 36.2978 69.1364 35.306 72.7777C34.3 76.3781 31.2362 79.06 26.1147 80.8235ZM16.884 53.6164C18.1132 53.1931 18.9322 52.1778 19.3412 50.5704L16.5478 42.4579C15.8706 40.4912 15.1092 39.0119 14.2635 38.0198C13.4178 37.0278 12.3598 36.7504 11.0897 37.1878C9.77856 37.6392 9.14387 38.5911 9.1856 40.0433C9.25419 41.4404 9.81048 43.6549 10.8545 46.6869C11.5458 48.6945 12.1363 50.2098 12.626 51.2328C13.1016 52.2148 13.6776 52.956 14.3541 53.4563C15.0164 53.9157 15.8597 53.9691 16.884 53.6164ZM57.535 70.2108C54.0114 71.4241 51.0956 71.7406 48.7876 71.1604C46.4656 70.5392 44.5753 69.2423 43.117 67.2696C41.6586 65.2969 40.3439 62.6102 39.173 59.2095L49.0678 55.8025C50.0695 58.7115 51.0003 60.6825 51.8601 61.7155C52.7468 62.6935 53.8866 62.9426 55.2797 62.4629C56.386 62.082 57.058 61.4382 57.2957 60.5314C57.5603 59.5695 57.5213 58.3913 57.1786 56.9969C56.8219 55.5615 56.185 53.5122 55.268 50.849C54.3086 48.0629 53.3157 46.0445 52.2893 44.7939C51.2488 43.5023 49.9705 43.1175 48.4545 43.6395C46.3649 44.359 45.5758 46.3264 46.0872 49.5418L37.2371 52.5891L28.2764 23.5704L51.5078 15.5712L54.4704 24.1755L39.4745 29.339L42.4554 39.793C42.6804 38.9823 43.4323 38.1047 44.7112 37.1602C46.0169 36.1606 47.4277 35.3999 48.9437 34.8779C52.3034 33.721 55.3439 34.2323 58.065 36.4118C60.8272 38.5772 63.0829 42.2002 64.8323 47.2808C66.2008 51.2551 66.9882 54.6733 67.1946 57.5354C67.3869 60.3565 66.7607 62.8636 65.316 65.0568C63.8572 67.209 61.2635 68.927 57.535 70.2108ZM78.4454 37.9187C74.3072 39.3436 70.9699 39.3012 68.4335 37.7913C65.8971 36.2815 63.8459 33.2526 62.2799 28.7047L61.5181 26.4922C59.938 21.9033 59.6627 18.3087 60.6923 15.7085C61.7628 13.0942 64.4286 11.0535 68.6898 9.58625C72.9509 8.11902 76.308 8.08592 78.7611 9.48693C81.2001 10.847 83.2026 13.801 84.7686 18.3489L85.6151 20.8072C87.1669 25.3142 87.4083 28.9434 86.3391 31.6947C85.2558 34.405 82.6246 36.4797 78.4454 37.9187ZM90.0371 2.30452L95.5684 0.399946L97.4678 55.4297L91.875 57.3554L90.0371 2.30452ZM76.2446 31.527C77.2689 31.1743 77.9352 30.647 78.2434 29.9451C78.5517 29.2431 78.6051 28.3998 78.4035 27.4151C78.1878 26.3895 77.7696 24.9752 77.1489 23.1724L76.6198 21.636C75.9849 19.7922 75.4579 18.4613 75.0387 17.6432C74.6054 16.7841 74.0654 16.2139 73.4185 15.9325C72.8126 15.637 71.977 15.6726 70.9118 16.0394C69.8465 16.4062 69.1456 16.8996 68.8091 17.5196C68.5136 18.1255 68.4596 18.9003 68.647 19.844C68.8204 20.7468 69.2174 22.0995 69.8382 23.9023L70.4096 25.5617C71.3125 28.1839 72.1522 29.9572 72.9287 30.8814C73.7052 31.8056 74.8105 32.0208 76.2446 31.527ZM118.815 48.1479C114.677 49.5728 111.34 49.5304 108.803 48.0206C106.308 46.4966 104.277 43.4607 102.711 38.9127L101.949 36.7002C100.369 32.1113 100.094 28.5168 101.123 25.9166C102.194 23.3023 104.839 21.2686 109.059 19.8155C113.321 18.3482 116.678 18.3151 119.131 19.7161C121.57 21.0762 123.572 24.0302 125.138 28.5781L125.964 30.975C127.515 35.482 127.757 39.1111 126.688 41.8624C125.618 44.6138 122.994 46.7089 118.815 48.1479ZM116.614 41.7562C117.639 41.4035 118.305 40.8762 118.613 40.1743C118.921 39.4723 118.975 38.629 118.773 37.6443C118.558 36.6187 118.146 35.2249 117.54 33.4631L116.968 31.8037C116.333 29.96 115.806 28.629 115.387 27.8109C114.968 26.9928 114.435 26.4431 113.788 26.1617C113.182 25.8662 112.347 25.9018 111.281 26.2686C110.216 26.6354 109.515 27.1288 109.179 27.7488C108.883 28.3547 108.829 29.1295 109.017 30.0732C109.19 30.976 109.587 32.3287 110.208 34.1315L110.779 35.7909C111.682 38.4132 112.522 40.1864 113.298 41.1106C114.075 42.0348 115.18 42.25 116.614 41.7562Z' fill='black'/%3E%3C/svg%3E%0A");
		}

	}

	&__content{
		font-family: $font-nunito;
	}

	&__content-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__content-header &__content-title{
		margin-bottom: 0;
	}

	&__content-title{
		font-weight: 800;
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: -0.48125px;
		color: #000000;
		margin-bottom: 20px;
	}

	&__content-item{
		margin-bottom: 40px;
	}

	&__content-list{
		dt{
			font-size: 16px;
			font-weight: 900;
			color: #000000;
			margin-bottom: 5px;
		}
		dd{
			margin-bottom: 20px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__compares{
		display: flex;
		align-items: center;

		.player-item{
			margin-right: 35px;
		}
	}

}

.statistics{
	position: relative;

	&__data-y{
		position: absolute;
		height: 100%;
		top: 0;
		left: 135px;
		right: 50px;
		display: flex;
		justify-content: space-between;

		div{
			text-align: center;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			text-align: right;
			letter-spacing: -0.2625px;
			color: #928C8C;

			&:first-child{
				margin-left: -3px;
			}

			&:last-child{
				margin-right: -6px;
			}

			&::before{
				display: block;
				margin: 10px auto 32px;
				height: calc(100% - 22px);
				width: 1px;
				background-color: rgba(#E3F2FC, .48);
				content: '';
			}
		}
	}

	&__item{
		position: relative;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 44px;
	}

	&__label{
		width: 115px;
		flex-shrink: 0;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.2;
		text-align: right;
	}

	&__bar{
		width: 100%;
		margin: 0 20px;
		height: 4px;
		border-radius: 2px;
		background-color: #F4F4FB;

		div{
			height: 100%;
			background: linear-gradient(90deg, #FC3C3C 0%, #F6FF00 47.85%, #417505 100%);
			border-radius: 3px;
		}
	}

	&__total{
		font-family: $font-family;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.2;
		text-transform: uppercase;
		color: #000000;
		width: 30px;
		flex-shrink: 0;
	}

	&__layout{
		display: flex;
	}
}

.player-data{
	font-family: $font-nunito;
	padding: 40px 0;
	background-color: #F5F6F7;

	&__inner{
		display: flex;
	}

	&__sidebar{
		background: #00293B url('/assets/images/bg/figures1.png') 20% 100% no-repeat;
		border-radius: 14px 0 0 14px;
		width: 40%;
		color: #fff;
		padding: 45px 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__avatar{
		text-align: center;
		margin-bottom: 30px;
	}

	&__avatar-title{
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		margin-bottom: 28px;
	}

	&__avatar-img{
		margin-bottom: 18px;

		img{
			width: 240px;
			height: auto;
			border-radius: 50%;
		}
	}

	&__avatar-flags{
		margin-bottom: 10px;

		img{
			margin: 0 5px;
		}
	}

	&__first-name{
		font-size: 18px;
		line-height: 1.23;
		text-transform: uppercase;
	}

	&__last-name{
		margin-top: -5px;
		margin-bottom: 2px;
		text-transform: uppercase;
		font-size: 42px;
		line-height: 1.23;
		font-weight: 700;
	}

	&__activity{
		img{
			margin-right: 5px;
			vertical-align: middle;
		}
	}

	&__content{
		width: 60%;
		background-color: #fff;
		border-radius: 0 14px 14px 0px;
		padding: 50px 65px;
	}

	&__content-title{
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: -0.06px;
		color: #00293B;
		margin-bottom: 45px;

		b{
			font-weight: 900;
		}

		&--2{
			margin: -20px 0 10px;
		}
	}

	&__row{
		margin-bottom: 20px;
	}

	&__row--potential &__score-slider{
		width: 100%;
		max-width: 100%;
	}

	&__row-label{
		font-size: 16px;
		line-height: 22px;
		font-weight: 700;
		margin-bottom: 8px;
	}

	&__score{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__score-slider{
		max-width: 342px;
		margin: 0px 0 -12px;
	}

	&__score-labels{
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 5px 0 0;

		div{
			font-family: $font-family;
			width: 50px;
			text-align: center;
			font-weight: 500;
			font-size: 11px;
			line-height: 16px;
			text-align: center;
			text-transform: uppercase;
			color: #000000;
		}
	}

	&__score-val{
		font-family: $font-family;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.1;
	}

	&__score-action{
		width: 30px;
		height: 30px;
		background: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 0C17.6604 0 14.7854 2.07646 13.5918 5H0V23H5V28.0801L11.3516 23H26V14.2285C27.825 12.759 29 10.5114 29 8C29 3.6 25.4 0 21 0ZM21 2C24.3 2 27 4.7 27 8C27 11.3 24.3 14 21 14C17.7 14 15 11.3 15 8C15 4.7 17.7 2 21 2ZM20 4V7H17V9H20V12H22V9H25V7H22V4H20ZM2 7H13.0703C13.0288 7.32857 13 7.66063 13 8C13 12.4 16.6 16 21 16C22.0604 16 23.0717 15.7872 24 15.4082V21H10.6484L7 23.918V21H2V7Z' fill='%235FC422'/%3E%3C/svg%3E%0A") 0 50% no-repeat;

		&.state-active{
			background-image: url("data:image/svg+xml,%3Csvg width='29' height='27' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V18H5V23.0801L11.3516 18H13.0703C13.0288 18.3286 13 18.6606 13 19C13 23.4 16.6 27 21 27C25.4 27 29 23.4 29 19C29 16.4886 27.825 14.241 26 12.7715V0H0ZM2 2H24V11.5918C23.0717 11.2128 22.0604 11 21 11C17.6604 11 14.7854 13.0765 13.5918 16H10.6504L7 18.9199V16H2V2ZM21 13C24.3 13 27 15.7 27 19C27 22.3 24.3 25 21 25C17.7 25 15 22.3 15 19C15 15.7 17.7 13 21 13ZM18.8789 15.4648L17.4648 16.8789L19.5859 19L17.4648 21.1211L18.8789 22.5352L21 20.4141L23.1211 22.5352L24.5352 21.1211L22.4141 19L24.5352 16.8789L23.1211 15.4648L21 17.5859L18.8789 15.4648Z' fill='%23D0021B'/%3E%3C/svg%3E%0A");
		}
	}

	&__row .form-inp{
		height: 86px;
		resize: vertical;
	}

	&__field{
		margin-top: 15px;
		background: #FFFFFF;
		box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.121804);
		padding: 15px;
		display: none;
		position: relative;

		&.state-active{
			display: block;
		}

		&::before{
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #fff;
			display: block;
			position: absolute;
			right: 8px;
			bottom: 100%;
			content: '';
		}
	}

	&__btn,
	&__btns{
		padding-top: 20px;

		.btn{
			font-family: $font-nunito;
			text-transform: none;
			font-weight: 700;
			font-size: 14px;
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	&__btns{
		display: flex;
		justify-content: space-between;

		.btn:first-child{
			margin-right: 20px;
		}
	}

}
