.recent-tabs{
	position: relative;
	padding: 18px 0 14px;

	&::before{
		height: 109px;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background-color: #00293b;
		z-index: -1;
		content: '';
	}

	&__nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: rgba(#ffffff, 0.68);
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 24px;
	}

	&__nav-item{
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: 0 50%;
		padding: 5px 5px 5px 30px;
		margin: 0 5px;

		&:nth-child(1){
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewBox='0 0 19 16'%3E%3Cg%3E%3Cg opacity='.68'%3E%3Cpath fill='%23fff' d='M3.72 10.2l1.28.87v.74c0 .22-.071.44-.211.61L1.999 16 .41 14.78 3 11.47v-1.9c.21.23.45.45.72.63zM12 4c1.105 0 1.875.75 2.125 2 .175.875.748 3.46.748 3.46l2.703 2.702c.238-.088.47-.153.674-.16.236-.008.436.044.57.178.122.122.178.298.182.508.009.655-.509 1.62-1.102 2.212-.593.593-1.557 1.11-2.213 1.102-.21-.003-.385-.06-.507-.182s-.177-.298-.18-.507c-.008-.583.403-1.396.91-1.989l-2.783-2.785L12.279 8H6.75l2.929 2.633a1 1 0 0 1 .302.931L9.023 16l-1.96-.393.761-3.82-3.539-2.41A2.945 2.945 0 0 1 5.943 4zm5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

			&:hover,
			&.state-active{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewBox='0 0 19 16'%3E%3Cg%3E%3Cg opacity='1'%3E%3Cpath fill='%235ec422' d='M3.72 10.2l1.28.87v.74c0 .22-.071.44-.211.61L1.999 16 .41 14.78 3 11.47v-1.9c.21.23.45.45.72.63zM12 4c1.105 0 1.875.75 2.125 2 .175.875.748 3.46.748 3.46l2.703 2.702c.238-.088.47-.153.674-.16.236-.008.436.044.57.178.122.122.178.298.182.508.009.655-.509 1.62-1.102 2.212-.593.593-1.557 1.11-2.213 1.102-.21-.003-.385-.06-.507-.182s-.177-.298-.18-.507c-.008-.583.403-1.396.91-1.989l-2.783-2.785L12.279 8H6.75l2.929 2.633a1 1 0 0 1 .302.931L9.023 16l-1.96-.393.761-3.82-3.539-2.41A2.945 2.945 0 0 1 5.943 4zm5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
		}

		&:nth-child(2){
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18'%3E%3Cg%3E%3Cg opacity='.68'%3E%3Cpath fill='%23fff' d='M10 14h2v2h-2zm0-4h2v2h-2zm7.494-3.754c-.346 0-.599.14-.764.42-.164.279-.251.716-.261 1.311v1.891c0 .634.082 1.105.246 1.414.164.308.427.462.789.462.359 0 .618-.147.777-.443.16-.295.241-.749.248-1.359V8.094c0-.645-.084-1.114-.252-1.407-.166-.295-.427-.44-.783-.44zM10 6h2v2h-2zm7.494-1c.806 0 1.425.28 1.852.838.427.558.645 1.357.656 2.402v1.434H20c0 1.077-.212 1.9-.635 2.47-.424.57-1.043.856-1.86.856-.805 0-1.424-.28-1.85-.84-.428-.56-.646-1.362-.657-2.406V8.32c0-1.087.216-1.911.645-2.474.429-.563 1.045-.846 1.851-.846zM5.826 5H6v8H4.379V6.889l-1.936.586v-1.29zM10 2h2v2h-2zM2 0C.897 0 0 .897 0 2v14c0 1.103.897 2 2 2h18c1.103 0 2-.897 2-2V2c0-1.103-.897-2-2-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

			&:hover,
			&.state-active{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='18' viewBox='0 0 22 18'%3E%3Cg%3E%3Cg opacity='1'%3E%3Cpath fill='%235ec422' d='M10 14h2v2h-2zm0-4h2v2h-2zm7.494-3.754c-.346 0-.599.14-.764.42-.164.279-.251.716-.261 1.311v1.891c0 .634.082 1.105.246 1.414.164.308.427.462.789.462.359 0 .618-.147.777-.443.16-.295.241-.749.248-1.359V8.094c0-.645-.084-1.114-.252-1.407-.166-.295-.427-.44-.783-.44zM10 6h2v2h-2zm7.494-1c.806 0 1.425.28 1.852.838.427.558.645 1.357.656 2.402v1.434H20c0 1.077-.212 1.9-.635 2.47-.424.57-1.043.856-1.86.856-.805 0-1.424-.28-1.85-.84-.428-.56-.646-1.362-.657-2.406V8.32c0-1.087.216-1.911.645-2.474.429-.563 1.045-.846 1.851-.846zM5.826 5H6v8H4.379V6.889l-1.936.586v-1.29zM10 2h2v2h-2zM2 0C.897 0 0 .897 0 2v14c0 1.103.897 2 2 2h18c1.103 0 2-.897 2-2V2c0-1.103-.897-2-2-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
		}

		&:nth-child(3){
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18'%3E%3Cg%3E%3Cg opacity='.68'%3E%3Cpath fill='%23fff' d='M7.469 4C9.39 4 9.594 5.207 9.594 5.656c0 .817-.817 1.219-.969 1.282.355.117 1.063.453 1.063 1.375 0 1.32-1.301 1.718-2.22 1.718-1.648 0-2.218-1.066-2.155-1.687h1.25c-.036.215.18.75.937.75.898 0 .938-.692.938-.813 0-.914-.872-.875-1.032-.875H6.75V6.5h.656c.317 0 .938-.09.938-.813 0-.707-.7-.75-.844-.75-.715 0-.844.477-.844.657H5.375C5.375 4.434 6.613 4 7.469 4zm7.281-1l1.563 3.469L13 8.125V13.5c0 1.379-1.121 2.5-2.5 2.5H8v.5c0 .824.676 1.5 1.5 1.5h6c.824 0 1.5-.676 1.5-1.5V8.687l.75 1.438L20 9l-1.813-4.063a3.381 3.381 0 0 0-1.937-1.406zm-9.5-3l-1.5.531a3.381 3.381 0 0 0-1.938 1.406L0 6l2.25 1.125L3 5.687V13.5c0 .824.676 1.5 1.5 1.5h6c.824 0 1.5-.676 1.5-1.5V5.687l.75 1.438L15 6l-1.813-4.063A3.381 3.381 0 0 0 11.25.532L9.75 0S9.227 1.5 7.5 1.5C5.773 1.5 5.25 0 5.25 0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

			&:hover,
			&.state-active{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18'%3E%3Cg%3E%3Cg opacity='1'%3E%3Cpath fill='%235ec422' d='M7.469 4C9.39 4 9.594 5.207 9.594 5.656c0 .817-.817 1.219-.969 1.282.355.117 1.063.453 1.063 1.375 0 1.32-1.301 1.718-2.22 1.718-1.648 0-2.218-1.066-2.155-1.687h1.25c-.036.215.18.75.937.75.898 0 .938-.692.938-.813 0-.914-.872-.875-1.032-.875H6.75V6.5h.656c.317 0 .938-.09.938-.813 0-.707-.7-.75-.844-.75-.715 0-.844.477-.844.657H5.375C5.375 4.434 6.613 4 7.469 4zm7.281-1l1.563 3.469L13 8.125V13.5c0 1.379-1.121 2.5-2.5 2.5H8v.5c0 .824.676 1.5 1.5 1.5h6c.824 0 1.5-.676 1.5-1.5V8.687l.75 1.438L20 9l-1.813-4.063a3.381 3.381 0 0 0-1.937-1.406zm-9.5-3l-1.5.531a3.381 3.381 0 0 0-1.938 1.406L0 6l2.25 1.125L3 5.687V13.5c0 .824.676 1.5 1.5 1.5h6c.824 0 1.5-.676 1.5-1.5V5.687l.75 1.438L15 6l-1.813-4.063A3.381 3.381 0 0 0 11.25.532L9.75 0S9.227 1.5 7.5 1.5C5.773 1.5 5.25 0 5.25 0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
		}

		&:nth-child(4){
			background-position: 0 calc(50% - 3px);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19'%3E%3Cg%3E%3Cg opacity='.68'%3E%3Cpath fill='%23fff' d='M15 16.993h2v-2.99l-2-.187zm-12-2.99v2.99h2v-3.177zm12-2h2V9.41l-2-.406zM3 9.41v2.594h2v-3zm8 2.584h2V8.69l-2-.093zM7 8.69v3.303h2V8.597zm13-.687v9c0 1.102-.898 2-2 2h-5v-3.406c0-1.102-.898-2-2-2H9c-1.102 0-2 .898-2 2v3.406H2c-1.102 0-2-.898-2-2v-9c0-1 3.102-3 10-3s10 1.898 10 3zM5 2.409c-1.398 2.399-3.602.696-5 2.594V2.409c.648-.324 1.152-.445 1.563-.437 1.234.027 1.71 1.113 3.437.437zm15 1.586c-1.398 1.596-3.602-.985-5 .311v-2.71c2.602.2 2.7 2.1 5 2.399zm-7-2.18c-1.602 2.102-4.3-.519-6 1.282V.19A5 5 0 0 1 8.063.003c2.257-.18 3.101 1.55 4.937 1.813z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

			&:hover,
			&.state-active{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19'%3E%3Cg%3E%3Cg opacity='1'%3E%3Cpath fill='%235ec422' d='M15 16.993h2v-2.99l-2-.187zm-12-2.99v2.99h2v-3.177zm12-2h2V9.41l-2-.406zM3 9.41v2.594h2v-3zm8 2.584h2V8.69l-2-.093zM7 8.69v3.303h2V8.597zm13-.687v9c0 1.102-.898 2-2 2h-5v-3.406c0-1.102-.898-2-2-2H9c-1.102 0-2 .898-2 2v3.406H2c-1.102 0-2-.898-2-2v-9c0-1 3.102-3 10-3s10 1.898 10 3zM5 2.409c-1.398 2.399-3.602.696-5 2.594V2.409c.648-.324 1.152-.445 1.563-.437 1.234.027 1.71 1.113 3.437.437zm15 1.586c-1.398 1.596-3.602-.985-5 .311v-2.71c2.602.2 2.7 2.1 5 2.399zm-7-2.18c-1.602 2.102-4.3-.519-6 1.282V.19A5 5 0 0 1 8.063.003c2.257-.18 3.101 1.55 4.937 1.813z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
		}

		&:hover,
		&.state-active{
			color: #5ec422;
		}
	}

	&__content{

	}

	&__content-item{
		display: none;

		&:first-child{
			display: block;
		}
	}

	@media only screen and (max-width: 992px) {
		&__nav{
			font-size: 14px;
			font-weight: 500;
		}
	}

	@media only screen and (max-width: 767.98px) {
		&__nav{
			padding-bottom: 10px;
			max-width: 100%;
			overflow: auto;
			margin-bottom: 10px;
			white-space: nowrap;
		}
	}
}