.recent-carousel{
	width: auto;

	.swiper-button-prev,
	.swiper-button-next{
		position: absolute;
		width: 32px;
		height: 32px;
		top: 50%;
		margin-top: -16px;
		opacity: 0.35;
		transition: all ease 500ms;
		z-index: 10;

		&:hover{
			transition: all ease 150ms;
			opacity: 0.8;
		}
	}

	.swiper-button-prev{
		left: 0;
		background: url('/assets/images/carousel-prev-icon.svg');
	}

	.swiper-button-next{
		right: 0;
		background: url('/assets/images/carousel-next-icon.svg');
		transform: rotate(180deg);
	}

	&__item{
		margin: 0 15px 0 15px;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.14);
		border-radius: 3px;
		background-color: #ffffff;
		margin-bottom: 22px;

		&--game{
			text-align: center;
			padding: 13px 0 9px;
		}
	}

	&__item-img{
		height: 130px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: relative;

		img{
			max-width: 100%;
			height: 100%;
			width: auto;
			border-radius: 3px;
		}
	}

	&__item-icons{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40px;
		padding: 0 0 9px 10px;

		>*{
			margin-top: 10px;
		}
	}

	&__item-caption{
		padding: 10px 50px 12px 10px;
		position: relative;

		&::after{
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			color: #5ec422;
			font-size: 38px;
			font-weight: 700;
			padding: 0 8px;
			font-family: $font-family;
			text-transform: uppercase;
			content: attr(data-rating);
		}
	}

	&__item-name{
		color: #00293b;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__item-category{
		color: #adb6d4;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		background: url('/assets/images/category-icon.svg') 0 50% no-repeat;
		padding: 0 0 0 18px;
	}

	&__item-teams{
		color: #00293b;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 8px;
		background: url('/assets/images/vs-icon.png') 50% no-repeat;

		div{
			margin: 1px 0;
		}
	}

	&__item-score{
		position: relative;
		color: #000000;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 5px 7px;
		letter-spacing: 8px;
	}

	&__item-score-img{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&:first-child{
			left: 0;
		}
		&:last-child{
			right: 0;
		}
	}

	&__item-address{
		color: #8f9fb3;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		margin: 5px 0 3px;

		&::before{
			display: inline-block;
			background: url('/assets/images/place_icon.png') 50% no-repeat;
			width: 12px;
			height: 15px;
			vertical-align: middle;
			margin: 0 5px 0 0;
			content: '';
		}
	}

	&__item-date{
		color: #8f9fb3;
		font-size: 14px;
		font-weight: 400;

		&::before{
			display: inline-block;
			background: url('/assets/images/date_icon.png') 50% no-repeat;
			width: 11px;
			height: 12px;
			vertical-align: middle;
			margin: 0 5px 3px 0;
			content: '';
		}
	}

	@media only screen and (max-width: 1050px) {
		margin: 0 50px;
	}

	@media only screen and (max-width: 767.98px) {
		&__item-img{
			display: block;
			height: auto;

			img{
				width: 100%;
				height: auto;
			}
		}
	}

	@media only screen and (max-width: 375px) {
		&__item-caption{
			&::after{
				font-size: 24px;
			}
		}
	}

}