<template>
    <div>
      <!-- Header -->
      <header class="header">
        <div class="container">
          <div class="header__top">
            <div class="header__inner">
              <div class="header__alert">Sports Betting now available in New Jersey! Get up to $250 matching funds on your first deposit!</div>
              <template v-if="! isAuth">
                  <router-link :to="URLS_LIST.ACCOUNT_LOGIN" class="header__sign">Sign In</router-link>
              </template>              
              <template v-if="isAuth && userData">
                  <figure class="header__user">
                    <div class="header__user-pic">
                      <div class="avatar-wrap">
                        <img :src="userData.avatar" :alt="userData.name">
                      </div>
                    </div>
                    <figcaption class="header__user-caption">
                      <router-link :to="URLS_LIST.DASHBOARD" class="header__user-link">
                      welcome to fanteractive
                      <span class="header__user-name">{{ userData.name }}</span>
                      </router-link>
                    </figcaption>
                  </figure>
              </template>
            </div>
          </div>

          <div class="header__bottom">
            <div class="header__inner">

              <div class="header__logo">
                <a href="/"><img src="/assets/images/header-logo.png" alt=""></a>
              </div>
              <nav class="nav">
                <ul class="nav__list">
                  <li class="nav__list-item"><router-link to="/home" class="nav__list-link">Home</router-link></li>
                  <li class="nav__list-item"><router-link to="/home" class="nav__list-link">GAMES</router-link></li>
                  <li class="nav__list-item"><router-link to="/home" class="nav__list-link">TEAMS</router-link></li>
                  <li class="nav__list-item"><router-link :to="URLS_LIST.PLAYERS" class="nav__list-link">PLAYERS</router-link></li>
                  <li class="nav__list-item"><router-link to="/home" class="nav__list-link">NEWS</router-link></li>
                  <li class="nav__list-item"><router-link to="/home" class="nav__list-link">ARTICLES</router-link></li>
                  <li class="nav__list-item"><router-link to="/home" class="nav__list-link">STADIUMS</router-link></li>
                  <li class="nav__list-item"><router-link to="/home" class="nav__list-link">ACTIVITY</router-link></li>
                  <li class="nav__list-item"><router-link to="/home" class="nav__list-link">TICKETS</router-link></li>
                </ul>

                <div class="header__social">
                  <a href="#" class="header__social-item"><img src="/assets/fb-icon.png" alt=""></a>
                  <a href="#" class="header__social-item"><img src="/assets/twitter-icon.png" alt=""></a>
                  <a href="#" class="header__social-item"><img src="/assets/inst-icon.png" alt=""></a>
                </div>
              </nav>

              <button id="resp-toggle-btn" class="nav-toggle-btn">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
              </button>

            </div>
          </div>
        </div>
      </header>
      <!-- Header END -->

      <!-- Mobile nav -->
      <nav class="mob-nav">
        <div class="mob-nav__inner">
          <ul class="mob-nav__list">
            <li class="mob-nav__list-item"><router-link to="/home" class="mob-nav__list-link">Home</router-link></li>
            <li class="mob-nav__list-item"><router-link to="/home" class="mob-nav__list-link">GAMES</router-link></li>
            <li class="mob-nav__list-item"><router-link to="/home" class="mob-nav__list-link">TEAMS</router-link></li>
            <li class="mob-nav__list-item"><router-link :to="URLS_LIST.PLAYERS" class="mob-nav__list-link">PLAYERS</router-link></li>
            <li class="mob-nav__list-item"><router-link to="/home" class="mob-nav__list-link">NEWS</router-link></li>
            <li class="mob-nav__list-item"><router-link to="/home" class="mob-nav__list-link">ARTICLES</router-link></li>
            <li class="mob-nav__list-item"><router-link to="/home" class="mob-nav__list-link">STADIUMS</router-link></li>
            <li class="mob-nav__list-item"><router-link to="/home" class="mob-nav__list-link">ACTIVITY</router-link></li>
            <li class="mob-nav__list-item"><router-link to="/home" class="mob-nav__list-link">TICKETS</router-link></li>
          </ul>

          <div class="mob-nav__sign">           
             <router-link :to="URLS_LIST.ACCOUNT_LOGIN" class="header__sign">Sign In</router-link>        
          </div>

          <div class="mob-nav__social">
            <a href="#" class="header__social-item"><img src="/assets/images/fb-icon.png" alt=""></a>
            <a href="#" class="header__social-item"><img src="/assets/images/twitter-icon.png" alt=""></a>
            <a href="#" class="header__social-item"><img src="/assets/images/inst-icon.png" alt=""></a>
          </div>

        </div>
      </nav>
      <!-- Mobile nav END -->

    </div>
</template>
<script>
export default {
    name: 'main-header',
    // mounted() {
    //   console.log('header', this.URLS_LIST);
    // }
    computed: {
      isAuth() {
          return this.$store.state.auth.isAuth;
      },
      userData() {
        if((! this.$store.state.auth.isAuth) || (! this.$store.state.auth.isLoaded))
          return null;
        return {
           avatar: this.$store.state.auth.avatar,
           name: this.$store.state.auth.displayName
        }
      }
    }
}
</script>