<template>
    <div>
      <!-- Footer -->
      <div class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__col footer__col--lg">
              <div class="footer__logo"><a href="#"><img src="/assets/images/footer__logo.png" alt=""></a></div>
              Fanteractive is the place where fans come to "Fanteract!" We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!
            </div>

            <div class="footer__col footer__col--lg">
              <h3 class="footer__col-title">Contact Us</h3>
              <ul class="footer__list">
                <li>625, Broad Street, Suite 240 <br>Newark, NJ 07102</li>
                <li>For general inquiries or technical support questions: <a href="#">support@fanteractive.com</a></li>
                <li><a href="#">© {{ new Date().getFullYear() }} Fanteractive.com</a></li>
              </ul>
            </div>

            <div class="footer__col footer__col--md">
              <h3 class="footer__col-title">USEFULL LINKS</h3>
              <ul class="footer__links">
                <li><router-link to="#">About us</router-link></li>
                <li><router-link to="#">Contact Us</router-link></li>
                <li><router-link to="#">Terms and Conditions</router-link></li>
                <li><router-link to="#">Privacy Policy</router-link></li>
                <li><router-link to="#">Acceptable Use Policy</router-link></li>
              </ul>
            </div>

            <div class="footer__col footer__col--sm">
              <h3 class="footer__col-title">Share</h3>
              <ul class="footer__social">
                <li><a href="#"><img src="/assets/images/footer-fb-icon.png" alt=""></a></li>
                <li><a href="#"><img src="/assets/images/footer-twitter-icon.png" alt=""></a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- Footer END-->
    </div>
</template>