<template>
   <aside class="player-data__sidebar">
        <figure class="player-data__avatar">
        <h3 class="player-data__avatar-title">New Scouting Report for:</h3>
        <div class="player-data__avatar-img">
            <img src="/assets/images/player-main-img.png" alt="">
        </div>
        <figcaption class="player-data__avatar-caption">
            <div class="player-data__avatar-flags">
            <img src="/assets/images/england-flag.png" alt="">
            <img src="/assets/images/england-flag.png" alt="">
            </div>

            <div class="player-data__first-name">D'ERNEST</div>
            <div class="player-data__last-name">JOHNSON</div>

            <div class="player-data__activity"><img src="/assets/images/sport-type-icon.svg" alt=""> Football • Running Back</div>
        </figcaption>
        </figure>

        <div class="player-data__copyright">
        <p>Fanteractive is the place where fans come to "Fanteract!" We all love sports and we each have our own opinions. Fanteractive gives you the opportunity to be a Fanager and put our tools to work for you! Show off what you know. Learn what you don't. And be a part of the best sports community out there!</p>
        © {{ year }} Fanteractive.com
        </div>
    </aside>
</template>
<script>
export default {
    name: 'player-aside-intro',
    computed: {
        year() {            
            return new Date().getFullYear();
        }
    }
}
</script>
