<template>
     <!-- Banner -->
      <div class="player__banner">
        <div class="container">
          <div class="player__banner-inner">
            <div class="player__banner-img">
              <img src="/assets/images/player-main-img.png" alt="">
            </div>
            <figcaption class="player__banner-caption">
              <div class="player__main-info">

                <div class="player__name-wrap">
                  <h2 class="player__name"><small>D'ERNEST</small> JOHNSON</h2>
                  <div class="player__flags">
                    <img src="/assets/images/player-flag-1.png" width="31" alt="">
                    <img src="/assets/images/player-flag-2.png" width="31" alt="">
                  </div>
                </div>

                <div class="player__activity">Football • Running Back</div>
                <router-link class="btn player__report-btn" v-if="isAuth"
                    :to="{ name: URLS_LIST.PLAYER_ADD_REPORT, params: { player_id: $route.params.player_id }}">
                    Issue A New Scouting Report
                </router-link>
                <router-link class="btn player__report-btn" v-else
                    :to="URLS_LIST.ACCOUNT_LOGIN">
                    Issue A New Scouting Report
                </router-link>
                <!-- Nav -->
                <nav class="player__nav">
                  <ul class="player__nav-list"><!--TODO-->
                    <li class="player__nav-item" :class="{'state-active' : $route.meta.nav === 'summary'}">
                        <router-link class="player__nav-link"
                            :to="{ name: URLS_LIST.PLAYER_SUMMARY, params: { player_id: $route.params.player_id }}">
                            Summary
                        </router-link>                       
                    </li>
                    <li class="player__nav-item" :class="{'state-active' : $route.meta.nav === 'reports'}">
                        <router-link class="player__nav-link"
                            :to="{ name: URLS_LIST.PLAYER_REPORTS, params: { player_id: $route.params.player_id }}">
                            Detail Reports
                        </router-link> 
                    </li>
                    <li class="player__nav-item" :class="{'state-active' : $route.meta.nav === 'game'}">
                        <router-link class="player__nav-link"
                            :to="{ name: URLS_LIST.PLAYER_GAME, params: { player_id: $route.params.player_id }}">
                            Game Performance
                        </router-link>
                    </li>
                  </ul>
                </nav>
                <!-- Nav END -->

              </div>
              <dl class="player__details">
                <dt>Position</dt>
                <dd>Center (C)</dd>
                <dt>height</dt>
                <dd>6 Feet 3 inches (190 cm)</dd>
                <dt>Weight</dt>
                <dd>230 lbs (104 kg)</dd>
                <dt>Age</dt>
                <dd>24</dd>
              </dl>
            </figcaption>
          </div>
        </div>
      </div>
      <!-- Banner END -->
</template>
<script>
export default {
    name: 'player-top-intro',
    computed: {
        isAuth() {
          return this.$store.state.auth.isAuth;
        },
    }
}
</script>
