<template>
<aside class="dashboard__sidebar">
    <!-- Dashboard user -->
    <figure class="dashboard__user" v-if="user">
        <div class="dashboard__user-avatar">
            <div class="avatar-wrap">
                <img :src="user.avatar" alt="">
            </div>
        </div>
        <figcaption class="dashboard__user-caption">
        <h4 class="dashboard__user-name">{{ user.name }}</h4>
        <div class="dashboard__user-level">Tier: Fanalyst</div>
        </figcaption>
    </figure>
    <!-- Dashboard user END -->

    <!-- Dashboard Nav -->
    <nav class="dashboard__nav">
        <ul class="dashboard__nav-list">
        <li class="dashboard__nav-item">
            <router-link :to="URLS_LIST.DASHBOARD" class="dashboard__nav-link dashboard__nav-link--dashboard"
                :class="{ 'state-active' : activeLink == 'main'}"
            >
                <i class="fan-icon fan-icon_dash-main"></i>
                <span>My Fanalyst Dashboard</span>
            </router-link>
        </li>  
        <li class="dashboard__nav-item">
            <router-link :to="URLS_LIST.DASHBOARD_PLAYERS" class="dashboard__nav-link dashboard__nav-link--scouting"
                :class="{ 'state-active' : activeLink == 'player'}"
            >
                <i class="fan-icon fan-icon_dash-player"></i>
                <span>Player Scouting</span>
            </router-link>            
        </li>
        <li class="dashboard__nav-item">
            <router-link :to="URLS_LIST.DASHBOARD_GAMES" class="dashboard__nav-link dashboard__nav-link--fanalyses"
                :class="{ 'state-active' : activeLink == 'game'}"
            >
                <i class="fan-icon fan-icon_dash-game"></i>
                <span>Game Fanalyses</span>
            </router-link>            
        </li>
        <li class="dashboard__nav-item">
            <router-link :to="URLS_LIST.DASHBOARD_TEAMS" class="dashboard__nav-link dashboard__nav-link--team"
                :class="{ 'state-active' : activeLink == 'team'}"
            >
                <i class="fan-icon fan-icon_dash-team"></i>
                <span>My Team Ratings</span>
            </router-link>            
        </li> 
         <li class="dashboard__nav-item">
            <router-link :to="URLS_LIST.DASHBOARD_STADIUMS" class="dashboard__nav-link dashboard__nav-link--stadium"
                :class="{ 'state-active' : activeLink == 'stadium'}"
            >
                <i class="fan-icon fan-icon_dash-stadium"></i>
                <span>My Stadium Ratings</span>
            </router-link>            
        </li> 
        <li class="dashboard__nav-item">
            <router-link :to="URLS_LIST.DASHBOARD_ARTICLES" class="dashboard__nav-link dashboard__nav-link--articles"
                :class="{ 'state-active' : activeLink == 'article'}"
            >
                <i class="fan-icon fan-icon_dash-article"></i>
                <span>My Articles</span>
            </router-link>
        </li> 
        <li class="dashboard__nav-item">
            <router-link :to="URLS_LIST.DASHBOARD_SETTINGS" class="dashboard__nav-link dashboard__nav-link--profile"
                :class="{ 'state-active' : activeLink == 'setting'}"
            >
                <i class="fan-icon fan-icon_dash-seetting"></i>
                <span>Profile Settings</span>
            </router-link>
        </li>   
        <li class="dashboard__nav-item">
            <button @click="logout" class="dashboard__nav-link dashboard__nav-link--logout">
                <i class="fan-icon fan-icon_logout"></i>
                <span>Logout</span>
            </button>
        </li>        
        </ul>
    </nav>
    <!-- Dashboard Nav END-->
    <!-- Dashboard Banner -->
    <div class="dashboard__banner" style="background-image: url(/assets/images/dash-banner-bg.png);">
        <h5 class="dashboard__banner-title">Are you an athlete trying to get to the next level?</h5>
        <p>Upgrade to a Player account where your skills can be included in the Fanteractive Players database.</p>
        <a href="#" class="btn dashboard__banner-btn">Upgrade</a>
    </div>
    <!-- Dashboard Banner END -->
</aside>
    
</template>
<script>
export default {
    name: "dashboard-aside",
    mounted() {
        console.log(this.$route);
    },
    methods: {
        logout() {
            this.$store.dispatch('auth/logout');
            this.$router.replace(this.URLS_LIST.HOME);
        }
    },
    computed: {
        user() {
            if(! this.$store.state.auth.isAuth) {
                //TODO redirect
            }
            if(! this.$store.state.auth.isLoaded)
                return null;
            return {
                avatar: this.$store.state.auth.avatar,
                name: this.$store.state.auth.displayName
            }
        },
        activeLink() {
            if(! this.$route.meta.nav) return 'main';
            return this.$route.meta.nav;
        }
    }
    
}
</script>