@import 'vars';

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  background: #fff;
  font-family: $font-family, sans-serif;
  font-weight: normal;
  font-style: normal;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (max-width: 767.98px) {
    padding-top: 55px;
  }
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button, input{
  font-family: $font-family, sans-serif;
  outline: none;
}

button{
  border: none;
  cursor: pointer;
}

::selection,
::-moz-selection {
  background: #000;
  color: #fff;
}

.container{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------> Links And buttons <------------------*/
a {
  color: $color;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color: $accent-color;
  text-decoration:none;
}

.tag{
  border-radius: 2px;
  font-size: 15px;
  line-height: 30px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 0 30px 0 6px;
  margin: 0 4px 8px 0;
  background: #EDF1F9 url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.712131 0L0 0.712131L0.358033 1.06623L5.28787 6L0 11.2879L0.712131 12L6 6.71213L10.9298 11.6459L11.2879 12L12 11.2879L11.6459 10.9298L6.71213 6L12 0.712131L11.2879 0L6 5.28787L1.06623 0.358033L0.712131 0Z' fill='%2300293B'/%3E%3C/svg%3E%0A") calc(100% - 10px) 50% no-repeat;

  &:hover{
    background: #00293B url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.712131 0L0 0.712131L0.358033 1.06623L5.28787 6L0 11.2879L0.712131 12L6 6.71213L10.9298 11.6459L11.2879 12L12 11.2879L11.6459 10.9298L6.71213 6L12 0.712131L11.2879 0L6 5.28787L1.06623 0.358033L0.712131 0Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") calc(100% - 10px) 50% no-repeat;
    color: #fff;
  }
}

.btn{
  display:inline-block;
  padding: 0 20px;
  margin: 0 0 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  line-height: 34px;
  white-space: nowrap;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  background-color: #5ec422;
  border-radius: 5px;
  font-family: $font-family;

  &:hover{
    background-color: $accent-dark;
    color: #fff;
  }

  &--outline{
    background-color: transparent;
    color: $accent-color;

    &:hover{
      background-color: $accent-color;
      color: #fff;
    }
  }

  &--buy{
    &::before{
      width: 20px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      background: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.35714 0C0.607321 0 0 0.607321 0 1.35714V4.87458C0.789179 5.15483 1.35714 5.90086 1.35714 6.78571C1.35714 7.67057 0.789179 8.4166 0 8.69685V12.2143C0 12.9641 0.607321 13.5714 1.35714 13.5714H8.29925C8.1995 13.1344 8.14286 12.6811 8.14286 12.2143C8.14286 8.84111 10.8768 6.10714 14.25 6.10714C14.9747 6.10714 15.6663 6.23954 16.3109 6.47161C16.4276 5.7279 16.9494 5.1209 17.6429 4.87458V1.35714C17.6429 0.607321 17.0355 0 16.2857 0H1.35714ZM14.25 7.46429C11.6266 7.46429 9.5 9.59093 9.5 12.2143C9.5 14.8376 11.6266 16.9643 14.25 16.9643C16.8734 16.9643 19 14.8376 19 12.2143C19 9.59093 16.8734 7.46429 14.25 7.46429ZM14.9286 10.1786C14.9286 9.80332 14.6246 9.5 14.25 9.5C13.8754 9.5 13.5714 9.80332 13.5714 10.1786V11.5357H12.2143C11.8397 11.5357 11.5357 11.839 11.5357 12.2143C11.5357 12.5895 11.8397 12.8929 12.2143 12.8929H13.5714V14.25C13.5714 14.6252 13.8754 14.9286 14.25 14.9286C14.6246 14.9286 14.9286 14.6252 14.9286 14.25V12.8929H16.2857C16.6603 12.8929 16.9643 12.5895 16.9643 12.2143C16.9643 11.839 16.6603 11.5357 16.2857 11.5357H14.9286V10.1786Z' fill='%235FC422'/%3E%3C/svg%3E%0A") 50% no-repeat;
      margin-right: 5px;
      content: '';
    }

    &:hover{
      &::before{
        background: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.35714 0C0.607321 0 0 0.607321 0 1.35714V4.87458C0.789179 5.15483 1.35714 5.90086 1.35714 6.78571C1.35714 7.67057 0.789179 8.4166 0 8.69685V12.2143C0 12.9641 0.607321 13.5714 1.35714 13.5714H8.29925C8.1995 13.1344 8.14286 12.6811 8.14286 12.2143C8.14286 8.84111 10.8768 6.10714 14.25 6.10714C14.9747 6.10714 15.6663 6.23954 16.3109 6.47161C16.4276 5.7279 16.9494 5.1209 17.6429 4.87458V1.35714C17.6429 0.607321 17.0355 0 16.2857 0H1.35714ZM14.25 7.46429C11.6266 7.46429 9.5 9.59093 9.5 12.2143C9.5 14.8376 11.6266 16.9643 14.25 16.9643C16.8734 16.9643 19 14.8376 19 12.2143C19 9.59093 16.8734 7.46429 14.25 7.46429ZM14.9286 10.1786C14.9286 9.80332 14.6246 9.5 14.25 9.5C13.8754 9.5 13.5714 9.80332 13.5714 10.1786V11.5357H12.2143C11.8397 11.5357 11.5357 11.839 11.5357 12.2143C11.5357 12.5895 11.8397 12.8929 12.2143 12.8929H13.5714V14.25C13.5714 14.6252 13.8754 14.9286 14.25 14.9286C14.6246 14.9286 14.9286 14.6252 14.9286 14.25V12.8929H16.2857C16.6603 12.8929 16.9643 12.5895 16.9643 12.2143C16.9643 11.839 16.6603 11.5357 16.2857 11.5357H14.9286V10.1786Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
      }
    }
  }

  &--preview{
    &::before{
      background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 0C4.26276 0 0 4.26276 0 9.5C0 12.3748 1.28859 14.9509 3.31356 16.6946L2.57292 17.6842C2.44525 17.8289 2.37487 18.0153 2.375 18.2083C2.375 18.6456 2.72944 19 3.16667 19H9.5H15.8333C16.2706 19 16.625 18.6456 16.625 18.2083C16.6247 18.02 16.5572 17.838 16.4348 17.695L15.6864 16.6946C17.7114 14.9509 19 12.3748 19 9.5C19 4.26276 14.7372 0 9.5 0ZM18.2083 0.791667C17.7711 0.791667 17.4167 1.14611 17.4167 1.58333C17.4167 2.02056 17.7711 2.375 18.2083 2.375C18.6456 2.375 19 2.02056 19 1.58333C19 1.14611 18.6456 0.791667 18.2083 0.791667ZM17.4167 9.5C17.4167 5.11849 13.8815 1.58333 9.5 1.58333C5.11849 1.58333 1.58333 5.11849 1.58333 9.5C1.58333 12.098 2.83251 14.391 4.75773 15.8333H9.5H14.2423C16.1675 14.391 17.4167 12.098 17.4167 9.5ZM9.5 3.16667C7.46347 3.16667 5.64151 4.13363 4.48405 5.63289C4.21676 5.97917 4.2808 6.47657 4.62707 6.74386C4.97335 7.01114 5.47075 6.94711 5.73804 6.60083C6.60725 5.47493 7.96295 4.75 9.5 4.75C9.7855 4.75404 10.0511 4.60404 10.195 4.35743C10.3389 4.11083 10.3389 3.80583 10.195 3.55923C10.0511 3.31263 9.7855 3.16263 9.5 3.16667ZM13.1104 5.00358C13.1662 4.83614 13.3121 4.75155 13.4583 4.75155C13.6046 4.75155 13.7504 4.83614 13.8062 5.00358L14.25 6.33333L15.5798 6.7771C15.9146 6.88872 15.9146 7.36128 15.5798 7.4729L14.25 7.91667L13.8062 9.24642C13.6946 9.58129 13.2221 9.5813 13.1104 9.24642L12.6667 7.91667L11.3369 7.4729C11.002 7.36128 11.002 6.88872 11.3369 6.7771L12.6667 6.33333L13.1104 5.00358ZM3.95833 8.70833C3.52111 8.70833 3.16667 9.06277 3.16667 9.5C3.16667 9.93723 3.52111 10.2917 3.95833 10.2917C4.39556 10.2917 4.75 9.93723 4.75 9.5C4.75 9.06277 4.39556 8.70833 3.95833 8.70833ZM10.3968 10.5004C10.4435 10.3611 10.5656 10.2917 10.6875 10.2917C10.8094 10.2917 10.9315 10.3611 10.9782 10.5004L11.3477 11.6106L12.4579 11.9801C12.7374 12.0736 12.7374 12.4681 12.4579 12.5615L11.3477 12.9311L10.9782 14.0413C10.8848 14.3207 10.4902 14.3207 10.3968 14.0413L10.0273 12.9311L8.91707 12.5615C8.63762 12.4681 8.63762 12.0736 8.91707 11.9801L10.0273 11.6106L10.3968 10.5004Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      content: '';
    }
  }

  &--post{
    &::before{
      background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8.03846C0 3.59904 4.25308 0 9.5 0C14.7469 0 19 3.59904 19 8.03846C19 12.4779 14.7469 16.0769 9.5 16.0769C8.78969 16.0769 8.09829 16.0107 7.43329 15.8842C6.97949 15.7987 6.51901 15.9573 6.1887 16.2796C5.14701 17.2951 3.63703 18.2564 1.85832 18.2678H1.85261C1.84833 18.2678 1.84416 18.2682 1.83999 18.2685C1.83567 18.2689 1.83136 18.2692 1.82692 18.2692C1.62513 18.2692 1.46154 18.1056 1.46154 17.9038C1.4617 17.7523 1.5554 17.6166 1.69704 17.5627L1.69989 17.5613C3.24847 16.8467 3.4224 15.2968 3.36982 14.1744C1.31051 12.6997 0 10.4997 0 8.03846ZM9.85111 4.07632C9.79448 3.90861 9.64707 3.82512 9.5 3.82512C9.35293 3.82512 9.20552 3.90861 9.14889 4.07632L8.30251 6.5812L5.65918 6.61261C5.30476 6.61699 5.15796 7.06795 5.44223 7.27915L7.56318 8.85772L6.77532 11.3812C6.67008 11.7195 7.05399 11.999 7.34337 11.7936L9.5 10.265L11.6566 11.7936C11.946 11.999 12.3306 11.7195 12.2247 11.3812L11.4368 8.85772L13.5578 7.27915C13.842 7.06722 13.6952 6.61626 13.3408 6.61261L10.6975 6.5812L9.85111 4.07632Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      content: '';
    }
  }

  &--continue{
    position: relative;

    &::after{
      width: 30px;
      height: 22px;
      background: url("data:image/svg+xml,%3Csvg width='30' height='21' viewBox='0 0 30 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0963 0.00266565C18.7691 0.0610726 18.5068 0.301573 18.4148 0.621094C18.3228 0.944052 18.4182 1.28762 18.6601 1.51438L26.6744 9.59518H0.914267C0.887007 9.59518 0.859748 9.59518 0.832489 9.59518C0.352043 9.61923 -0.0227739 10.0315 0.00107827 10.516C0.0249304 11.0004 0.433821 11.3783 0.914267 11.3543H26.6744L18.6601 19.4351C18.4011 19.6481 18.2819 19.9882 18.3568 20.3181C18.4318 20.6444 18.6874 20.9021 19.0111 20.9777C19.3382 21.0533 19.6755 20.933 19.8868 20.6719L29.4003 11.1069L30 10.4747L29.4003 9.84255L19.8868 0.277523C19.7062 0.0816873 19.4438 -0.0179482 19.178 0.00266565C19.1508 0.00266565 19.1235 0.00266565 19.0963 0.00266565Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
      display: block;
      position: absolute;
      right: 11px;
      top: 50%;
      margin-top: -11px;
      content: '';
    }
  }

 }

.load-more-btn{
  display: block;
  line-height: 50px;
  background-color: $accent-color;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin-top: 10px;

  &:hover{
    color: #fff;
    background-color: $accent-dark;
  }
}

.actions-btn{
  cursor: pointer;
  display: inline-block;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.760682 0.000147746C0.490205 -0.00367747 0.238621 0.138429 0.102266 0.372052C-0.0340887 0.605676 -0.0340887 0.89462 0.102266 1.12824C0.238621 1.36187 0.490205 1.50397 0.760682 1.50015H8.26068V6.00015C7.44088 6.00015 6.76068 6.68035 6.76068 7.50015V9.00015H0.760682C0.490205 8.99632 0.238621 9.13843 0.102266 9.37205C-0.0340887 9.60568 -0.0340887 9.89462 0.102266 10.1282C0.238621 10.3619 0.490205 10.504 0.760682 10.5001H6.76068V15.0001C6.76068 15.8199 7.44088 16.5001 8.26068 16.5001H15.7607C16.0312 16.504 16.2827 16.3619 16.4191 16.1282C16.5555 15.8946 16.5555 15.6057 16.4191 15.3721C16.2827 15.1384 16.0312 14.9963 15.7607 15.0001H8.26068V9.87612C8.27407 9.79513 8.27407 9.71249 8.26068 9.6315V7.50015H8.88471C8.9657 7.51353 9.04834 7.51353 9.12933 7.50015H15.7607C16.0312 7.50397 16.2827 7.36187 16.4191 7.12824C16.5555 6.89462 16.5555 6.60568 16.4191 6.37205C16.2827 6.13843 16.0312 5.99632 15.7607 6.00015H9.76068V1.50015C9.76068 0.680351 9.08048 0.000147746 8.26068 0.000147746H0.760682ZM3.76068 3.00015V4.50015H0.760682C0.490205 4.49632 0.238621 4.63843 0.102266 4.87205C-0.0340887 5.10568 -0.0340887 5.39462 0.102266 5.62824C0.238621 5.86187 0.490205 6.00397 0.760682 6.00015H3.76068V7.50015L6.01068 5.25015L3.76068 3.00015ZM10.5107 11.2501L12.7607 9.00015V10.5001H15.7607C16.0312 10.4963 16.2827 10.6384 16.4191 10.8721C16.5555 11.1057 16.5555 11.3946 16.4191 11.6282C16.2827 11.8619 16.0312 12.004 15.7607 12.0001H12.7607V13.5001L10.5107 11.2501Z' fill='%238F9FB3'/%3E%3C/svg%3E%0A") 50% no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;

  &:hover,
  &.state-active{
    background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.760682 0.000147746C0.490205 -0.00367747 0.238621 0.138429 0.102266 0.372052C-0.0340887 0.605676 -0.0340887 0.89462 0.102266 1.12824C0.238621 1.36187 0.490205 1.50397 0.760682 1.50015H8.26068V6.00015C7.44088 6.00015 6.76068 6.68035 6.76068 7.50015V9.00015H0.760682C0.490205 8.99632 0.238621 9.13843 0.102266 9.37205C-0.0340887 9.60568 -0.0340887 9.89462 0.102266 10.1282C0.238621 10.3619 0.490205 10.504 0.760682 10.5001H6.76068V15.0001C6.76068 15.8199 7.44088 16.5001 8.26068 16.5001H15.7607C16.0312 16.504 16.2827 16.3619 16.4191 16.1282C16.5555 15.8946 16.5555 15.6057 16.4191 15.3721C16.2827 15.1384 16.0312 14.9963 15.7607 15.0001H8.26068V9.87612C8.27407 9.79513 8.27407 9.71249 8.26068 9.6315V7.50015H8.88471C8.9657 7.51353 9.04834 7.51353 9.12933 7.50015H15.7607C16.0312 7.50397 16.2827 7.36187 16.4191 7.12824C16.5555 6.89462 16.5555 6.60568 16.4191 6.37205C16.2827 6.13843 16.0312 5.99632 15.7607 6.00015H9.76068V1.50015C9.76068 0.680351 9.08048 0.000147746 8.26068 0.000147746H0.760682ZM3.76068 3.00015V4.50015H0.760682C0.490205 4.49632 0.238621 4.63843 0.102266 4.87205C-0.0340887 5.10568 -0.0340887 5.39462 0.102266 5.62824C0.238621 5.86187 0.490205 6.00397 0.760682 6.00015H3.76068V7.50015L6.01068 5.25015L3.76068 3.00015ZM10.5107 11.2501L12.7607 9.00015V10.5001H15.7607C16.0312 10.4963 16.2827 10.6384 16.4191 10.8721C16.5555 11.1057 16.5555 11.3946 16.4191 11.6282C16.2827 11.8619 16.0312 12.004 15.7607 12.0001H12.7607V13.5001L10.5107 11.2501Z' fill='%23D0021B'/%3E%3C/svg%3E%0A") 50% no-repeat;
  }
}

.add-btn{
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM9 9V5H11V9H15V11H11V15H9V11H5V9H9Z' fill='%238F9FB3'/%3E%3C/svg%3E%0A") 50% no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  vertical-align: middle;

  &:hover{
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM9 9V5H11V9H15V11H11V15H9V11H5V9H9Z' fill='%2300293B'/%3E%3C/svg%3E%0A") 50% no-repeat;
  }
}

.accent-red{
  color: #EB000C;
}

.accent-green{
  color: #417505;
}
/*=====================> Paragraphs ========================*/
p {margin-bottom: 25px}


/*=====================> Titles ========================*/
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}

.title-1{
  font-size: $title-1;
  line-height: $line-height;
  color: $accent-color;
}

.title-2{
  font-size: $title-2;
  line-height: $line-height;
}

.title-3{
  font-size: $title-3;
  line-height: $line-height;
}

.title-4{
  font-size: $title-4;
  line-height: $line-height;
}

.title-5{
  font-size: $title-5;
  line-height: $line-height;
}

.title-6{
  font-size: $title-6;
  line-height: $line-height;
  color: $accent-color;
}

.table-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00293b;
  font-family: $font-nunito;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 0 0;
}

.pagination{
  a,
  span{
    display: inline-block;
    color: #7d86a9;
    font-family: $font-nunito;
    font-size: 12px;
    font-weight: 800;
    padding: 0 3px;
  }

  a:hover{
    color: #417505;
  }
}

/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.form-control{
  position: relative;
}

.form-label{
  position: absolute;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #7d86a9;
  font-size: 16px;
  line-height: 1;
  font-family: $font-nunito;
  font-weight: 400;
  transition: all ease 150ms;

  span{
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    position: relative;
  }
}

.search-inp-wrap{
  .form-inp{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.0834 0C3.1706 0 0 3.1706 0 7.0834C0 10.9962 3.1706 14.1668 7.0834 14.1668C8.69863 14.1668 10.1874 13.6265 11.3788 12.7167L13.1186 14.4565C12.8029 15.0587 12.7703 15.6577 13.1023 15.9897L16.8752 19.7626C17.3504 20.2378 18.3856 19.9774 19.1799 19.1799C19.9774 18.3823 20.2378 17.3504 19.7626 16.8752L15.993 13.1023C15.6577 12.7703 15.0587 12.8029 14.4565 13.1154L12.717 11.3785C13.6266 10.1871 14.1668 8.6985 14.1668 7.0834C14.1668 3.1706 10.9962 0 7.0834 0ZM12.717 11.3785L12.3894 11.0515L11.0515 12.3894L11.3788 12.7167C11.8822 12.3323 12.3326 11.882 12.717 11.3785ZM1.66668 7.0834C1.66668 10.075 4.09184 12.5001 7.0834 12.5001C10.075 12.5001 12.5001 10.075 12.5001 7.0834C12.5001 4.09184 10.075 1.66668 7.0834 1.66668C4.09184 1.66668 1.66668 4.09184 1.66668 7.0834Z' fill='%237D86A9'/%3E%3C/svg%3E%0A");
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
    padding-right: 40px;
  }
}

.select2{
  max-width: 100%;
}

.form-inp,
.select2-selection.select2-selection--multiple{
  width: 100%;
  height: 50px;
  border: 1px solid #7d86a9;
  margin:0;
  font-size: 12px;
  padding: 0 15px;
  outline: none;
  position: relative;
  background: none;
  color: #7d86a9;
  color: #00293b;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.2px;
  font-family: $font-nunito;
  position: relative;
  z-index: 10;
  transition: all ease 150ms;

  &:focus{
    border-color: #5ec422;
  }
}

.form-control-wrap{
  display: flex;
  align-items: center;

  .form-inp{
    min-width: 186px;
    margin-left: 10px;
  }
}

.form-inp--sm{
  height: 40px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
  border-color: $accent-color;
}

.select2-container{
  font-family: $font-nunito;
}

.select2-container--default .select2-selection--multiple{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5px;
  padding: 0 5px;
  font-family: $font-nunito;
  border: 1px solid #7d86a9;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='12' height='8' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 12 8'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EPath%3C/title%3E%3Cpath d='M1.5,0v0l-1.5,1.5v0l6.07031,6.07031v0l6.07031,-6.07031v0l-1.5,-1.5v0l-4.57031,4.57031v0z' fill='%237d86a9' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") calc(100% - 19px) 50% no-repeat;

  .select2-selection__choice{
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 27px 0 6px;
    border-radius: 2px;
    position: relative;
    background-color: #edf1f9;
  }

  .select2-selection__choice__remove{
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    color: transparent !important;
    background: url('/assets/images/tag-remove-icon.png') 50% no-repeat;
  }
}

.form-inp:focus ~ .form-label,
.form-inp.state-filled ~ .form-label,
.select2-container--default.select2-container--focus ~ .form-label{
  top: -25px;
  color: #5fc521;
  font-size: 12px;
  font-weight: 700;

  span{
    z-index: 20;
  }
}

.form-row{
  margin-bottom: 16px;
}

[data-layout]{
  display: flex;
}

[data-layout="2"]{
  margin-left: -10px;
  margin-right: -10px;

  >*{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(50% - 20px);
  }
}

[data-layout="3"]{
  margin-left: -10px;
  margin-right: -10px;

  >*{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(33.3% - 20px);
  }
}

.area-wrap{
  position: relative;
}

.area-counter{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;

  &.state-full{
    color: red;
  }
}

textarea.form-inp{
  height: 195px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-tools{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7d86a9;
  font-size: 14px;
  padding: 9px 0 20px;
}

.form-checkbox{
  input{
    display: none;
  }

  input:checked + &__label::before{
    border-color: #5fc521;
    background-position: 50%;
  }

  &__label{
    display: inline-block;
    position: relative;
    vertical-align: middle;

    &::before{
      vertical-align: middle;
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 2px solid #7d86a9;
      border-radius: 3px;
      background: url('/assets/images/checkbox-icon.png') 50% -50px no-repeat;
      margin: -2px 7px 0 0;
      content: '';
    }
  }
}

.form-link{
  color: $accent-color;
  font-weight: 700;
}

.form-btn{
  display: block;
  width: 100%;
  border: 1px solid $accent-color;
  line-height: 38px;
  background-color: $accent-color;
  cursor: pointer;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  font-family: $font-nunito;
  text-align: center;

  &:hover{
    background-color: rgba($accent-color, .8);
    color: #fff;
  }

  &--outline{
    background-color: #fff;
    color: $accent-color;
    border-color: $accent-color;

    &:hover{
      color: #fff;
      background-color: $accent-color;
    }
  }

  &--disabled{
    background-color: #d1d4e0 !important;
    border-color: #d1d4e0 !important;
    color: #fff !important;
    cursor: default;
  }
}

.password-show-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  background: url('/assets/images/password-eye.png') 50% no-repeat;

  &.state-active{
    background-image: url('/assets/images/password-eye-close.png');
  }
}

.resend-link{
  background: url('/assets/images/resend-icon.png') 0 50% no-repeat;
  padding: 0 0 0 22px;
  margin-left: 5px;
}

.profile-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &__img{
    position: relative;

    &::after{
      cursor: pointer;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $accent-color url('/assets/images/edit-icon.png') 50% no-repeat;
      position: absolute;
      right: 0;
      bottom: 0;
      content: '';
    }

    img{
      border-radius: 50%;
    }
  }

  &__caption{
    font-weight: 700;
    padding: 0 0 0 13px;

    a{
      color: $accent-color;
    }
  }
}

.page-content{
  padding: 30px 0;
  background-color: #F1F1F1;
  font-family: $font-nunito;

  &__inner{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title{
    color: #000000;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.52px;
  }

  &__filter-toggle-btn{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #8F9FB3;
    display: inline-block;
    border: none;
    background: none;
    padding-right: 32px;
    cursor: pointer;
    font-family: $font-nunito;
    background: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.874 3H19C19.5523 3 20 3.44772 20 4C20 4.55228 19.5523 5 19 5H16.874C16.4299 6.72523 14.8638 8 13 8C11.1362 8 9.57006 6.72523 9.12602 5H1C0.447716 5 0 4.55228 0 4C0 3.44772 0.447716 3 1 3H9.12602C9.57006 1.27477 11.1362 0 13 0C14.8638 0 16.4299 1.27477 16.874 3ZM13 6C11.8954 6 11 5.10457 11 4C11 2.89543 11.8954 2 13 2C14.1046 2 15 2.89543 15 4C15 5.10457 14.1046 6 13 6ZM3.12602 12H1C0.447716 12 0 12.4477 0 13C0 13.5523 0.447716 14 1 14H3.12602C3.57006 15.7252 5.13616 17 7 17C8.86384 17 10.4299 15.7252 10.874 14H19C19.5523 14 20 13.5523 20 13C20 12.4477 19.5523 12 19 12H10.874C10.4299 10.2748 8.86384 9 7 9C5.13616 9 3.57006 10.2748 3.12602 12ZM7 15C8.10457 15 9 14.1046 9 13C9 11.8954 8.10457 11 7 11C5.89543 11 5 11.8954 5 13C5 14.1046 5.89543 15 7 15Z' fill='%235FC521'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;

    b{
      display: inline-block;
      margin-right: 5px;
      font-weight: 700;
      color: #00293B;
    }
  }

}

.country-item{
  white-space: nowrap;

  &,
  img{
    vertical-align: middle;
  }

  img{
    margin: -3px 5px 0 0;
  }
}