@font-face {
    font-family: 'fan-icons';
    src:  url('../fonts/icons/fan-icons.eot?e93753');
    src:  url('../fonts/icons/fan-icons.eot?e93753#iefix') format('embedded-opentype'),
      url('../fonts/icons/fan-icons.ttf?e93753') format('truetype'),
      url('../fonts/icons/fan-icons.woff?e93753') format('woff'),
      url('../fonts/icons/fan-icons.svg?e93753#fan-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .fan-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fan-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .fan-icon_status_senior-fanalyst:before {
    content: "\e916";
  }
  .fan-icon_status_scout:before {
    content: "\e917";
  }
  .fan-icon_status_rookie:before {
    content: "\e918";
  }
  .fan-icon_status_master-scout:before {
    content: "\e919";
  }
  .fan-icon_status_fanalyst:before {
    content: "\e91a";
  }
  .fan-icon_open-note:before {
    content: "\e91b";
  }
  .fan-icon_close-note:before {
    content: "\e91c";
  }
  .fan-icon_big-arrow-right:before {
    content: "\e91d";
  }
  .fan-icon_upload:before {
    content: "\e900";
  }
  .fan-icon_status_spectator:before {
    content: "\e91e";
  }
  .fan-icon_sort-down:before {
    content: "\e901";
  }
  .fan-icon_share:before {
    content: "\e902";
  }
  .fan-icon_dash-team:before {
    content: "\e903";
  }
  .fan-icon_dash-stadium:before {
    content: "\e904";
  }
  .fan-icon_dash-player:before {
    content: "\e905";
  }
  .fan-icon_plus_circled:before {
    content: "\e906";
  }
  .fan-icon_dash-main:before {
    content: "\e907";
  }
  .fan-icon_dash-game:before {
    content: "\e908";
  }
  .fan-icon_add-report:before {
    content: "\e91f";
  }
  .fan-icon_twitter_circled:before {
    content: "\e909";
  }
  .fan-icon_logout:before {
    content: "\e90a";
  }
  .fan-icon_facebook_circled:before {
    content: "\e90b";
  }
  .fan-icon_dash-seetting:before {
    content: "\e90c";
  }
  .fan-icon_dash-article:before {
    content: "\e90d";
  }
  .fan-icon_status_expert:before {
    content: "\e920";
  }
  .fan-icon_twitter_rect:before {
    content: "\e90e";
  }
  .fan-icon_instagram_rect:before {
    content: "\e90f";
  }
  .fan-icon_facebook_rect:before {
    content: "\e910";
  }
  .fan-icon_close1:before {
    content: "\e911";
  }
  .fan-icon_clock:before {
    content: "\e912";
  }
  .fan-icon_chat-bubble:before {
    content: "\e913";
  }
  .fan-icon_arrow-right:before {
    content: "\e914";
  }
  .fan-icon_arrow-left:before {
    content: "\e915";
  }
  