@mixin avatar-image() {
    position: relative;
    height: 0;
    padding-top: 100%;    
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right:0;
        border-radius: 50%;
        overflow: hidden;
    }
}