@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

$accent-color: #5ec422;
$accent-dark: #00293b;
$color: #000;
$font-family : 'Oswald', sans-serif;
$font-nunito : 'Nunito Sans', sans-serif;
$font-size: 14px;
$line-height: 1.42;
$title-1: 40px;
$title-2: 30px;
$title-3: 20px;
$title-4: 16px;
$title-5: 14px;
$title-6: 12px;

$error-color: #D0021B;