$form-gray-color: #7d86a9;

.form-field, .form-checkbox {
    .form-field__error {
        display: none;
        font-size: 12px;
        padding: 0 15px;
        color: $error-color;
    }
}

.form-field.field_filled  {
    .form-label {
        top: -25px;        
        font-size: 12px;
        font-weight: 700;
        span{
            z-index: 20;
        }
    }
}
.form-field.field_filled:not(.field_error) {
    .form-inp { 
        border-color: $form-gray-color;
    }
    .form-label { 
        border-color: $form-gray-color;       
        color: $form-gray-color        
    }
}
.form-field.field_error {
    .form-inp { 
        border-color: $error-color;
    }
    .form-label { 
        border-color: $error-color;       
        color: $error-color;        
    }
    .form-field__error {
        display: block;
    }
}
.form-checkbox.field_error{
    .form-field__error {
        display: block;
    }
}

.form-field.form-select {
    .multiselect {  
        z-index: 10;      
    }
    .form-label { 
        height: 20px;
        top: 15px;
        right: auto;
        max-width: 90%;
        width: auto;
        white-space: nowrap;
    }
}

.form-field.form-select.field_filled {    
    .form-label { 
        top: -10px;
        font-size: 12px;
        font-weight: 700;
    }
}
.form-field {
    .textfield-container {
        font-family: $font-nunito;
        .mdc-text-field--textarea {
            width: 100%;
        }
    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, 
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, 
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: $form-gray-color;
    }
    .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__leading, 
    .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__notch, 
    .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__trailing {
        border-width: 1px;
        border-color: $accent-color;
    }    
    .mdc-floating-label {
        font-size: 16px;
    }
    .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: $accent-color;
    }
}

.form-field.field_error {    
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, 
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, 
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: $error-color;
    }
    .mdc-floating-label, .mdc-text-field--focused .mdc-floating-label{
        color: $error-color;
    }
    
}
.form-field.form-symbols-limit {
    .mdc-text-field__input {
        padding-bottom: 20px;
    }
}
/*
.form-slider {
    &__wrap {        
        overflow-x: hidden;
        position: relative;

        .mdc-slider{
             &::before {
                content: '';
                background-color: #fff;
                position: absolute;
                bottom: 0;
                right: -24px;
                height: 48px;
                width: 24px;
                z-index: 2;
             }
        }
        
        .mdc-slider__track {
            height: 6px;
            .mdc-slider__track--inactive {
                background-color: transparent;  
            }
            .mdc-slider__track--active {
                border-radius: 0;
                top: 0px;
                background-image: linear-gradient(90deg, #FC3C3C 0%, #F6FF00 47.85%, #417505 100%);
                
                .mdc-slider__track--active_fill {
                    background-color: transparent;
                    border-color: transparent;
                }  
            }
        }
        .mdc-slider__thumb--with-indicator .mdc-slider__value-indicator-container {
            display: none;
            visibility: hidden;
        }
        .mdc-slider .mdc-slider__thumb::before, .mdc-slider .mdc-slider__thumb::after {
            background-color: rgba(0, 0, 0, 0.2);
        }
        .mdc-slider__thumb-knob {            
            width: 24px;
            height: 24px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
            border-width: 0px;
            //border-color: #FFFFFF;
            background-color: palevioletred;
            position: relative;

            &::after {
                display: block;
                content: '';
                position: absolute;
                left: 0px;
                top: 0;                
                width: 100%;
                height: 100%;
                background-color: palevioletred;
                border-radius: 50%;
                z-index: 30;
            }

            &::before {
                display: block;
                content: '';
                position: absolute;
                left: 0px;
                top: 9px;
                bottom: 9px;
                width: 100vw;
                background-color: #F4F4FB;
                z-index: -1
                
            }
        }
    }
    &__mask {
        background-color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 48px;
        width: 24px;
        z-index: 2;
    }



}   
*/
