.opt-comment {
    padding: 10px 3px;
    margin: 0 -3px;   
    overflow: hidden;
    max-height: 100vh;

    &__wrap {
        background: #FFFFFF;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.121804);
        padding: 16px;
        border-radius: 6px;
        position: relative;
        z-index: 0;

        &:before{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: #FFFFFF;
            transform: rotate(45deg); 
            top:-5px;
            right: 15px;
            box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.121804);
            z-index: -1;
        }
        &_show {
            font-family: $font-nunito;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.375;
            color: #00293B;
            padding-bottom: 18px;
        }
    } 

    

    .mdc-text-field__input {
        max-height: 50vh;        
    } 

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input, 
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {      
        color: #00293B;
    }

    .mdc-text-field__resizer {
        max-height: 50vh;
    }  
    //background: #00293B;

}
.comment-slide {
    &-enter-active, &-leave-active {
        transition: max-height 0.3s ease;
    }
    &-enter-from, &-leave-to {
        max-height: 0;
    }
}

// background: #D8D8D8;
// border: 1px solid #979797;




// background: #D8D8D8;
// border: 1px solid #979797;
