.form-slider {
    &__wrap {
        .vue-slider-rail {
            border-radius: 15px;
            background-image: linear-gradient(90deg, #FC3C3C 0%, #F6FF00 47.85%, #417505 100%);            
        }
        .vue-slider-process {
            background-color: transparent;
            border-radius: 3px;
        }
        .vue-slider-pre-process {
            position: absolute;
            z-index: 1;
            height: 100%; 
            top: 0; 
            right: -1px;
            transition-property: width;
            background-color: #F4F4FB;
            border-radius: 3px;
        }
        .vue-slider-dot-handle {
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        }
        .vue-slider-dot-handle.vue-slider-dot-handle-focus {
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
        }
        .vue-slider-dot-hover:hover .vue-slider-dot-tooltip, .vue-slider-dot-tooltip-show {
            display: none;
            visibility: hidden;
        }
    }
}
.form-slider.form-slider_with-zero {
    .form-slider {
        &__label-row {
           display: flex;
           flex-flow: row nowrap;
           justify-content: space-between;
           align-items: center;
        }
        &__label-col {
            font-weight: 900;
            line-height: 1;
        }
        &__label-col_val {
            padding-left: 10px;
            font-family: $font-family;
            font-size: 18px;
        }
        &__label-col_title {
           font-family: $font-nunito;
           font-size: 16px;
        }
        
    }
}
.form-slider.form-slider_with-zero,
.grade { //with result alse
    .form-slider {
        &__marks-row {
            margin-left: -8px;
            margin-right: -8px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
        &__marks-col {
            padding-right: 8px;
            padding-left: 8px;
            width: (100% / 3);
            flex: (100% / 3);
            line-height: 1.5;
            font-family: $font-family;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 500;
        }
        &__marks-col_left {
            text-align: left;
        }
        &__marks-col_right {
            text-align: right;
        }
        &__marks-col_center {
            text-align: center;
        }
    }
}
.form-slider.form-slider_with-comment {
    .slider-label {
        font-family: $font-nunito;
        font-weight: 900;
        font-size: 16px;
        line-height: 1.375;        
        color: #000000;

    }

    .form-slider {
        &__val-row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            .form-slider__wrap {
                flex-grow: 1;
            }
        }
        &__val-col {
            
        }        
        &__val-col_val {
            padding-left: 14px;
            font-family: $font-family;
            font-weight: 700;
            font-size: 18px;
        }
        &__val-col_icon {
            padding-left: 20px;
            .fan-icon {
                cursor: pointer;
                font-size: 32px;
            }
        }
    }
}

.form-slider.form-slider_with-comment {
    .form-slider {
        &__val-col_icon {            
            .fan-icon {
                color: #5FC422;
            }
        }
    }
}

.form-slider.form-slider_with-comment.comment-opened {
    .form-slider {
        &__val-col_icon {            
            .fan-icon {
                color: #D0021B;
            }
        }
    }
}