<template>
    <div v-if="$route.meta.asideBanner">
        <router-view></router-view>
    </div>
    <div class="player" v-else> 
        <player-top-intro>

        </player-top-intro>
         <router-view></router-view>
    </div>
</template>
<script>
import PlayerTopIntro from '@/components/intro/PlayerTopIntro'
export default {
    components: {
        'player-top-intro': PlayerTopIntro
    }
   //TODO player data
}
</script>