<template>
  <main-header v-if="!$route.meta.emptyLayout"/>
  <router-view />
  <main-footer v-if="!$route.meta.emptyLayout"/>
</template>

<script>
import Header from '@/components/header/index';
import Footer from '@/components/Footer';

export default {
  name: 'App',
  components: {
    "main-header" : Header,
    "main-footer" : Footer,
  }
}
</script>
