<template>
    <main class="dashboard__content dashboard__content--transparent">

            <header class="dashboard__content-header">
              <h1 class="dashboard__content-title">My Articles</h1>

              <a href="#" class="dashboard__submit-btn">Submit new Article</a>
            </header>

            <!-- Articles -->
            <div class="my-articles">

              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->
              <!-- Article -->
              <figure class="my-articles__item">
                <div class="my-articles__item-img">
                  <img src="/assets/images/article-img.png" alt="">
                </div>
                <figcaption class="my-articles__item-caption">

                  <div class="my-articles__item-details">
                    <div class="my-articles__item-category"><a href="#">Team news</a></div>
                    <div class="my-articles__item-author">By <a href="#">Josie Hernandes</a></div>
                  </div>

                  <h3 class="my-articles__item-title"><a href="#">Wales Women manager leaves role by mutual consent</a></h3>
                  <p>Jayne Lodlow had been in charge for over six years, leading Wales into the top 30 of the world rankings for the first time...</p>

                  <div class="my-articles__item-info">
                    <time class="my-articles__item-time">9 May 2020</time>
                    <div class="my-articles__item-actions">
                      <a href="#" class="my-articles__item-share">102</a>
                      <a href="#" class="my-articles__item-comments">23</a>
                    </div>
                  </div>

                </figcaption>
              </figure>
              <!-- Article END -->

            </div>
            <!-- Articles END -->

            <a href="#" class="load-more-btn"> Load more Articles</a>

          </main>
</template>