<template>
  <div class="form-field form-select field_filled" :class="{ 'field_error' : !!(this.error)}">
    <div class="form-control">
      <Multiselect 
        v-model="proxyVal"       
        :options="options"        
        :valueProp="valueKey"
        :trackBy="labelKey"
        :label="labelKey"
        :searchable="true"
        mode="tags" 
        :filterResults="false"
        :minChars="1"
        :resolveOnLoad="false"
        :delay="0"
        :object="isValueObject"
       
      >
      </Multiselect> 
      <label class="form-label"><span>{{ label }}</span></label>
    </div>
     <div class="form-field__error" v-if="this.error">{{ error }}</div>
  </div>  
</template>
<script>
import Multiselect from '@vueform/multiselect';
import { ref, watch } from 'vue';

export default {
    name: "select-many-ajax-search",
    components: {
      Multiselect,
    },
    props: {
      modelValue: {},
      placeholder: {type: String, default: null},
      label: {type: String, default: null},
      error: {type: String},     
      name: {type: String},
      formName: {type: String},
      valueKey: {type: String, default: 'id'},
      labelKey: {type: String, default: 'name'},
      isValueObject: {type: Boolean, default: false },
      options: {type: Function }      
    },
    emits: ['update:modelValue', 'reset-error'],   
    setup(props, { emit }) {
      const proxyVal = ref((props.modelValue)? props.modelValue : null);
      watch(() => props.modelValue, (newValue) => {    
          if(newValue != proxyVal.value) {
              proxyVal.value = newValue;
          }
      });
      watch(proxyVal, () => { 
          emit("update:modelValue", proxyVal.value);
          if(props.error) {
              emit("reset-error", {name: props.name, form: {name: props.formName}})
          }
      });      
      return {
        proxyVal              
      }
    }

}
</script>