<template>
  <button :class="className">{{text}}</button>
</template>
<script>
export default {
    name: "btn-submit",
    props: {
      text: {type: String, default: 'Default text'},
      className : {type : String, default : 'form-btn'},
      type : {type: String}
    },
    // data: function() {
    //   // let btnClass = this.className;

    //   if (this.type == 'disabled' || this.type == 'outline'){
    //     this.className = 'form-btn form-btn--outline';
    //   }
    // }
}
</script>