<template>
  <div class="form-field" :class="{'field_filled' : !!(this.modelValue), 'field_error' : !!(this.error)}">  
    <div class="form-control" :class="{'field_filled' : !!(this.modelValue) }">
       <input :type="type" class="form-inp" :name="name" v-if="disabled"
        :value="modelValue"
        >
      <input :type="type" class="form-inp" :name="name" v-else
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value); $emit('reset-error', $event.target);">
      <label class="form-label"><span>{{ label }}</span></label>
    </div>
     <div class="form-field__error" v-if="this.error">{{ error }}</div>
  </div>  
</template>
<script>
export default {
    name: "input-text",
    props: {
      modelValue: {},
      placeholder: {type: String, default: null},
      label: {type: String, default: null},
      error: {type: String},
      type: {type: String, default: 'text'},
      name: {type: String},
      disabled: {type: Boolean, default: false}
    },
    emits: ['update:modelValue', 'reset-error'],
}
</script>