<template>
  <div class="form-control">
    <textarea class="form-inp" :value="value"></textarea>
    <label class="form-label"><span>{{ placeholder }}</span></label>
  </div>
</template>
<script>
export default {
    name: "input-area",
    props: {
      value: {type: String,},
      placeholder: {type: String, default: 'some text'}
    }
}
</script>