<template>
  <div class="form-control">
    <input type="text" class="form-inp">
    <label class="form-label"><span>{{ placeholder }}</span></label>
  </div>
</template>
<script>
export default {
    name: "input-email",
    props: {
      placeholder: {type: String, default: 'some text'}
    }
}
</script>