<template>
  <div class="form-field" :class="{'field_error' : !!(this.error)}">  
     <mcw-textfield :label="label" outline fullwidth multiline v-model="proxyVal" />
     <div class="form-field__error" v-if="this.error">{{ error }}</div>
  </div>  
</template>
<script>
import { ref, watch } from 'vue';
export default {
    name: "input-textarea",
    props: {
      modelValue: {},
      label: {type: String, default: null},
      error: {type: String},     
      name: {type: String},
      formName: {type: String},
    },
    emits: ['update:modelValue', 'reset-error'],   
    setup(props, { emit }) {
      const proxyVal = ref((props.modelValue)? props.modelValue : '');
      watch(() => props.modelValue, (newValue) => {          
          if( newValue != proxyVal.value) {
              proxyVal.value = newValue;
          }
      });
      watch(proxyVal, () => { 
          emit("update:modelValue", proxyVal.value);
          if(props.error) {
              emit("reset-error", {name: props.name, form: {name: props.formName}})
          }
      });      
      return {
        proxyVal              
      }
    }
}
</script>