<template>
  <div class="form-field form-symbols-limit" :class="{'field_error' : !!(this.error)}"> 
    <div class="form-control"> 
      <mcw-textfield :label="label" outline fullwidth multiline v-model="proxyVal" 
        :maxlength="limit" />
      <div class="area-counter state-full">
        <span class="area-counter__current">{{ count }}</span> / 
        <span class="area-counter__total">{{ limit }}</span>
        </div>
      </div>
     <div class="form-field__error" v-if="this.error">{{ error }}</div>
  </div>  
</template>
<script>
import { ref, watch } from 'vue';
export default {
    name: "input-max-symbols",
    props: {
      modelValue: {},
      label: {type: String, default: null},
      error: {type: String},     
      name: {type: String},
      formName: {type: String},
      limit: {type: Number, default: 100}
    },
    emits: ['update:modelValue', 'reset-error'],   
    setup(props, { emit }) {
      const proxyVal = ref((props.modelValue)? props.modelValue : '');
      const count = ref(proxyVal.value.length);
      watch(() => props.modelValue, (newValue) => {          
          if( newValue != proxyVal.value) {
              let val = (newValue) ? newValue: '';
              if(val.length > props.limit) {
                val = val.substring(0, props.limit);
              }
              proxyVal.value = val;
              count.value = val.length;
          }
      });
      watch(proxyVal, () => {
          if(proxyVal.value.length > props.limit) {
            proxyVal.value = proxyVal.value.substring(0, props.limit);            
          }
          count.value = proxyVal.value.length;
          emit("update:modelValue", proxyVal.value);
          if(props.error) {
            emit("reset-error", {name: props.name, form: {name: props.formName}})
          }
      });      
      return {
        proxyVal,
        count              
      }
    }
}
</script>