<template>  
    <label class="form-checkbox" :class="{'field_error' : !!(this.error)}">
      <input type="checkbox" :checked="modelValue" :name="name"
         :value="modelValue"         
        @input="$emit('update:modelValue', $event.target.checked); $emit('reset-error', $event.target);"
      />
      <span class="form-checkbox__label" v-html="label"></span>
      <span class="form-field__error" v-if="this.error">{{ error }}</span>
    </label> 
</template>
<script>
export default {
    name: "input-checkbox",
    props: {
      modelValue: {},
      placeholder: {type: String, default: 'some text'},
      label: {type: String, default: ''},
      error: {type: String},
      name: {type: String},   
    },
    emits: ['update:modelValue', 'reset-error'],    
}
</script>