<template>
  <div class="form-field" :class="{'field_filled' : !!(this.modelValue), 'field_error' : !!(this.error)}">
    <div class="form-control" >
      <input :type="fieldType" class="form-inp" :name="name"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value);  $emit('reset-error', $event.target);"
        >
      <label class="form-label"><span>{{ label }}</span></label>
      <span class="password-show-btn" :class="{'state-active': (this.fieldType == 'password')}" role="button" @click="changeTypeHandler"></span>
    </div>   
    <div class="form-field__error" v-if="this.error">{{ error }}</div>
  </div>
</template>
<script>
import { ref } from 'vue';

export default {
    name: "input-password",
    props: {
      modelValue: {},
      placeholder: {type: String, default: null},
      label: {type: String, default: null},
      error: {type: String},
      name: {type: String},      
    },
    emits: ['update:modelValue', 'reset-error'],
    setup() { //props, context
      const fieldType = ref('password');      
     
      const changeTypeHandler = () => {
         fieldType.value = (fieldType.value === 'password') ? 'text': 'password';
      }
      return {
        fieldType,
        changeTypeHandler,
        // fieldError,
        // changeErrorState
      }
    }
}
</script>