<template>
  <div class="form-field form-slider form-slider_with-comment" :class="{'field_error' : !!(this.error), 'comment-opened': this.isOpenComment}">  
    <label class="slider-label">{{ label }}</label>
    <div class="form-slider__val-row">
      <div class="form-slider__wrap">    
        <vue-slider :value="value" @change="onChange"
          :height="6"
          dotSize="24"
          :min="0"
          :max="10"
          :interval="0.1"
          >
          <template v-slot:process="{style}">
            <div class="vue-slider-process" :style="[style]">           
            </div>
            <div class="vue-slider-pre-process" :style="{ width: (100 - parseFloat(style.width)) + '%', transitionDuration: style.transitionDuration}">
            </div>
          </template>
        </vue-slider>
      </div>
      <div class="form-slider__val-col form-slider__val-col_val">
        {{ value }}
      </div>
      <div class="form-slider__val-col form-slider__val-col_icon">
          <i class="fan-icon fan-icon_close-note" v-if="isOpenComment" 
            role="button" @click="toggleComment(false)"></i>
          <i class="fan-icon fan-icon_open-note" v-else 
            role="button" @click="toggleComment(true)"></i>
      </div>
    </div>
    <transition name="comment-slide"> 
      <div class="opt-comment" v-if="isOpenComment">
          <div class="opt-comment__wrap">             
                <mcw-textfield label="Write Your Comment" outline fullwidth multiline rows="3"
                v-model="proxyComment" />
          </div>
      </div>
    </transition>
  </div>  
</template>
<script>
import VueSlider from 'vue-slider-component';
import { ref, watch } from 'vue';

export default {
    name: "slider-zero-center",
    components: {
      'vue-slider': VueSlider,
    },
    // 
    props: {
      value: {},
      comment: {type: String, default: ''},
      label: {type: String, default: null},
      error: {type: String},     
      name: {type: String},
      //TODO
    }, 
    // data() {
    //   return {
    //      isOpenComment: false,
    //      proxyComment: ''
    //   }
    // },   
    // methods: {
    //   onChange(value) {
    //     this.$emit('update:value', value);       
    //   }
    // },
    emits: ['update:value', 'reset-error', 'update:comment'],
    setup(props, { emit }) {
      const proxyComment = ref((props.comment)? props.comment : '');
      const isOpenComment = ref(false);
      const onChange = (value) =>{
        emit('update:value', value);       
      }
      const toggleComment = (value) => {
          isOpenComment.value = value;
      }
      watch(() => props.comment, (newValue) => {          
          if( newValue != proxyComment.value) {
              proxyComment.value = newValue;
          }
      });
      watch(proxyComment, () => { 
          emit("update:comment",proxyComment.value);         
      });      
      return {
        proxyComment,
        onChange,
        isOpenComment,
        toggleComment
      }
    }
}

</script>