<template>
  <div class="form-field form-slider form-slider_with-zero" :class="{'field_error' : !!(this.error)}">  
    <div class="form-slider__label-row">
        <div class="form-slider__label-col form-slider__label-col_title">
          {{ label }}
        </div>
        <div class="form-slider__label-col form-slider__label-col_val">
          {{ modelValue }}
        </div>
    </div>
    <div class="form-slider__wrap">     
       <vue-slider :value="modelValue" @change="onChange"
        :height="6"
        dotSize="24"
        :min="-50"
        :max="50"
        :interval="1"
        >
        <template v-slot:process="{style}">
          <div class="vue-slider-process" :style="[style]">           
          </div>
          <div class="vue-slider-pre-process" :style="{ width: (100 - parseFloat(style.width)) + '%', transitionDuration: style.transitionDuration}">
          </div>
        </template>
       </vue-slider>
      </div>
     <div class="form-slider__marks-row">
        <div class="form-slider__marks-col form-slider__marks-col_left"
          v-html="markLeft">
        </div>
        <div class="form-slider__marks-col form-slider__marks-col_center"
          v-html="markCenter">
        </div>
        <div class="form-slider__marks-col form-slider__marks-col_right"
          v-html="markRight">
        </div>
     </div>
     <div class="form-field__error" v-if="this.error">{{ error }}</div>
    
  </div>  
</template>
<script>
import VueSlider from 'vue-slider-component';

export default {
    name: "slider-zero-center",
    components: {
      'vue-slider': VueSlider,
    },
    props: {
      modelValue: {},
      label: {type: String, default: null},
      error: {type: String},     
      name: {type: String},
      markLeft: {type: String},
      markCenter: {type: String},
      markRight: {type: String}
    },    
    methods: {
      onChange(value) {
        this.$emit('update:modelValue', value);       
      }
    },
    emits: ['update:modelValue', 'reset-error'],
}
//  :value="modelValue"
//         @input="value => { $emit('update:modelValue', value) }"
</script>