<template>
  <div class="modal__verification-fields">
      <input type="text" class="modal__verification-field" maxlength="1"
          ref="code0" name="code0"
          @input="codeHandler"
          autocomplete="off"/>
      <input type="text" class="modal__verification-field" maxlength="1"
          ref="code1" name="code1"
          @input="codeHandler"
          autocomplete="off" />
      <input type="text" class="modal__verification-field" maxlength="1"
          ref="code2" name="code2"
          @input="codeHandler"
          autocomplete="off" />
      <input type="text" class="modal__verification-field" maxlength="1"
          ref="code3" name="code3"
          @input="codeHandler"
          autocomplete="off" />
      <input type="text" class="modal__verification-field" maxlength="1"
          ref="code4" name="code4"
          @input="codeHandler"
          autocomplete="off" />
  </div> 
</template>
<script>
const refsNames = ['code0', 'code1', 'code2', 'code3', 'code4'];
export default {
    name: "verification-fields",
    props: {
      modelValue: {},
    },
    emits: ['update:modelValue'],
    data() {
      return {
        rawCode: ['', '', '', '', ''],
        isSending: false,
        msg: {
            text: null,
            type: null,
        }        
      }
    },
    methods: {
        codeHandler(ev) {
            const name = ev.target.name;
            const index = refsNames.indexOf(name);
            if(index < 0) return;
            let value = ev.target.value;
            if(value.length > 1) {
                value = value.substring(0, 1);
                ev.target.value = value;
            }
            this.rawCode[index] = value;
            if( (index < (refsNames.length - 1)) && (value.length === 1)) {
                const next = refsNames[index + 1];
                this.$refs[next].focus();
            }
            const code = this.rawCode.join('');
            this.$emit("update:modelValue", code);            
        },        
    }
}
</script>